<section class="section-padding m-3">
  <div class="container garantia" data-aos="fade-right">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 col-12">
        <div class="garantia-card" data-aos="fade-left" data-aos-delay="100">
          <div class="garantia-card-details">
            <h4 class="text-title">NUESTRA GARANTÍA</h4>
            <span class="text-body text-start">Como parte de nuestro plan de mejora continua, incrementar nuestro conocimiento es un <b>factor clave en la búsqueda del éxito.</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
