<section class="section-padding m-3">
  <div class="container garantia" data-aos="fade-right">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 col-12">
        <div class="garantia-card" data-aos="fade-left" data-aos-delay="100">
          <div class="garantia-card-details">
            <h4 class="text-title">NUESTRA GARANTÍA</h4>
            <h5 class="text-body text-start"><b>Garantizamos</b> servicios, certificados y avalados internacionalmente con enfoque estratégico y tecnológico. Nuestro compromiso incluye atención continua y emergente para asegurar el bienestar de los clientes.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
