.garantia {
  position: relative;
  min-height: 500px;
  background: url(src/assets/img/website/garantia.png) center/cover no-repeat;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  align-items: flex-end; /* Alinea la tarjeta en la parte inferior de la imagen de fondo */
  padding-bottom: 5%; /* Espacio inferior para la tarjeta */
}

.garantia-card {
  max-width: 95%; /* Ajusta el ancho máximo para que sea más responsivo */
  border-radius: 10px;
  background: rgba(236, 243, 254, 0.87);
  padding: 2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  z-index: 2;
}

.garantia-card-details {
  color: black;
  gap: .5em;
  display: grid;
  place-content: center;
  text-align: center; /* Añadido para centrar el texto */
}

.text-body {
  color: rgb(134, 134, 134);
}

/* Text */
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  text-align: left; /* Añadido para centrar el texto */
}

/* Hover */
.garantia-card:hover {
  border-color: #9E9E9E;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.text-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0; /* Centra la línea en el texto */
  width: 20%;
  height: 3px;
  background-color: #000000;
  transform: translateX(0%); /* Centra horizontalmente la línea */
  /* Inicialmente la línea está oculta */
  transform-origin: left;
  transition: transform 0.3s ease;
}

.garantia-card:hover .text-title::after {
  transform: scaleX(2);
  background-color: #9E9E9E;
}


