<div class="container">
  <div class="col-12 d-flex justify-content-center  align-items-center icons-divisiones">
    <a class="header2-navbar" routerLink="/plagas"><img src="assets/img/website/SVG-Icono-Division-07.svg" alt="Control de Plagas"></a>
    <a class="header2-navbar" routerLink="/limpieza"><img src="assets/img/website/SVG-Icono-Division-08.svg" alt="Limpieza y Desinfección"></a>
    <a class="header2-navbar" routerLink="/jardines"><img src="assets/img/website/SVG-Icono-Division-09.svg" alt="Prados y Jardines"></a>
    <a class="header2-navbar" routerLink="/sanitizacion"><img src="assets/img/website/SVG-Icono-Division-10.svg" alt="Sanitización"></a>
  </div>
</div>
