.icons-divisiones img{
  margin-top: 60px;
  height: 80px;
  min-width: 80px;
  position: relative;
}

.header2-navbar {
  transition: transform 0.4s ease;
  padding: 0;
}

.header2-navbar:hover {
  transform: scale(1.1);
}
