<app-header></app-header>
<section class="video-background" id="portada">
  <div class="container-fluid px-0">
    <img src="assets/img/website/banner-limpieza.png" class="hero" alt="Portada-Ecovitali">
    <div class="video-background__content" data-aos="fade-up">
      <img src="assets/img/website/SVG-Icono-Division-12.svg" class="icon-limpieza" alt="Control de Plagas"><span class="text-light fw-semibold m-0 mb-3">Limpieza y Sanitización</span>
      <h1 class="text-center text-light">Ambientes limpios,<br> empresas y hogares saludables.</h1>
      <h5 class="text-center text-light fw-normal">Descubre el poder de una limpieza impecable</h5>
      <div (click)="scrollToSection('nosotros')" class="custom-btn-section mt-4"><img src="assets/img/website/flecha.svg">Conoce más sobre nuestra división</div>
    </div>
  </div>
</section>

<!-- <section class="limpieza">
  <div class="container py-5" data-aos="fade-up">
    <div class="row align-content-center">
      <div class="col-12 container-limpieza">
        <div class="text-center">
          <img src="assets/img/website/SVG-Icono-Division-12.svg" class="icon-limpieza" alt="Control de Plagas">
          <p class="text-white fw-semibold text-center">Limpieza y Sanitización</p>
        </div>
        <h1 class="h1-cp">Ambientes limpios, <br>empresas y hogares saludables.</h1>
        <h2 class="h2-cp d-none d-md-block mt-2">Descubre el poder de una limpieza Impecable.</h2>
        <div (click)="scrollToSection('nosotros')" class="custom-btn-section mt-2"><img
            src="assets/img/website/flecha.svg" class="align-content-center"><span>Conoce más sobre
            nuestra división</span></div>
      </div>
    </div>
  </div>
</section> -->


<section class="section-padding" id="nosotros">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-5 col-12 pe-5">
        <div class="d-flex p-3 align-items-center"><img src="assets/img/website/iconos/check-celeste.svg"><span class="p-2 text-celeste">Confiabilidad en tu hogar y tu empresa</span></div>
        <h1 class="mt-5">Una Nueva Solución para tu Hogar y tu Empresa</h1>
        <p class="mt-2 text-start">Ambientes limpios y sanos que aportan al orden y mejoran la productividad.</p><br>
        <div class="d-flex justify-content-lg-start justify-content-center">
          <a routerLink="/nosotros" class="btn btn-dark mt-3 p-3">Conoce más sobre nosotros</a>
        </div>
      </div>
      <div class="col-lg-6 col-12 d-none d-sm-flex align-items-end mt-lg-0 mt-4 px-0">
        <img src="assets/img/website/Limpieza-hero.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row d-flex col-lg-12 col-12">
      <div class="col-lg-6 col-md-12 col-12">
        <img src="assets/img/website/limpieza-section.png" class="img-fluid" alt="Limpieza de Interiores">
      </div>
      <div class="col-lg-6 col-md-12 col-12 px-5">
        <h2 class="fw-semibold my-3 mt-5">Tu Bienestar es Nuestra Prioridad</h2>
        <p class="mb-5 text-start">Priorizamos tu salud y calidad de vida garantizando entornos limpios y seguros en cada
          servicio, con personal capacitado que garantizan resultados.</p>
        <div class="my-4" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Comprometidos con tu Salud</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="200"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Profesionales de Confianza</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="250"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Trabajo Garantizado</span> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container-fluid">
    <div class="row m-md-4">
      <!-- Imagen 1 -->
      <div class="col-lg-6 col-12 order-lg-2 order-1 mb-3 mt-2" data-aos="fade-up">
        <img src="assets/img/website/LimpiezaOficinas.png" class="img-fluid" alt="Limpieza de Oficinas">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-6 col-12 order-lg-1 order-2 mb-3 mt-2" data-aos="fade-up">
        <div class="card-limpieza p-4 p-md-5">
          <h2 class="fw-bold title-limpieza">LIMPIEZA DE OFICINAS</h2>
          <span class="text-start">Descubre la excelencia en cada detalle. Nuestro equipo de expertos en limpieza de oficinas se dedica
            apasionadamente y a diario superamos las expectativas de nuestros clientes. Nuestro personal de limpieza
            cuenta con la mejor capacitación en labores de limpieza.
          </span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-6 col-12 order-lg-3 order-3 mt-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/website/LimpiezaProfunda.png" class="img-fluid" alt="Limpieza Profunda">
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-6 col-12 order-lg-4 order-4 mt-2" data-aos="fade-up" data-aos-delay="100">
        <div class="card-limpieza p-4 p-md-5">
          <h2 class="fw-bold title-limpieza">LIMPIEZA DE PROFUNDA</h2>
          <span class="text-start">Contamos con un equipo de expertos altamente capacitados que se dedican a eliminar meticulosamente la
            suciedad y los gérmenes de cada rincón de tu espacio. Utilizamos técnicas y productos de limpieza de
            última tecnología que aseguran un entorno no solo visualmente limpio, sino también verdaderamente
            saludable y seguro.
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- ================== GARANTIA ================== -->
  <app-garantia></app-garantia>

  <div class="container-fluid">
    <div class="row m-lg-4">
      <!-- Imagen 1 -->
      <div class="col-lg-6 col-12 order-lg-2 order-1 mb-3 mt-2" data-aos="fade-up">
        <img src="assets/img/website/LimpiezaFinalObra.png" class="img-fluid" alt="Limpieza de Oficinas">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-6 col-12 order-lg-1 order-2 mb-3 mt-2" data-aos="fade-up">
        <div class="card-limpieza p-3 p-md-5">
          <h2 class="fw-bold title-limpieza">LIMPIEZA FINAL DE OBRAS</h2>
          <span class="text-start">Lleva tu proyecto a su máxima expresión. Eliminamos meticulosamente restos de construcción, polvo y residuos, dejando cada rincón impecable y listo para su uso. Con técnicas avanzadas para garantizar un resultado final brillante y seguro. Con nosotros, puedes confiar en que tu obra estará lista para recibir a sus ocupantes sin preocupaciones.</span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-6 col-12 order-lg-3 order-3 mt-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/website/LimpiezaIndustrial.png" class="img-fluid" alt="Limpieza Profunda">
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-6 col-12 order-lg-4 order-4 mt-2" data-aos="fade-up" data-aos-delay="100">
        <div class="card-limpieza p-3 p-md-5">
          <h2 class="fw-bold title-limpieza">LIMPIEZA INDUSTRIAL</h2>
          <span class="text-start">Abordamos las demandas rigurosas de entornos de producción y fabricación. Con manejo profesional y capacitado de maquinaria pesada y productos químicos industriales. Nos enfocamos en la eliminación de residuos, grasa y otros contaminantes, garantizando así un entorno de trabajo seguro y eficiente. Nuestra prioridad es optimizar la funcionalidad de tu instalación.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-contactform imagenContacto="assets/img/website/contacto-limpieza.png" botonColor="#644193"></app-contactform>
</section>
<app-footer></app-footer>
