.text-celeste {
  color: #118AC5;
}

.icon-limpieza {
  width: 6em;
  height: 6em;
}

span {
  font-size: .8rem;
}

.h1-cp {
  color: var(--white-color);
  letter-spacing: -1px;
}

.h2-cp {
  color: var(--white-color);
  line-height: 40px;
}

.sectores {
  height: 100vh;
}

.logos {
  width: 120px;
  height: 120px;
}

.background-limpieza {
  position: absolute;
  background: #644193;
  border-radius: 0px 0px 0px 300px;
  width: 200%;
  height: 100vh;
  z-index: 1;
}

.limpieza-img {
  width: 30em;
  position: relative;
  left: 140px;
  z-index: 2;
  bottom: -5px;
}

.limpieza-hero{
  width: auto;
  position: absolute;
}

.btn-contratanos {
  border-radius: 8px;
  border: 2px solid #130F26;
}

.btn-llama-profesional {
  background: #130F26;
  border-radius: 8px;
  width: auto;
  border: 2px solid #130F26;
  color: #ffffff;
}

.limpieza-icon {
  width: 10em;
  position: relative;
  z-index: 2;
}

.check-limpieza {
  top: 10%;
  position: relative;
  z-index: 2;
  width: 10em;
}

.certificados {
  margin: auto;
  width: 100px;
  height: 100px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.certificados:hover {
  transform: scale(1.1); /* Escala el elemento al 110% en hover */
}

.issa {
  margin-top: 25px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 60px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.issa:hover {
  transform: scale(1.1); /* Escala el elemento al 110% en hover */
}

.card-limpieza {
  background: #f9f8f8;
  display: grid;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.card-limpieza {
  height: 100%;
}

.title-limpieza {
  color: #282828;
  text-align: flex-start;
}


.checks-innovacion {
  background: #f4f0f8;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 8px;
}

.container-innovacion {
  background: #FFFFFF;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
}
