<app-header></app-header>
<section class="jardineria">
  <div class="container py-5 text-center">
    <div class="d-block justify-content-center row mx-lg-5 mx-5">
      <div class="col-12 container-plagas">
        <div class="mx-lg-5 mx-0 mt-5">
          <div class="d-block text-center">
            <img src="assets/img/website/SVG-Icono-Division-13.svg" class="icon-plagas" alt="Control de Plagas">
            <p class="text-white fw-semibold text-center">Prados y Jardines</p>
          </div>
          <h1 class="h1-cp">Jardinería de excelencia para <br> hogares y empresas.</h1>
          <h2 class="h2-cp d-none d-md-block mt-3">Embelleciendo las áreas comunes, un jardín a la vez.</h2>
          <div (click)="scrollToSection('sectores')" class="custom-btn-section mt-4"><img src="assets/img/website/flecha.svg" class="align-content-center"><span class="px-2">Conoce más sobre nuestra división</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container" data-aos="fade-right" id="sectores">
  <div class="row">
    <div class="d-flex align-content-center align-items-center">
      <div class="d-block col-7">
        <h2 class="fw-bold text-center">TRABAJAMOS PARA TU <br>BIENESTAR</h2>
        <p class="text-center mt-3">Cuidado y mantenimiento de áreas verdes en manos de los expertos.</p>
        <div class="container d-flex justify-content-around">
          <a routerLink="/empresas" class="card card-sectores col-md-5 col-12 m-3 p-3">
            <span class="icon text-center m-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-buildings"
                viewBox="0 0 16 16">
                <path
                  d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                <path
                  d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
              </svg>
            </span>
            <h4 class="text-center">SECTOR EMPRESARIAL</h4>
            <p class="text-center">Talento humano profesional altamente capacitado y certificado</p>
          </a>
          <a routerLink="/residencias" class="card card-sectores col-md-5 col-12 m-3 p-3">
            <span class="icon bi-house text-center m-2"></span>
            <h4 class="text-center">SECTOR <br>RESIDENCIAL</h4>
            <p class="text-center">Su hogar y su familia protegidos en un entorno libre de plagas garantizado.</p>
          </a>
        </div>
      </div>
      <div class="d-flex col-5">
        <img src="assets/img/website/hero-jardineria.jpg" class="img-fluid hero-img-jardines" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding" id="catalogo">
  <div class="container">
    <div class="row">
      <div class="text-center col-12">
        <span class="btn-servicios">Catálogo de Productos</span>
        <h2 class="text-center">Conoce Nuestro Trabajo</h2>
        <span>Modelos de Jardines</span>
      </div>
      <div class="d-flex justify-content-around col-12">
        <div class="card m-3">
          <img class="card-img-top img-fluid img-card" src="assets/img/website/modelo-jardin.png">
          <!-- Card content -->
          <div class="card-body">
            <h4 class="card-title fw-semibold">Modelo XYZ</h4>
            <span class="card-text">$80</span>
            <div class="d-flex justify-content-end">
              <button href="" class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card m-3">
          <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png">
          <!-- Card content -->
          <div class="card-body">
            <h4 class="card-title fw-semibold">Modelo XYZ</h4>
            <span class="card-text">$80</span>
            <div class="d-flex justify-content-end">
              <button href="" class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card m-3">
          <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png">
          <!-- Card content -->
          <div class="card-body">
            <h4 class="card-title fw-semibold">Modelo XYZ</h4>
            <span class="card-text">$80</span>
            <div class="d-flex justify-content-end">
              <button href="" class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card m-3">
          <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png">
          <!-- Card content -->
          <div class="card-body">
            <h4 class="card-title fw-semibold">Modelo XYZ</h4>
            <span class="card-text">$80</span>
            <div class="d-flex justify-content-end">
              <button href="" class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-12 px-lg-0 p-3">
        <img src="assets/img/website/jardineria-calidad.png" class="img-fluid img-jardines" alt="Jardinera de la división de Ecovitali">
      </div>
      <div class="col-lg-6 col-12">
        <div class="flex-item align-content-center align-items-center">
          <div class="row">
            <div class="col-lg-6 col-12 px-lg-0 p-3">
              <div class="card card-jardineria color-card">
                <div class="d-flex justify-content-center">
                  <img src="assets/img/website/iconos/Calidad-jardines.svg" class="img-fluid icon-card" alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Calidad en nuestro trabajo</h4>
                  <p class="card-text">¡Adelántate al futuro de la jardinería! En nuestra empresa nos enorgullece estar a la vanguardia de la innovación en el cuidado de jardines.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 px-lg-0 pe-lg-3 p-3">
              <div class="card card-jardineria">
                <div class="d-flex justify-content-center">
                  <img src="assets/img/website/iconos/Excelencia-jardines.svg" class="img-fluid icon-card" alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Excelencia en cada Detalle</h4>
                  <p class="card-text">Descubre la excelencia en cada detalle. Nuestro equipo de expertos en jardinería se dedica apasionadamente a crear paisajes impresionantes y vibrantes.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 px-lg-0 p-3">
              <div class="card card-jardineria">
                <div class="d-flex justify-content-center">
                  <img src="assets/img/website/iconos/Protegiendo-jardines.svg" class="img-fluid icon-card" alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Protegiendo la integridad del medio ambiente</h4>
                  <p class="card-text">Nuestro enfoque sostenible y respetuoso del medio ambiente se refleja en cada acción que tomamos. Utilizamos prácticas responsables, evitando el uso excesivo de químicos y promoviendo la biodiversidad.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 px-lg-0 pe-lg-3 p-3">
              <div class="card card-jardineria color-card">
                <div class="d-flex justify-content-center">
                  <img src="assets/img/website/iconos/Servicio-jardines.svg" class="img-fluid icon-card" alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Servicio Garantizado</h4>
                  <p class="card-text">Tu satisfacción es nuestra máxima prioridad. Nos enorgullece ofrecer un servicio excepcional que supera tus expectativas en cada paso del camino.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="garantia">
  <app-garantia></app-garantia>
</section>
<section class="section-padding banner-jardineria2 d-flex">
  <div class="container align-content-center align-items-center d-flex">
    <div class="row">
      <div class="col-6">
        <h4 class="text-white fw-semibold">Ingresa tu correo electrónico para recibir notificaciones sobre nuestras promociones</h4>
      </div>
      <div class="col-6">
        <div class="input-group my-3">
          <input type="text" class="form-control" placeholder="Ingresa tu correo" aria-label="mail" aria-describedby="input-group-button-right">
          <button type="button" class="btn btn-success" id="input-group-button-right">Suscríbete</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contactform imagenContacto="assets/img/website/contacto-jardineria.png" botonColor="#EF7912"></app-contactform>
<app-footer></app-footer>
