<app-header></app-header>
<div class="header-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-start">
        <div class="container__titulos" [@fadeinUp]>
          <h1 class="h1-titulo" [@fadeinUp]="tituloActual"> {{ tituloActual }} </h1>
        </div>
        <!-- RULETA -->
        <div class="icon-container" [@rotateIcon]="{ value: activeImageIndex, params: { prevAngle: currentRotationAngle - 45, currentAngle: currentRotationAngle } }">
          <div class="divisiones control-plagas">
            <a routerLink="/" (click)="changeActiveImageIndex(0)">
              <img src="./assets/img/website/SVG-Icono-Division-07.svg" alt="Control de Plagas" />
            </a>
          </div>
          <div class="divisiones limpieza">
            <a routerLink="/" (click)="changeActiveImageIndex(1)">
              <img src="./assets/img/website/SVG-Icono-Division-08.svg" alt="Limpieza" />
            </a>
          </div>
          <div class="divisiones jardines">
            <a routerLink="/" (click)="changeActiveImageIndex(2)">
              <img src="./assets/img/website/SVG-Icono-Division-09.svg" alt="Jardines" />
            </a>
          </div>
          <div class="divisiones sanitizacion">
            <a routerLink="/" (click)="changeActiveImageIndex(3)">
              <img src="./assets/img/website/SVG-Icono-Division-10.svg" alt="Sanitización" />
            </a>
          </div>
        </div>
        <!-- BOTONES DE NAVEGACIÓN-->
        <div class="controls">
          <button id="prevButton">Prev</button>
          <button id="nextButton">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

    <button class="custom-btn-section mt-5">Conoce más acerca de este servicio</button>
    <div class="container justify-content-center text-center">
      <div [ngClass]="{'darkMode': darkMode}">
        <a routerLink="/">
          <img [src]="darkMode ? './assets/img/website/south-arrow-ligth.svg' : './assets/img/website/south-arrow-dark.svg'" class="custom-btn-section mt-2">
        </a>
      </div>
    </div>

<div class="container section-padding">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
      <div class="section-medium">
        <h1 class="fw-semibold text-center text-lg-start">Mejorando su <strong>Salud y Calidad de vida</strong></h1>
        <p class="text-center text-lg-start">En Ecovitali no exageramos cuando decimos que su bienestar es nuestra prioridad</p>
        <div class="text-center text-lg-start">
          <button type="submit" routerLink="/contacto" class="btn-look-more">
            Ver más
          </button>
          <button type="submit" routerLink="/contacto" class="btn-m-v">Misión y Visión</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 col-lg-6 col-xl-6 text-center mx-auto">
      <div class="img-supervisores img-fluid float-xl-end" alt="Supervisores-Ecovitali"></div>
    </div>
  </div>
</div>
<section >
  <div class="container section-padding">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-servicios">Puntos claves de</div>
        <h2 class="fw-semibold">Nuestro Servicio</h2>
        <p class="mb-3">Comprometidos con la calidad y excelencia</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center text-sm-center text-lg-start text-xl-start">
      <div class="col-12 col-md-12 col-lg-4 col-xl-5">
        <ul class="list-unstyled list-points">
          <img src="./assets/img/website/inspeccion.svg" class="svg-icon">
          <li class="mt-2 mb-5"><b>Inspección y Prevención</b>
            <br>Inspeccionamos los puntos críticos y sus riesgos, permitiéndonos tomar acciones preventivas o
            correctivas, eficaces y eficientes.
          </li>
          <img src="./assets/img/website/estructura.svg" class="svg-icon">
          <li class="mb-5"><b>Estructura y Conocimiento</b> <br>Diseñamos el plan de acción en conjunto con la mejor
            tecnología disponible y el respaldo científico actualizado.</li>
          <img src="./assets/img/website/equipo.svg" class="svg-icon">
          <li class="mb-5"><b>Equipo y tecnología</b> <br>Con el uso de herramientas digitales y un equipo altamente
            capacitado, garantizamos el seguimiento del servicio y resultados.</li>
        </ul>
      </div>
      <div class="col-12 col-md-12 col-lg-8 col-xl-7">
        <div class="container-services img-fluid text-center float-xl-end">
          <div class="serv-colum-1">
            <div class="serv-1"></div>
            <div class="serv-2"></div>
          </div>
          <div class="serv-colum-2">
            <div class="serv-3"></div>
            <div class="serv-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="img-garantia img-fluid">

        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-content">
              <h3 class="card-title">Título de la tarjeta</h3>
              <p class="card-text">Contenido de la tarjeta Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
                laborum!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<app-footer></app-footer>
