.header-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkmode .header-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-img {
  width: 68%;
  max-height: 70vh;
  margin-bottom: auto;
  position: relative;
}

.icon-container {
  width: 160px;
  height: 160px;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  font-weight: bolder;
  color: var(--text-color);
  transition: all 0.5s;
  text-decoration: none;
  margin: 30px auto;
  cursor: pointer;
}

.icon-container:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.icon-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.svg-elements {
  width: 200px;
  height: 200px;
}


.darkMode-button {
  width: 40px;
  height: 40px;
}
