.header-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.darkmode .header-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HERO */
.container__titulos {
  display: block;
  align-items: flex-start;
  text-align: center;
  width: 500px;
  margin: 40px;
}

.h1-titulo {
  color: var(--dark-color);
  text-align: left;
  font: 400 100px/110px "Anton", sans-serif;
  margin-top: 40px;
  position: relative;
  width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Contenedor de divisiones */

.carousel {
  position: relative;
  width: 700px;
  height: 700px;
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #141C24;
}

.carousel img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
}

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  z-index: -1; /* hide the slide behind */
  object-fit: cover;
}
.carousel-slide:nth-child(1) {
  transform: rotate(0deg) translateX(-50%) translateY(-100%);
}

.carousel-slide:nth-child(2) {
  transform: rotate(45deg) translateX(-50%) translateY(-100%);
}

.carousel-slide:nth-child(3) {
  transform: rotate(90deg) translateX(-50%) translateY(-100%);
}

.carousel-slide:nth-child(4) {
  transform: rotate(135deg) translateX(-50%) translateY(-100%);
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 90%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.icon-container {
  box-sizing: border-box;
  width: 900px;
  height: 510px;
  position: relative;
  left: 20%;
  top: 10%;
}

.control-plagas {
  border-radius: 561.83px;
  width: 250px;
  height: 250px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-15deg) scale(1, 1);
}

.control-plagas img {
  border-radius: 258.44px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  transition: box-shadow 0.3s ease;
}

.control-plagas img:hover{
  box-shadow: 0px 4.49px 56.18px 0px rgba(104, 50, 231, 0.5);
}

.limpieza {
  border-radius: 561.83px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 550px;
  top: -170px;
  transform-origin: 0 0;
  transform: rotate(15deg) scale(1, 1);
}

.limpieza img {
  border-radius: 258.44px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  transition: box-shadow 0.3s ease;
}
.limpieza img:hover{
  box-shadow: 0px 4.49px 56.18px 0px rgba(237, 152, 44, 0.5);
}

.jardines {
  border-radius: 561.83px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 880.43px;
  top: 194.44px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}

.jardines img {
  border-radius: 258.44px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  transition: box-shadow 0.3s ease;
}
.jardines img:hover {
  box-shadow: 0px 4.49px 56.18px 0px rgba(18, 231, 182, 0.5);
}

.sanitizacion {
  border-radius: 561.83px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 900.69px;
  top: 720.36px;
  transform-origin: 0 0;
  transform: rotate(75deg) scale(1, 1);
}

.sanitizacion img {
  border-radius: 258.44px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  transition: box-shadow 0.3s ease;
}

.sanitizacion img:hover {
  box-shadow: 0px 4.49px 56.18px 0px rgba(0, 94, 216, 0.5);
}




/* .icon-container {
  width: 150px;
  height: 160px;
  backdrop-filter: blur(6px);
  font-weight: bolder;
  color: var(--text-color);
  transition: all 0.5s;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
}

.icon-container img {
  width: 120px
}

.icon-container .darkmode {
  width: 150px;
  height: 160px;
  backdrop-filter: blur(6px);
  font-weight: bolder;
  color: var(--text-color);
  transition: all 0.5s;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
}

.icon-container:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.icon-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
} */

/* ícono darkMode */
.darkMode-button {
  width: 40px;
  height: 40px;
}

/* BOTONES */
.btn-look-more {
  cursor: pointer;
  color: var(--bkg-color);
  font-weight: var(--font-weight-normal);
  transition: all .5s;
  padding: 15px 45px;
  border-radius: 10px;
  background: #141C24;
  border: 2px solid transparent;
}

.btn-look-more:hover {
  background: #243241;
  transform: translateY(10px);
}

.btn-m-v {
  cursor: pointer;
  margin-left: 30px;
  color: #243241;
  font-weight: var(--font-weight-normal);
  transition: all .5s;
  padding: 15px 45px;
  border-radius: 10px;
  background: var(--bkg-color);
  border: 2px solid;
}

.btn-m-v:hover {
  background: #dee1e5;
  transform: translateY(10px);
}

.btn-servicios {
  background-color: #dce0e7;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  border-radius: 20px;
  border: 10px solid transparent;

}

/* MARGIN DE LA SECCIÓN DE SUPERVISORES */
.section-medium {
  margin-top: 250px;
}

@media (max-width: 900px) {
  .section-medium {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .section-medium {
    margin-top: 0;
  }
}

.img-supervisores {
  background: url('src/assets/img/website/portada.webp');
  width: 500px;
  height: 700px;
  border-radius: 6px;
  background-size: cover;
  margin-top: 20px;
  background-position: center;
}

/* .svg-icon {
  filter: invert(1);
} */

.container-services {
  width: 620px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
}

.serv-colum1,
.serv-colum2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 280px;
  flex-shrink: 0;
  flex-grow: 0;
}

.serv-colum2 {
  align-items: end;
}

.serv-1,
.serv-2,
.serv-3,
.serv-4 {
  width: 280px;
  border-radius: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  margin: 16px;
}

.serv-1,
.serv-4 {
  height: 332px;
  background: url("src/assets/img/website/andres.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.serv-2 {
  height: 198px;
  background: url("src/assets/img/website/andres.webp");

}

.serv-3 {
  height: 198px;
  background: url("src/assets/img/website/andres.webp");
  background-repeat: no-repeat;
}

.serv-4 {
  height: 332px;
  background: url("src/assets/img/website/andres.webp");
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-content {
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
}

