.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-position: center center; /* Centra la imagen en el elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  object-fit: cover;
}

.img-propuesta {
  border-radius: 0 0 20px 20px;
  width: 95%;
  position: relative;
  z-index: 2;
  height: 95%;
}

.img-construir {
  border-radius: 20px;
  width: 90%;
  position: relative;
  z-index: 2;
  height: 98%;
}

.resultados-container {
  background: #ECF3FE;
  border-radius: 20px;
  position: relative;
  color: #000000;
  text-align: left;
  width: 100%;
  padding-right: 2rem;
}

.img-exito {
  position: absolute;
  width: 55px;
  height: 55px;
  right: 7%;
  z-index: 3;
}

.resultados-title {
  color: #000000;
  font: 700 30px/100% 'Montserrat', sans-serif;
}

.resultados-text {
  color: #000000;
  font: 600 20px/100% 'Montserrat', sans-serif;
}

/* Estilos para el contenedor de divisiones */
.division-container {
  margin-bottom: 20px;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--shadow-box-shadow, 0px 20px 30px 0px rgba(0, 0, 0, 0.20));
}

.division-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  position: relative;
}

.division-text {
  margin: 0;
  font-size: 0.92rem;
  color: #1e1e1e;
}

.titulo-plagas {
  color: #028537;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-limpieza {
  color: #542f88;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-jardines {
  color: #c14b17;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-desinfeccion {
  color: #1e81ad;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-seguridad {
  color: #e7b400;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-equipos_contraincendios {
  color: #bc181a;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-climatizacion {
  color: #00dbe9;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-reparacion {
  color: #757575;
  font: 800 1.02rem 'Montserrat', sans-serif;
}
.titulo-administracion_bienes {
  color: #012dc9;
  font: 800 1.02rem 'Montserrat', sans-serif;
}

.icon-sector {
  box-sizing: border-box;
  display: flex;
  width: auto;
  padding: 20px;
  height: auto;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-weight: 600;
  color: black;
  transition: transform 0.3s ease;
  margin: 15px;
  justify-items: center;
  border-radius: 10px;
}
.serv-alimentos { background: #ECF3FE;}
.serv-bebidas { background: #FEF8E6;}
.comercio { background: #fdf4f0;}
.hoteles { background: #e7faf3 ;}
.procesadores { background: #f1f1fb;}
.farmacias { background: #ecf3fe;}
.centro-comercial { background: #fef8e6;}
.inst-gubernamentales { background: #fdf4f0;}
.centros-salud { background: #e7faf3;}
.centro-educacion { background: #f1f1fb;}
.bodegas { background: #ecf3fe;}
.logistica { background: #fef8e6;}
.banca { background: #fdf4f0;}
.sectores { background: #e7faf3;}

.icon-sector:hover {
  transform: scale(1.1); /* Escala el elemento al 110% en hover */
}
.icon-sector img {
  width: 55px;
  height: 55px;
  padding: 10px;
}
.icon-sector span {
  display: flex;
  font-size: 0.75em;
}

.img-supervisor {
  width: 70%;
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.rectangle-background {
  position: absolute;
  background: #DAFFF6;
  border-radius: 30px;
  bottom: 0;
  right: 10%;
  width: 200%;
  height: 300px;
}

/* Estilo del contenedor principal */
.tecnologia {
  position: relative;
  padding: 100px 0;
  background-image: url('../../../assets/img/website/supervisor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
}
/* Capa oscura */
.tecnologia::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* Estilo del contenido encima de la imagen de fondo */
.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
}

.container-ofr-servicios {
  width: auto;
  height: auto;
  border-radius: 30px;
  background: #f3f3f3;
  position: relative;
  text-align: justify;
}
.container-pasion-ciencia {
  width: auto;
  height: auto;
  border-radius: 30px;
  background: #DAFFF6;
  position: relative;
  text-align: justify;
}

.container-innovacion {
  background: #ecf3fe;
  border-radius: 20px;
}

.innovacion {
  color: #0029ff;
  font: 700 1em 'Montserrat', sans-serif;
}

.title-tecnologia {
  color: #282828;
}

.cards-container {
  background: #ffffff;
  border-radius: 30px;
  width: auto;
}

.cards-container > div > img {
  max-width: 30%;
}


/* CSS para reorganizar elementos en pantallas pequeñas */
@media (max-width: 768px) {
  .container-pasion-ciencia,
  .container-ofr-servicios {
    flex-direction: column; /* Cambia la dirección de los elementos */
    text-align: left;
  }

  .container-pasion-ciencia img,
  .container-ofr-servicios img {
    margin: auto; /* Centra la imagen */
  }

  .container-pasion-ciencia span,
  .container-ofr-servicios span {
    padding: 20px;
  }
}
