<div class="header-container section">
  <div class="container">
    <div class="dark-mode-button light-mode-button">
      <div [ngClass]="{'darkMode': darkMode}" (click)="toggleDarkMode()">
        <img [src]="darkMode ? './assets/img/website/darkMode-sol.svg' : './assets/img/website/darkMode-luna.svg'">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
        <div [ngClass]="{'darkMode': darkMode, 'light-mode': !darkMode}">
          <img [src]="darkMode ? 'assets/img/website/Logo-Ecovitali-Blanco.webp' : 'assets/img/website/Logo-Ecovitali-Gris.webp'" alt="Imagen" class="img-fluid header-img m-0">
        </div>
      </div>
    </div>
    <div class="row justify-content-between text-center">
      <div class="d-flex col-6 col-md-2 col-lg-2 col-xl-2">
        <div class="icon-container" [ngClass]="{'darkMode': darkMode, 'light-mode': !darkMode}">
          <a (click)="redirectToServicios()">
            <img [src]="darkMode ? 'assets/img/website/SVG-Icono-Division-11.svg' : '/assets/img/website/SVG-Icono-Division-07.svg'" alt="Control de Plagas">
          </a>
          <span class="fw-bold">Control de Plagas</span>
        </div>
      </div>
      <div class="d-flex col-6 col-md-2 col-lg-2 col-xl-2">
        <div class="icon-container" [ngClass]="{'darkMode': darkMode, 'light-mode': !darkMode}">
          <a (click)="redirectToServicios()">
            <img [src]="darkMode ? '/assets/img/website/SVG-Icono-Division-12.svg' : '/assets/img/website/SVG-Icono-Division-08.svg'" alt="Limpieza y Desinfección">
          </a>
          <span class="fw-bold">Limpieza y Desinfección</span>
        </div>
      </div>
      <div class="d-flex col-6 col-md-2 col-lg-2 col-xl-2">
        <div class="icon-container" [ngClass]="{'svg-elements': darkMode}">
          <a (click)="redirectToServicios()">
            <img [src]="darkMode ? '/assets/img/website/SVG-Icono-Division-13.svg' : '/assets/img/website/SVG-Icono-Division-09.svg'" alt="Prados y Jardines">
          </a>
          <span class="fw-bold">Prados y Jardines</span>
        </div>
      </div>
      <div class="d-flex col-6 col-md-2 col-lg-2 col-xl-2">
        <div class="icon-container" [ngClass]="{'svg-elements': darkMode}">
          <a (click)="redirectToServicios()">
            <img [src]="darkMode ? '/assets/img/website/SVG-Icono-Division-14.svg' : '/assets/img/website/SVG-Icono-Division-10.svg'" alt="Sanitización">
          </a>
          <span class="fw-bold">Sanitización</span>
        </div>
      </div>
    </div>
  </div>
</div>
