<app-header></app-header>
<section class="video-background" id="portada">
  <img src="assets/img/website/portada.png" class="hero" alt="Portada-Ecovitali">
  <div class="video-background__content" data-aos="fade-up">
    <span class="text-light">Soluciones Integrales</span>
    <h1 class="text-center text-light">Creamos espacios que generan <br>bienestar</h1>
    <h5 class="text-center text-light fw-normal">Grupo Empresarial Ecovitali te ayuda a que las personas se sientan <br>más seguras y productivas en sus espacios de trabajo.</h5>
    <div (click)="scrollToSection('propuesta')" class="custom-btn-section mt-4"><img src="assets/img/website/flecha.svg">Explora Nuestros Procesos</div>
  </div>
</section>
<!--=========================================== PROPUESTA ===========================================-->
<section id="propuesta">
  <div class="container">
    <div class="row p-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <div class="d-flex col-lg-5 col-md-6 col-sm-12 position-relative">
        <img src="assets/img/website/propuesta.png" alt="Propuesta Ecovitali" class="img-fluid img-propuesta">
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 p-lg-5 p-2 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center fw-bold">Una propuesta de valor agregado</h2>
        <p class="text-center fst-italic fw-bold">Tu bienestar es nuestra prioridad</p>
        <p>Contribuimos a la sociedad creando espacios que promueven el bienestar de las personas y aportamos a las empresas para que alcancen su máximo potencial.</p>
        <br><p>Con soluciones inteligentes y un talento humano comprometido con la excelencia, establecemos y seguimos los máximos estándares de calidad y seguridad en nuestros servicios. Ofrecemos soluciones integrales y fluidas, cumpliendo e incluso superando el marco legal, normativas, reglamentos y demás disposiciones afines.
        </p>
      </div>
    </div>
  </div>
</section>
<!--=========================================== CERTIFICACIONES ===========================================-->
<section class="section-padding" data-aos="fade-right" id="certificaciones">
  <app-certificados></app-certificados>
 <div class="container pt-5">
  <div class="row p-3 align-items-center">
    <div class="col-xl-5 col-lg-5 col-md-12">
      <div class="mt-3 p-5 resultados-container">
        <h2 class="resultados-title">RESULTADOS EXITOSOS <br></h2>
        <img src="assets/img/website/iconos/exito.svg" class="img-exito" alt="Resultados de éxito">
        <span class="resultados-text">con estrategias técnicas <br> y profesionales.</span>
      </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-12 p-lg-5">
      <div class="d-flex align-items-center">
        <h5 class="p-3 text-justify"><b>Nos destacamos</b> como una de las pocas organizaciones con la capacidad de ofrecer un servicio integral, y nos distinguimos aún más al ser los únicos que incorporamos los elevados estándares de calidad y seguridad en la entrega de servicios de excelencia desde nuestros inicios.</h5>
      </div>
    </div>
  </div>
 </div>
</section>
<!--=========================================== DIVISIONES EMPRESARIALES ===========================================-->
<section class="section-padding container" data-aos="fade-up" id="construimos-personas">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="fw-bold">Nuestras Divisiones Empresariales</h2>
    </div>
  </div>
  <div class="row mt-5">
    <!--================= CONTROL DE PLAGAS =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12 atropos my-atropos">
      <a routerLink="/plagas">
        <div class="division-container">
          <img src="assets/img/website/control-plagas.png" class="division-img" alt="Control de Plagas">
          <div class="p-4">
            <div class="mb-2 titulo-plagas">CONTROL DE PLAGAS</div>
            <p class="division-text">Libérate de las plagas de una vez por todas con nuestra experiencia en control de plagas.
              Regresa a un hogar o negocio sin preocupaciones
            </p>
            <div class="d-flex justify-content-between align-content-center mt-3">
              <a routerLink="/plagas">
                <img src="assets/img/website/iconos/arrow-narrow-right-plagas.svg" alt="">
              </a>
              <a routerLink="/plagas">
                <img src="assets/img/website/iconos/ECOVITALI_Division_Plagas.svg" width="70px" alt="">
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--================= LIMPIEZA =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <a routerLink="/limpieza">
        <div class="division-container">
          <img src="assets/img/website/limpieza.png" class="division-img" alt="Limpieza y Sanitización">
          <div class="p-4">
            <div class="mb-2 titulo-limpieza">LIMPIEZA Y SANITIZACIÓN</div>
            <p class="division-text text-">Deja que nos encarguemos de los detalles sucios. Con nuestra limpieza y desinfección, puedes relajarte y vivir sin preocupaciones.
            </p>
            <div class="d-flex justify-content-between align-content-center mt-3">
              <a routerLink="/limpieza">
                <img src="assets/img/website/iconos/arrow-narrow-right-limpieza.svg" alt="">
              </a>
              <a routerLink="/limpieza">
                <img src="assets/img/website/iconos/ECOVITALI_Division_Limpieza.svg" width="70px" alt="">
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--================= PRADOS Y JARDINES =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <a routerLink="/jardines">
        <div class="division-container">
          <img src="assets/img/website/prados.png" class="division-img" alt="Prados y Jardines">
          <div class="p-4">
            <div class="mb-2 titulo-jardines">PRADOS Y JARDINES</div>
            <p class="division-text">Nuestros expertos en prados y jardinería hacen que tu paisaje sea el orgullo de la comunidad. Tu jardín, nuestro compromiso.
            </p>
            <div class="d-flex justify-content-between align-content-center mt-3">
              <a routerLink="/jardines">
                <img src="assets/img/website/iconos/arrow-narrow-right-prados.svg" alt="">
              </a>
              <a routerLink="/jardines">
                <img src="assets/img/website/iconos/ECOVITALI_Division_Prados_Jardines.svg" width="70px" alt="">
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--================= DESINFECCION =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <a routerLink="/desinfeccion">
        <div class="division-container">
          <img src="assets/img/website/desinfeccion.png" class="division-img" alt="Desinfección">
          <div class="p-4">
            <div class="mb-2 titulo-desinfeccion">DESINFECCION</div>
            <p class="division-text">Nuestro equipo de seguridad altamente capacitado está listo para mantener a salvo tu hogar o negocio. Siéntete seguro, siempre.
            </p>
            <div class="d-flex justify-content-between align-content-center mt-3">
              <a routerLink="/desinfeccion">
                <img src="assets/img/website/iconos/arrow-narrow-right-desinfeccion.svg" alt="">
              </a>
              <a routerLink="/desinfeccion">
                <img src="assets/img/website/iconos/ECOVITALI_Division_Desinfeccion.svg" width="70px" alt="">
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--================= SEGURIDAD Y CONTROL =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/seguridad.png" class="division-img" alt="Seguridad y Control">
        <div class="p-4">
          <div class="mb-2 titulo-seguridad">SEGURIDAD Y CONTROL</div>
          <p class="division-text">Nuestros equipos contra incendios de calidad te brindan la tranquilidad de saber que estás listo para cualquier emergencia.
          </p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <a routerLink="#">
              <img src="assets/img/website/iconos/arrow-narrow-right-seguridad.svg" alt="">
            </a>
            <a routerLink="#">
              <img src="assets/img/website/iconos/ECOVITALI_Division_Seguridad.svg" width="70px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--================= EQUIPOS CONTRA INCENDIOS =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/equipos-incendios.png" class="division-img" alt="Control de Plagas">
        <div class="p-4">
          <div class="mb-2 titulo-equipos_contraincendios">EQUIPOS CONTRA INCENDIOS</div>
          <p class="division-text">Nuestros servicios de mantenimiento garantizan que tu inversión en climatización rinda al máximo. Eficiencia energética y comodidad.
          </p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <a routerLink="#">
              <img src="assets/img/website/iconos/arrow-narrow-right-equipos-incendios.svg" alt="">
            </a>
            <a routerLink="#">
              <img src="assets/img/website/iconos/ECOVITALI_Division_Equipos_contraincendios.svg" width="70px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-5 mt-5">
      <div class="custom-btn-section" (click)="verMas = !verMas">
        <img src="assets/img/website/flecha.svg" class="rotate-arrow" [style.transform]="verMas ? 'rotate(180deg)' : ''">
        Ver más Divisiones
      </div>
    </div>
    <!--================= CLIMATIZACION =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="100" *ngIf="verMas" [ngClass]="{'fadeIn': verMas, 'show': verMas}">
      <div class="division-container">
        <img src="assets/img/website/climatizacion.png" class="division-img" alt="Control de Plagas">
        <div class="p-4">
          <div class="mb-2 titulo-climatizacion">CLIMATIZACIÓN</div>
          <p class="division-text">Nuestro equipo de expertos en mantenimiento y reparación se encarga de todos los detalles. Tu propiedad, en manos confiables.
          </p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <a routerLink="#">
              <img src="assets/img/website/iconos/arrow-narrow-right-climatizacion.svg" alt="">
            </a>
            <a routerLink="#">
              <img src="assets/img/website/iconos/ECOVITALI_Division_Climatizacion.svg" width="70px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--================= REPARACION Y MANTENIMIENTO =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300" *ngIf="verMas" [ngClass]="{'fadeIn': verMas, 'show': verMas}">
      <div class="division-container">
        <img src="assets/img/website/mantenimiento-reparacion.png" class="division-img" alt="Control de Plagas">
        <div class="p-4">
          <div class="mb-2 titulo-reparacion">REPARACIÓN Y MANTENIMIENTO</div>
          <p class="division-text">Nuestro conjunto de servicios auxiliares se adapta a tus necesidades individuales. Calidad y confianza en cada tarea.
          </p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <a routerLink="#">
              <img src="assets/img/website/iconos/arrow-narrow-right-reparacion.svg" alt="">
            </a>
            <a routerLink="#">
              <img src="assets/img/website/iconos/ECOVITALI_Division_Reparacion.svg" width="70px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--================= ADMINISTRACION DE BIENES Y SERVICIOS =================-->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600" *ngIf="verMas" [ngClass]="{'fadeIn': verMas, 'show': verMas}">
      <div class="division-container">
        <img src="assets/img/website/administracion.png" class="division-img" alt="Control de Plagas">
        <div class="p-4">
          <div class="mb-2 titulo-administracion_bienes">ADMINISTRACION DE BIENES Y SERVICIOS</div>
          <p class="division-text">Nuestra experiencia en administración de propiedades garantiza un retorno sólido de tu inversión. Estamos comprometidos con tu éxito.</p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <a routerLink="#">
              <img src="assets/img/website/iconos/arrow-narrow-right-administracion.svg" alt="">
            </a>
            <a routerLink="#">
              <img src="assets/img/website/iconos/ECOVITALI_Division_Administracion.svg" width="70px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--=========================================== SECTORES DE TRABAJO ===========================================-->
<div class="container mb-5" data-aos="fade-up" id="bienestar">
  <div class="row justify-content-center p-md-3 p-3">
    <h3 class="text-center fw-semibold">CONSTRUIMOS BIENESTAR A TRAVÉS DE LA ESPECIALIZACIÓN EN CADA SECTOR</h3>
    <p class="mt-3">En <b>ECOVITALI</b> trabajamos por el éxito de nuestros clientes, mientras generamos bienestar
      laboral social. Nuestros servicios integrales o especializados constituyen una ventaja competitiva y contribuyen a
      la eficiencia e incremento de tu rentabilidad, enfocándote en tu verdadero negocio; sea cual sea tu sector,
      trabajamos por el éxito de tu organización.</p>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
      <a routerLink="/sectores/procesadores-alimentos" class="d-flex align-items-center justify-content-center icon-sector serv-alimentos">
        <img src="assets/img/website/iconos/ECOVITALI_Procesadores_alimentos_bebidas.svg"
          alt="Procesadores de alimentos y bebidas">
        <span>Procesadores de alimentos y bebidas</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
      <a routerLink="/sectores/servicios-alimentos-bebidas" class="d-flex align-items-center justify-content-center icon-sector serv-bebidas">
        <img src="assets/img/website/iconos/ECOVITALI_Servicio_alimentos_bebidas.svg"
          alt="Servicio de alimentos y bebidas">
        <span>Servicio de alimentos y bebidas</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
      <a routerLink="/sectores/comercio" class="d-flex align-items-center justify-content-center icon-sector comercio">
        <img src="assets/img/website/iconos/ECOVITALI_Comercio_por_menor_por_mayor.svg"
          alt="Comercio al por mayor y menor">
        <span>Comercio al por mayor y menor</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
      <a routerLink="/sectores/hoteles" class="d-flex align-items-center justify-content-center icon-sector hoteles">
        <img src="assets/img/website/iconos/ECOVITALI_Servicios_hoteleros_complementarios.svg"
          alt="Servicios hoteleros">
        <span>Servicios hoteleros y complementarios</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
      <a routerLink="/sectores/material-empaque" class="d-flex align-items-center justify-content-center icon-sector procesadores">
        <img src="assets/img/website/iconos/ECOVITALI_Industria_material_empaque.svg"
          alt="Procesadores de empaques y papeleras">
        <span>Procesadores de empaques y papeleras</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
      <a routerLink="/sectores/farmaceutico" class="d-flex align-items-center justify-content-center icon-sector farmacias">
        <img src="assets/img/website/iconos/ECOVITALI_Farmacéutica_distribución.svg"
          alt="Farmaceuticas y centros de distribución">
        <span>Farmaceuticas y centros de distribución</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
      <a routerLink="/sectores/urbanizaciones" class="d-flex align-items-center justify-content-center icon-sector centro-comercial">
        <img src="assets/img/website/iconos/ECOVITALI_Urbanizaciones_edificios.svg" alt="Centros Comerciales ">
        <span>Centros comerciales, edificios y urbanizaciones</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
      <a routerLink="/sectores/instalaciones-gubernamentales" class="d-flex align-items-center justify-content-center icon-sector inst-gubernamentales">
        <img src="assets/img/website/iconos/ECOVITALI_Instalaciones_gubernamentales.svg"
          alt="Instalaciones gubernamentales">
        <span>Instalaciones gubernamentales</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
      <a routerLink="/sectores/hospitales" class="d-flex align-items-center justify-content-center icon-sector centros-salud">
        <img src="assets/img/website/iconos/ECOVITALI_Centros_salud clínicas _hospitales.svg" alt="Centros de salud">
        <span>Centros de salud, clínicas y hospitales</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
      <a routerLink="/sectores/centros-educativos" class="d-flex align-items-center justify-content-center icon-sector centro-educacion">
        <img src="assets/img/website/iconos/ECOVITALI_Centros_educación_exposicion.svg" alt="Centros de Educación">
        <span>Centros de educación y salones de exposición</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
      <a routerLink="/sectores/bodegas" class="d-flex align-items-center justify-content-center icon-sector bodegas">
        <img src="assets/img/website/iconos/ECOVITALI_Bodegas_centros_distribución.svg" alt="Bodegas">
        <span>Bodegas y centros de distribución</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
      <a routerLink="/sectores/logistica" class="d-flex align-items-center justify-content-center icon-sector logistica">
        <img src="assets/img/website/iconos/ECOVITALI_Logística_carga.svg" alt="Centros de logística y carga">
        <span>Centros y maquinaria de logística y carga</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
      <a routerLink="/sectores/instituciones-financieras" class="d-flex align-items-center justify-content-center icon-sector banca">
        <img src="assets/img/website/iconos/ECOVITALI_Instituciones_financieras.svg" alt="Banca e instituciones">
        <span>Banca e instituciones financieras</span>
      </a>
    </div>
    <div class="d-flex col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
      <a routerLink="/sectores/otros-sectores" class="d-flex align-items-center justify-content-center icon-sector sectores">
        <img src="assets/img/website/iconos/ECOVITALI_Otros_sectores_empresariales.svg" alt="Sectores emmpresariales">
        <span>Otros sectores empresariales</span>
      </a>
    </div>
  </div>
</div>
<section class="container section-padding" data-aos="fade-up">
  <div class="row p-3">
    <div class="col-xl-6 col-lg-6 col-md-12 col-12 d-flex flex-column justify-content-center">
      <h2 class="text-lg-center text-sm-center fw-bold">Construimos espacios a través de personas</h2>
      <p class="mt-3">Son ellas quienes definen los espacios, por ello, colaboramos estrechamente con nuestros equipos y la comunidad en general, manteniendo un enfoque estratégico, técnico y operativo de alto nivel. <br>
      <p>Contamos con un talento humano altamente capacitado y preparado para ofrecer soluciones que se traduzcan en la creación de espacios que contribuyan hoy a la sociedad del mañana.<br>
      <p>Nuestros valores nos impulsan y dan forma a quiénes somos y a lo que hacemos, fortaleciendo nuestro compromiso con los clientes, las personas y los lugares a los que servimos.
      </p>
      <div class="d-flex justify-content-center">
        <a routerLink="/nosotros" class="custom-btn-section mt-3 mb-5">Conoce más sobre nosotros <img src="assets/img/website/arrow-left.svg"></a>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-12 p-4 position-relative d-flex justify-content-end">
      <img src="assets/img/website/espacios.png" class="img-fluid img-construir" alt="Ejecutivos Ecovitali reunidos">
    </div>
  </div>
</section>
<!--=========================================== CIENCIA Y CONOCIMIENTO ===========================================-->
<section data-aos="fade-up">
  <div class="container">
    <div class="row p-lg-0 p-3">
      <div class="col-lg-5 col-12 position-relative d-none d-lg-block">
        <div class="rectangle-background"></div>
        <img src="assets/img/website/Supervisor-Excelencia.png" class="img-supervisor img-fluid" alt="Supervisor-Excelencia">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-12 mt-5">
        <h3 class="fw-bold">Nuestra pasión por la Ciencia y el Conocimiento</h3>
        <h5 class="mt-4">En <b>ECOVITALI</b> siempre estamos buscando las mejores opciones para mejorar nuestros servicios.</h5>
        <div class="container-ofr-servicios my-4 p-lg-4 p-2 d-flex align-items-center" data-aos="fade-right" data-aos-delay="300">
          <img src="assets/img/website/iconos/servicios-excelencia.svg" class="p-lg-3 p-3 img-fluid" alt="Servicio de Excelencia">
          <p class="mx-3"><b>Desarrollamos servicios de excelencia</b> mediante la inversión constante en nuestro equipo y valores que respaldan nuestra misión de contribuir a un mundo mejor, más justo e inclusivo, respetando siempre el medio ambiente.</p>
        </div>
        <div class="container-pasion-ciencia p-lg-4 p-2 d-flex align-items-center" data-aos="fade-right" data-aos-delay="400">
          <img src="assets/img/website/iconos/pasion-ciencia.svg" class="p-lg-3 p-3 img-fluid" alt="Pasión por la ciencia">
          <p class="mx-3"><b>Nuestra pasión por la ciencia</b> y la colaboración con expertos globales nos impulsa a innovar constantemente en tecnología y procesos, garantizando calidad y sostenibilidad en beneficio de la sociedad y el medio ambiente.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=========================================== GARANTIA ===========================================-->
<app-garantia></app-garantia>
<section class="section-padding">
  <div class="container">
    <div class="row container-innovacion p-lg-4 p-3">
      <div class="col-lg-5 col-12 mt-3">
        <span class="innovacion">INNOVACIÓN Y</span> <br>
        <h1 class="title-tecnologia fw-bold">Tecnología que aporta bienestar y precisión</h1>
        <p class="mt-4 text-start"><b>ECOVITALI</b> utiliza tecnología avanzada para operaciones transparentes, precisas y en su compromiso por un mundo mejor.</p>
        <div class="d-flex align-items-center">
          <img src="assets/img/website/iconos/Check-verde.svg" class="img-fluid d-flex">
          <span class="p-3">Amigables con el medio ambiente</span>
        </div>
        <div class="d-flex">
          <img src="assets/img/website/iconos/Check-verde.svg" class="img-fluid d-flex">
          <span class="align-items-center p-3">Certificados y avalados</span>
        </div>
        <div class="mt-5 mb-5 p-3 px-5 btn btn-dark">Conoce más</div>
      </div>
      <div class="col-lg-3 col-md-5 col-12 mx-lg-3 m-0">
        <div class="cards-container p-4" data-aos="fade-right" data-aos-delay="100">
          <div>
            <img src="assets/img/website/iconos/Icon-trasparencia.svg" class="img-fluid">
          </div>
          <h5 class="mt-3 fw-bold">Transparecia de datos</h5>
          <span>La tecnología garantiza la integridad y transparencia de la información para generar confianza en las operaciones.</span>
        </div>
        <div class="cards-container mt-4 p-4" data-aos="fade-right" data-aos-delay="300">
          <div>
            <img src="assets/img/website/iconos/Icon-comunicacion.svg" class="img-fluid">
          </div>
          <h5 class="mt-3 fw-bold">Comunicación Eficiente</h5>
          <span>Permite una comunicación fluida y coordinación efectiva tanto internamente como con socios y clientes.</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-12 mx-lg-3 m-0">
        <div class="cards-container mt-4 p-4" data-aos="fade-right" data-aos-delay="100">
          <div>
            <img src="assets/img/website/iconos/Icon-calendario.svg" class="img-fluid">
          </div>
          <h5 class="mt-3 fw-bold">Planificación precisa</h5>
          <span>Facilita una planificación eficiente y basada en datos para reducir el derroche de recursos.</span>
        </div>
        <div class="cards-container mt-4 p-4" data-aos="fade-right" data-aos-delay="300">
          <div>
            <img src="assets/img/website/iconos/Icon-ecologia.svg" class="img-fluid">
          </div>
          <h5 class="mt-3 fw-bold">Ecología Inteligente</h5>
          <span>La tecnología mide y reduce la huella de carbono de la empresa, respaldando su compromiso con la sostenibilidad.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
