.header-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.darkmode .header-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.header-img {
  width: 60%;
  min-height: 10vh;
  min-height: auto;
  margin-bottom: 0 auto;
  position: relative;
}

.icon-container {
  width: 150px;
  height: 160px;
  backdrop-filter: blur(6px);
  font-weight: bolder;
  color: var(--text-color);
  transition: all 0.5s;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
}

.icon-container img {
  width: 120px
}

.icon-container .darkmode {
  width: 150px;
  height: 160px;
  backdrop-filter: blur(6px);
  font-weight: bolder;
  color: var(--text-color);
  transition: all 0.5s;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
}

.icon-container:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.icon-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/* ícono darkMode */
.darkMode-button {
  width: 40px;
  height: 40px;
}

/* BOTONES */
.btn-look-more {
  cursor: pointer;
  color: var(--bkg-color);
  font-weight: var(--font-weight-normal);
  transition: all .5s;
  padding: 15px 45px;
  border-radius: 10px;
  background: #141C24;
  border: 2px solid transparent;
}

.btn-look-more:hover {
  background: #243241;
  transform: translateY(10px);
}

.btn-m-v {
  cursor: pointer;
  margin-left: 30px;
  color: #243241;
  font-weight: var(--font-weight-normal);
  transition: all .5s;
  padding: 15px 45px;
  border-radius: 10px;
  background: var(--bkg-color);
  border: 2px solid;
}

.btn-m-v:hover {
  background: #dee1e5;
  transform: translateY(10px);
}

.btn-servicios {
  background-color: #dce0e7;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  border-radius: 20px;
  border: 10px solid transparent;

}

/* MARGIN DE LA SECCIÓN DE SUPERVISORES */
.section-medium {
  margin-top: 250px;
}

@media (max-width: 900px) {
  .section-medium {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .section-medium {
    margin-top: 0;
  }
}

.img-supervisores {
  background: url('src/assets/img/website/portada.webp');
  width: 500px;
  height: 700px;
  border-radius: 6px;
  background-size: cover;
  margin-top: 20px;
  background-position: center;
}

/* .svg-icon {
  filter: invert(1);
} */

.container-services {
  width: 620px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center;
  overflow: hidden;
  background-size: contain;
}

.serv-colum1,
.serv-colum2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 280px;
  flex-shrink: 0;
  flex-grow: 0;
}

.serv-colum2 {
  align-items: end;
}

.serv-1,
.serv-2,
.serv-3,
.serv-4 {
  width: 280px;
  border-radius: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  margin: 16px;
}

.serv-1,
.serv-4 {
  height: 332px;
  background: url("src/assets/img/website/andres.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.serv-2 {
  height: 198px;
  background: url("src/assets/img/website/andres.webp");

}

.serv-3 {
  height: 198px;
  background: url("src/assets/img/website/andres.webp");
  background-repeat: no-repeat;
}

.serv-4 {
  height: 332px;
  background: url("src/assets/img/website/andres.webp");
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-content {
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
}

.carousel-inner {
  width: 70%;
}


.carousel-item {
  animation: expand 10s infinite alternate ease-in-out;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
