<section class="section-padding">

  <div class="container-fluid">
    <div class="header-container">
      <div class="row">
        <div class="col-xl-4 col-lg-12 col-md-12 col-12 text-start">
          <!-- TITULOS DINAMICOS -->
          <div class="container__titulos" [@fadeinUp]>
            <h1 class="h1-titulo" [@fadeinUp]="tituloActual"> {{ tituloActual }} </h1>
            <p class="resumen-div mt-3" [@fadeinUp]="resumenDiv"> {{ resumenDiv }}</p>
          </div>
          <div class="">
            <button class="custom-btn-section mt-5 mx-5">Conoce más acerca de este servicio <img
                src="./assets/img/website/south-arrow-dark.svg" alt=""></button>
          </div>
        </div>
        <!-- RULETA -->
        <div class="col-xl-8">
          <div class="icon-container">
            <div class="divisiones control-plagas" [ngClass]="{ 'active': activeImageIndex === 0 }">
              <a routerLink="/plagas" (click)="changeActiveImageIndex(0)">
                <img src="./assets/img/website/SVG-Icono-Division-07.svg" alt="Control de Plagas" />
              </a>
            </div>
            <div class="divisiones limpieza" [ngClass]="{ 'active': activeImageIndex === 1 }">
              <a routerLink="/limpieza" (click)="changeActiveImageIndex(1)">
                <img src="./assets/img/website/SVG-Icono-Division-08.svg" alt="Limpieza y Desinfección" />
              </a>
            </div>
            <div class="divisiones jardines" [ngClass]="{ 'active': activeImageIndex === 2 }">
              <a routerLink="/jardineria" (click)="changeActiveImageIndex(2)">
                <img src="./assets/img/website/SVG-Icono-Division-09.svg" alt="Prados y Jardines" />
              </a>
            </div>
            <div class="divisiones sanitizacion" [ngClass]="{ 'active': activeImageIndex === 3 }">
              <a routerLink="/sanitizacion" (click)="changeActiveImageIndex(3)">
                <img src="./assets/img/website/SVG-Icono-Division-10.svg" alt="Sanitización" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTONES DE NAVEGACIÓN-->
    <div class="d-flex justify-content-end col-11">
      <button class="change-btn-div" (click)="handlePrevClick()"><img src="./assets/img/website/arrow-right.svg"
          alt=""></button>
      <button class="change-btn-div" (click)="handleNextClick()"><img src="./assets/img/website/arrow-left.svg"
          alt=""></button>
    </div>
  </div>

</section>
