<section class="section-padding container" data-aos="fade-up" id="construimos-personas">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="fw-bold">Nuestras Divisiones Empresariales</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/control-plagas.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-plagas">
          <span class="fw-bold">Control de Plagas</span>
          <p class="division-intro fw-semibold">Libérate de las plagas de una vez por todas con nuestra experiencia en control de plagas. Regresa a un hogar o negocio sin preocupaciones
          </p>
          <a routerLink="plagas" class="btn btn-dark division-intro">Conoce acerca de nuestra división</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/limpieza.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-limpieza">
          <span class="fw-bold">Limpieza y Desinfección</span>
          <p class="division-intro fw-semibold">Deja que nos encarguemos de los detalles sucios. Con nuestra limpieza y desinfección, puedes relajarte y vivir sin preocupaciones.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/prados.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-prados">
          <span class="fw-bold">Prados y Jardines</span>
          <p class="division-intro fw-semibold">Nuestros expertos en prados y jardinería hacen que tu paisaje sea el orgullo de la comunidad. Tu jardín, nuestro compromiso.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/seguridad.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-seguridad">
          <span class="fw-bold">Seguridad</span>
          <p class="division-intro fw-semibold">Nuestro equipo de seguridad altamente capacitado está listo para mantener a salvo tu hogar o negocio. Siéntete seguro, siempre.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/equipos-incendios.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-incendios">
          <span class="fw-bold">Equipos contra incendios</span>
          <p class="division-intro fw-semibold">Nuestros equipos contra incendios de calidad te brindan la tranquilidad de saber que estás listo para cualquier emergencia.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/mantenimiento.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-m-climatizacion">
          <span class="fw-bold">Mantenimiento y Climatización</span>
          <p class="division-intro fw-semibold">Nuestros servicios de mantenimiento garantizan que tu inversión en climatización rinda al máximo. Eficiencia energética y comodidad.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/mantenimiento-reparacion.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-m-reparacion">
          <span class="fw-bold">Mantenimiento y Reparación</span>
          <p class="division-intro fw-semibold">Nuestro equipo de expertos en mantenimiento y reparación se encarga de todos los detalles. Tu propiedad, en manos confiables.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/servicios.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-servicios-aux">
          <span class="fw-bold">Servicios Auxiliares</span>
          <p class="division-intro fw-semibold">Nuestro conjunto de servicios auxiliares se adapta a tus necesidades individuales. Calidad y confianza en cada tarea.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div class="division-container">
        <img src="assets/img/website/administracion.png" class="division-img" alt="Control de Plagas">
        <div class="division-overlay-administracion">
          <span class="fw-bold">Administración de bienes y servicios</span>
          <p class="division-intro fw-semibold">Nuestra experiencia en administración de propiedades garantiza un retorno sólido de tu inversión. Estamos comprometidos con tu éxito.
          </p>
          <span class="btn btn-dark division-intro">Conoce acerca de nuestra división</span>
        </div>
      </div>
    </div>
  </div>
</section>
