<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3 align-content-center align-items-center">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN OTROS SECTORES EMPRESARIALES</h2>
      <p>En ECOVITALI estamos preparados para brindar un servicio profesional de alta calidad y seguridad de nuestros procesos, con una metodología sustentada sobre bases científicas y nuestro conocimiento adquirido por la experiencia en el sector, en ECOVITALI proveemos el manejo integral de plagas - MIP con tareas de desinsectación y desratización mediante nuestro plan DD, que comprende el uso de medidas preventivas y correctivas, este sistema de control permite evitar la presencia de animales que pudieren constituir una plaga. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/otros.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-1">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/importancia-financiera.png" class="img-fluid d-none d-md-block" alt="Importancial del Control de Plagas en las Escuelas">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-lg-5 p-4">
          <h4 class="fw-semibold">¿POR QUÉ ES IMPORTANTE EL CONTROL DE PLAGAS EN INSTITUCIONES FINANACIERAS?</h4>
          <p class="">El dinero es un bien valioso así como las cientos de personas que interactúan cada día en las áreas donde se brinda servicios y almacena el dinero, documentos, centros de tecnología y los cientos y miles de cables que interconectan la información, las agencias bancarias con sus bóvedas y pasillos, oficinas, salones y demás, y es que hasta los cajeros automáticos están expuestos a insectos que transmiten enfermedades o roedores que destruyen las instalaciones y pueden generar paralizaciones totales al cortar cables y con ello la comunicación y transferencia de la información.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-1">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-md-5 p-3">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde d-none d-md-block">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="mt-5">
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
