<app-header-black></app-header-black>
<div class="container">
  <div class="row">
      <div class="d-flex col-12">
        <h1>Base Fundamental de Nuestr</h1>
      </div>
      <div class="d-flex-col-12">
        <p>El que las plagas no sean visibles, no significa que no se encuentren en un lugar ya sea este específico o general y no deben o pueden estar fuera de la mente de las personas; las plagas de forma general desde la mas pequeña hormiga hasta los tan reconocibles roedores pueden llegar a ser más que una simple molestia, la realidad es que son una amenaza constante para el ser humano tanto para sus bienes como para la salud. por ello en ECOVITALI nos preocupamos por proteger a nuestros clientes de forma preventiva como correctiva, desde le presente y el futuro.
        </p>
      </div>
    </div>
  </div>

  <app-certificados></app-certificados>

<!-- <app-footer></app-footer> -->
