<app-header-black></app-header-black>
<div class="container py-md-4 py-0">
  <div class="row m-md-0 m-1">
    <div class="col-md-7 col-12 d-flex align-items-center justify-content-center flex-column">
      <h1 class="text-center">Base Fundamental de Nuestro Servicio</h1>
      <p class="m-lg-2">El que las plagas no sean visibles, no significa que no se encuentren en un lugar ya sea este específico o
        general y no deben o pueden estar fuera de la mente de las personas; las plagas de forma general desde la mas
        pequeña hormiga hasta los tan reconocibles roedores pueden llegar a ser más que una simple molestia, la realidad
        es que son una amenaza constante para el ser humano tanto para sus bienes como para la salud. por ello en
        ECOVITALI nos preocupamos por proteger a nuestros clientes de forma preventiva como correctiva, desde le
        presente y el futuro.
      </p>
    </div>
    <div class="col-md-5 col-12">
      <img src="assets/img/website/Base-Fundamental.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="py-5">
  <app-certificados></app-certificados>
</section>

<div class="container mb-5">
  <div class="row m-lg-0 m-1">
    <div class="col-md-8 col-12 d-flex align-items-center justify-content-center flex-column order-md-1 order-0 mt-3">
      <h1 class="text-center">Nuestra Oferta Técnica</h1>
      <p class="m-lg-2">En ECOVITALI Estamos conscientes de las diferencias distinciones de nuestros clientes de su tipo ya sea residencial o empresarial, esto se debe a condiciones muy especiales que pueden afectar el comportamiento de las plagas ya sea por su ubicación geográfica, entorno, modelo de negocio, tipo de producción, entre otros, y aun cuando implementamos el Manejo integral de plagas - MIP desde un enfoque científico con técnicas profesionales adaptables a las necesidades individuales, nuestra propuesta técnica A.I.M. nos permite evaluar riesgos y plantear estrategias eficientes en programas de corto y largo plazo, desde el inicio del control de plagas mediante el monitoreo en visitas programadas evaluamos situaciones de forma particular, implementamos soluciones claras, sólidas y dinámicas.</p>
    </div>
    <div class="col-md-4 col-12 order-md-0 order-1">
      <img src="assets/img/website/Oferta-Tecnica.png" class="img-fluid">
    </div>
  </div>
</div>

<!-- <section class="container justify-content-end d-flex">
  <div class="row d-flex align-items-center col-lg-7 col-md-7 col-12 p-3">
    <h2 class="text-center fw-bold">Cobertura a Nivel Nacional</h2>
    <p>Sin importar donde se ubiquen sus instalaciones, dentro o fuera del casco urbano de cualquier ciudad del país, ECOVITALI es su mejor opción.</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-dark">Contáctenos</button>
    </div>
  </div>
</section> -->

<section class="mt-5">
  <app-footer></app-footer>
</section>
