<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN LOGISTICA Y CARGA</h2>
      <p>La dinámica del sector de la logística de carga marítima o aérea nos presiona de forma constante para brindar un servicio de alta calidad y seguridad, adaptable a cada escenario y en ECOVITALI respondimos con preparación permanente con un servicio profesional de alta calidad y estrictos parámetros de seguridad, el MIP de ECOVITALI destaca por su diseño en base a metodologías científicas del control de plagas, nuestro plan detalla las tareas de desinsectación y desratización de manera independiente y específica con el uso de medidas preventivas y correctivas, permitiéndonos evitar la presencia de animales que pudieren constituir una plaga En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12 mt-5">
      <img src="assets/img/website/logistica.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/importancia-logistica.png" class="img-fluid d-none d-md-block" alt="Importancial del Control de Plagas en las Escuelas">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <h4 class="fw-semibold">¿POR QUÉ ES IMPORTANTE EL CONTROL DE PLAGAS EN CENTROS DE LOGISTICA Y CARGA?</h4>
          <p class="">Nuestro sistema de manejo integral de plagas está diseñado para abordar eficaz y eficientemente la problemática en almacenes de logística, terminales de carga, buques y aviones, incluso considerando plazos de envío y fechas límites, con ello removemos la preocupación del control de plagas de la lista de tareas de nuestro cliente, en ECOVITALI hacemos énfasis en la prevención y como tal el bajo o nulo uso de químicos, centrando nuestro trabajo en sistemas de exclusión, inspeccionando envíos y recepciones, saneamiento y buenas prácticas culturales. En ECOVITALI no solo lo garantizamos sino que lo certificamos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="mt-5">
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
