<div class="control-plagas">
  <div class="section-overlay">
    <div class="container">
      <div class="row justify-content-end d-flex justify-content-end">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12">
          <h2 class="text-white text-center mt-5 mb-4">CONTROL DE PLAGAS</h2>
          <p class="col-12 text-justify text-white">
            El que las plagas no sean visibles, no significa que no se encuentren en un lugar ya sea este específico o general y
            no deben o pueden estar fuera de la mente de las personas; las plagas de forma general desde la mas pequeña hormiga
            hasta los tan reconocibles roedores pueden llegar a ser más que una simple molestia, la realidad es que son una
            amenaza constante para el ser humano tanto para sus bienes como para la salud. por ello en ECOVITALI nos preocupamos
            por proteger a nuestros clientes de forma preventiva como correctiva, desde le presente y el futuro.
          </p>
        </div>
        <div class="col-lg-12 mt-4 mb-4 text-end">
          <a class="btn btn-header">Conozca más Acerca de Nosotros</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row text-center">
    <div class="col-12">
      <h3>Certificados y Avalados</h3>
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class=" d-flex justify-content-between mb-5">
          <div href="">
            <img src="./assets/img/ISO.webp" class="logos-certf" alt="Certificación ISO-9001">
            <img src="./assets/img/MDA.webp" class="logos-certf" alt="Ministerio del Ambiente">
            <img src="./assets/img/AMCA.webp" class="logos-certf" alt="American Mosquito Control Association">
            <img src="./assets/img/ARCSA.webp" class="logos-certf" alt="Asociación Ecuatoriana de Control de Plagas">
            <img src="./assets/img/MSP.webp" class="logos-certf" alt="Ministerio de Salud Pública">
            <img src="./assets/img/NPMA.webp" class="logos-certf" alt="National Pest Management Association">
            <img src="./assets/img/AGROCALIDAD.webp" class="logos-certf" alt="Agrocalidad">
            <img src="./assets/img/BASC.webp" class="logos-certf" alt="Business Alliance for Secure">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row section-padding">
    <div class="col-12">
      <h4>Nuestro sistema se adapta</h4>
      <p>En ECOVITALI estamos listos para controlar a las plagas sin importar la geografía o temporada pues conocemos de sus diferencias y comportamiento; mantenerlas bajo control no es cuestión de una visita sino de un plan de trabajo continuo respaldado por variables científicas y sistemas de gestión integradas, condiciones que permiten a ECOVITALI controlar a las plagas durante todo el año.</p>
    </div>
    <div class="col-12">
      <h4 class="">SOMOS ESPECIALISTAS EN PLAGAS</h4>
      <p class="">Con experiencia, conocimiento, el apoyo de tecnología de avanza y procesos certificados. ECOVITALI aborda el control de plagas desde un enfoque inicial y detiene los ciclos reproductivos para controlar las infestaciones y prevenir eventos que pudieran afectar a nuestros clientes. Conocemos la clasificación, comportamientos y ciclos reproductivos de las plagas y como estas variables se ven afectadas por la geografía, condiciones climáticas o incluso en prácticas culturales,  este conocimiento nos permite estar preparados para brindar el seguimiento de una problemática y encontrara una solución real. </p>
    </div>
  </div>
</div>
