.control-plagas {
  background-image: url("src/assets/img/control-de-plagas.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 370px;
  padding-bottom: 100px;
  display: block;
}

.section-overlay {
  background: rgba(0, 0, 0, 0.30);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-overlay+.container {
  position: relative;
}

.btn-header{
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: 25px;
  font-weight: 400;
  transition: all 0.3s;
}


.btn-header:hover,
.btn-header:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.certificados-logos{

}
