<app-header-black></app-header-black>
<div class="container py-md-4 py-0" data-aos="fade-right" data-aos-delay="100">
  <div class="row m-md-0 m-1">
    <div class="col-md-7 col-12 d-flex align-items-center justify-content-center flex-column">
      <h1 class="text-center">Base Fundamental de <br>Nuestro Servicio</h1>
      <p class="m-lg-2">El que las plagas no sean visibles, no significa que no se encuentren en un lugar ya sea este específico o
        general y no deben o pueden estar fuera de la mente de las personas; las plagas de forma general desde la mas
        pequeña hormiga hasta los tan reconocibles roedores pueden llegar a ser más que una simple molestia, la realidad
        es que son una amenaza constante para el ser humano tanto para sus bienes como para la salud. por ello en
        ECOVITALI nos preocupamos por proteger a nuestros clientes de forma preventiva como correctiva, desde le
        presente y el futuro.
      </p>
    </div>
    <div class="col-md-5 col-12">
      <img src="assets/img/website/Base-Fundamental.webp" class="img-fluid">
    </div>
  </div>
</div>
<section class="py-5 container">
  <app-certificados></app-certificados>
</section>

<div class="container mb-5">
  <div class="row m-lg-0 m-1">
    <div class="col-md-8 col-12 d-flex align-items-center justify-content-center flex-column order-md-1 order-0 mt-3">
      <h1 class="text-center">Nuestra Oferta Técnica</h1>
      <p class="ps-md-5">En <b>ECOVITALI</b> estamos conscientes de las diferencias distinciones de nuestros clientes de su tipo ya sea residencial o empresarial, esto se debe a condiciones muy especiales que pueden afectar el comportamiento de las plagas ya sea por su ubicación geográfica, entorno, modelo de negocio, tipo de producción, entre otros, y aun cuando implementamos el Manejo integral de plagas - MIP desde un enfoque científico con técnicas profesionales adaptables a las necesidades individuales, nuestra propuesta técnica A.I.M. nos permite evaluar riesgos y plantear estrategias eficientes en programas de corto y largo plazo, desde el inicio del control de plagas mediante el monitoreo en visitas programadas evaluamos situaciones de forma particular, implementamos soluciones claras, sólidas y dinámicas.</p>
    </div>
    <div class="col-md-4 col-12 order-md-0 order-1">
      <img src="assets/img/website/Oferta-Tecnica.webp" class="img-fluid">
    </div>
  </div>
</div>

<app-cobertura-nacional></app-cobertura-nacional>

<section>
  <div class="container mb-5" data-aos="fade-up">
    <div class="row justify-content-center align-items-center p-3">
      <div class="col-md-6 col-12">
        <h2 class="fw-bold mb-3">Manejo Integral de Plagas (M.I.P.) de Ecovitali</h2>
        <p>En ECOVITALI estamos preparados para brindar un servicio profesional y de alta calidad, habiendo diseñado una metodología integral de control de plagas sobre bases científicas. El manejo integral de plagas - MIP de ECOVITALI incorpora los tratamientos de desinsectación y desratización -DD con medidas preventivas y correctivas de control.
          ECOVITALI ofrece dentro de su servicio de control de plagas la extensión del servicio programado y auditorias de calidad, asociados al control de plagas en todos sus clientes y con ello, brinda la capacidad de ampliar el espectro de control de una industria tan susceptible como la de los procesadores de alimentos y bebidas a los dos extremos de la cadena.</p>
      </div>
      <div class="col-md-6 col-12">
        <img src="assets/img/website/MIP.webp" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <h2 class="fw-bold text-center mb-4">M.I.P. EN CADA FASE</h2>
      <div class="card" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/website/iconos/MIP_manufactura.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">El M.I.P. en las buenas prácticas de manufactura</h5>
          <p >No importa si la empresa o actividad comercial se encuentra bajo el marco de las BPA o las BPM, el hecho es que de cualquier manera el MIP forma parte relevante de su sistema, garantiza la calidad de su producto y con ello los resultados esperados, desde la producción agropecuaria o acuícola en el campo, hasta el consumidor final, todos en especial aquellos afectados por las normas BPM están en riesgo constante y con ello la relevancia de contar con un plan de HACCP y de forma conjunto establecer sistemas POE que garanticen el resultado aplicado, el MIP de ECOVITALI garantiza que dichos sistemas sean aplicados y su servicio debidamente garantizado y certificado.
          </p>
        </div>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="300">
        <img src="assets/img/website/iconos/MIP_puntosCriticos.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">El M.I.P. en el análisis de puntos críticos</h5>
          <p>El Análisis de Puntos Críticos es un sistemas reconocido por su siglas en ingles (HACCP) implementa tareas de racionales y organizadas de forma continua en búsqueda de la prevención de distintos eventos con el objetivo de incrementar la seguridad y calidad de los procesos y de los productos en producción, disminuye las pérdidas y logra un registro de datos, el MIP es parte del programa HACCP en su capítulo de control de plagas que sirve como base de consultas de auditorías y verificaciones, como tal el MIP es un sistema de relevancia en el análisis de riesgos y puntos críticos de control pues es enlace entre los distintos sistemas de gestión de la industria, además de constituir un prerrequisito fundamental para la implementación del mismo.
          </p>
        </div>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="500">
        <img src="assets/img/website/iconos/MIP_procesosOperativos.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">El M.I.P. en los procesos operativos estandarizados</h5>
          <p>Los Procedimientos Operacionales Estandarizados son instrucciones escritas que tienen por objetivo establecer los pasos a seguir para prevenir la contaminación biológica, química y/o física de los alimentos que describen las tareas de limpieza y desinfección destinadas para mantener o restablecer las condiciones de higiene de un local alimentario, equipos y procesos de elaboración para prevenir la contaminación de los productos. Es parte del Codex Alimentarius el mismo que son normas alimentarias aceptadas internacionalmente y presentadas de modo uniforme para proteger la salud del consumidor y asegurar la aplicación de prácticas equitativas en el comercio de los alimentos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-5">
  <app-footer></app-footer>
</section>
