<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mb-4">
              <h5 class="site-footer-title mb-3">¿Porqué Ecovitali?</h5>

              <ul class="footer-menu">
                  <li class="footer-menu-item"><a href="#" class="footer-menu-link">Nuestras Certificaciones</a></li>

                  <li class="footer-menu-item"><a href="#" class="footer-menu-link">Nuestras Alianzas</a></li>

                  <li class="footer-menu-item"><a href="#" class="footer-menu-link">Nuestra Tecnología</a></li>

                  <li class="footer-menu-item"><a href="#" class="footer-menu-link">Nuestro respaldo</a></li>
              </ul>
          </div>
<!-- INSERTAR LOGO -->
          <div class="col-lg-4 col-md-6 col-12 mb-4">
            <a href="">
              <img src="#" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-12 mx-auto">
              <h5 class="site-footer-title mb-3">Atención al cliente</h5>

              <p class="text-white d-flex mb-2">
                  <i class="bi-telephone me-2"></i>

                  <a href="tel: +593-999999999" class="site-footer-link">
                      +593-999999999
                  </a>
              </p>

              <p class="text-white d-flex">
                  <i class="bi-envelope me-2"></i>

                  <a href="mailto:info@ecovitali.net" class="site-footer-link">
                    info@ecovitali.net
                  </a>
              </p>

              <p class="text-white d-flex mt-3">
                  <i class="bi-geo-alt me-2"></i>
                  Ceibos Av. X calle X
              </p>
          </div>
      </div>
  </div>

  <div class="site-footer-bottom">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-md-7 col-12">
                  <p class="copyright-text mb-0">Copyright © 2023 <a href="home.html" target="_blank">Ecovitali Ec.</a></p>
              </div>

              <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                  <ul class="social-icon">
                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link bi-twitter"></a>
                      </li>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link bi-facebook"></a>
                      </li>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link bi-instagram"></a>
                      </li>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link bi-linkedin"></a>
                      </li>

                      <li class="social-icon-item">
                          <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                      </li>
                  </ul>
              </div>

          </div>
      </div>
  </div>
</footer>
