<footer class="site-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-7 col-12">
        <a routerLink="/inicio" class="d-flex justify-content-start align-items-start icon-img">
          <img src="assets/img/website/Logo-Ecovitali-Blanco.webp" class="img-fluid" alt="Ecovitali">
        </a>
        <p class="footer-menu-link fst-italic mx-4 text-lg-start text-center copyright-text">Trabajamos por el éxito de nuestros clientes, mientras generamos bienestar social.</p>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-5 col-12 col-sm-12 mt-lg-3 mt-5 align-items-sm-center text-center text-lg-start text-hover col-custom me-5">
        <h5 class="site-footer-title mt-lg-4 mt-3 mb-3 fw-semibold">Nuestras Divisiones</h5>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <a routerLink="/plagas" class="site-footer-link">Control de Plagas</a>
        </p>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <a routerLink="/limpieza" class="site-footer-link">Limpieza y Desinfección</a>
        </p>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <a routerLink="/jardines" class="site-footer-link">Prados y Jardines</a>
        </p>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mt-2">
          <a routerLink="/desinfeccion" class="site-footer-link">Limpieza y Sanitización</a>
        </p>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-12 col-sm-12 mt-lg-3 mt-4 text-center text-lg-start col-custom">
        <h5 class="site-footer-title mt-lg-4 mb-3 fw-semibold">Soporte</h5>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <a href="#" class="site-footer-link">Centro de Ayuda</a>
        </p>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <a href="" class="site-footer-link">Soporte Administrativo</a>
        </p>
        <a routerLink="/preguntas-frecuentes" class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          Preguntas Frecuentes
        </a>
        <a routerLink="/trabaja-con-nosotros" class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          Trabaja con Nosotros
        </a>
      </div>
      <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-12 mt-lg-3 mt-4 text-center text-lg-start">
        <h5 class="site-footer-title mt-lg-4 mb-3 fw-semibold">Contactos</h5>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <i class="bi-envelope me-2"></i>
          <a href="mailto:info@ecovitali.net" class="site-footer-link">info@ecovitali.net - ventas@ecovitali.net</a>
        </p>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mb-2">
          <i class="bi-telephone me-2"></i>
          <a href="tel: +593-992852299" class="site-footer-link">0992852299 - 504 4455 433</a>
        </p>
        <div class="input-group my-3">
          <input type="text" class="form-control" placeholder="Ingresa tu correo" aria-label="Username" aria-describedby="input-group-button-right">
          <button type="button" class="btn btn-outline-secondary" id="input-group-button-right">Suscríbete</button>
        </div>
        <p class="footer-menu-item justify-content-center justify-content-lg-start d-flex mt-2">
          <i class="bi-geo-alt me-2"></i>
          Ecuador
        </p>
      </div>
    </div>
  </div>
  <div class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 mt-3 copyright-text d-flex justify-content-between">
          <span class="text-hover text-decoration-none">© 2023 Ecovitali - Todos los derechos reservados.</span>
          <div class="justify-content-end">
            <span class="text-hover">Términos y Condiciones de Nuestro Servicio | </span>
            <span class="text-hover">Política de Privacidad</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
