<footer class="site-footer">
  <!-- logo y descripción -->
  <div class="container">
    <div class="row ">
      <div class="col-xl-4 col-lg-3 col-md-3 col-12 mt-4">
        <a class="d-flex justify-content-start align-items-start icon-img">
          <img class="img-fluid" src="./assets/img/logo.jpg" alt="Ecovitali-logo">
        </a>
        <p class="footer-menu-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum aliquid asperiores ?</p>
          <ul class="social-icon">
            <li class="social-icon-item">
              <a href="#" class="social-icon-link bi-twitter"></a>
            </li>

            <li class="social-icon-item">
              <a href="#" class="social-icon-link bi-facebook"></a>
            </li>

            <li class="social-icon-item">
              <a href="#" class="social-icon-link bi-instagram"></a>
            </li>

            <li class="social-icon-item">
              <a href="#" class="social-icon-link bi-youtube"></a>
            </li>

            <li class="social-icon-item">
              <a href="#" class="social-icon-link bi-whatsapp"></a>
            </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-9 col-md-5 col-12 mt-5">
        <h5 class="site-footer-title mt-4">Nuestros Servicios</h5>
        <p class="footer-menu-item d-flex mb-2">
          <a href="tel: +593-999999999" class="text-black site-footer-link">
            Control de Plagas
          </a>
        </p>
        <p class="footer-menu-item d-flex mb-2">
          <a href="mailto:info@ecovitali.net" class="site-footer-link text-black">
            Limpieza y Desinfección
          </a>
        </p>
        <p class="footer-menu-item d-flex mb-2">
          <a href="mailto:info@ecovitali.net" class="site-footer-link text-black">
            Prados y Jardines
          </a>
        </p>
        <p class="footer-menu-item d-flex mt-2">
          Sanitización
        </p>
      </div>
      <div class="col-xl-3 col-lg-9 col-md-5 col-12 mt-5">
        <h5 class="site-footer-title mb-3 mt-4">Contactos</h5>
        <p class="footer-menu-item d-flex mb-2">
          <a href="tel: +593-999999999" class="text-black site-footer-link">
            +593-999999999
          </a>
        </p>
        <p class="footer-menu-item d-flex mb-2">
          <a href="mailto:info@ecovitali.net" class="site-footer-link text-black">
            info@ecovitali.net
          </a>
        </p>
        <p class="footer-menu-item d-flex mt-2">
          Ceibos Av. X calle X
        </p>
      </div>
      <div class="col-xl-2 col-lg-9 col-md-5 col-12 mt-5">
        <h5 class="site-footer-title mb-3 mt-4">Contactos</h5>
        <p class="footer-menu-item d-flex mb-2">
          <i class="bi-telephone me-2"></i>
          <a href="tel: +593-999999999" class="text-black site-footer-link">
            +593-999999999
          </a>
        </p>
        <p class="footer-menu-item d-flex mb-2">
          <i class="bi-envelope me-2"></i>
          <a href="mailto:info@ecovitali.net" class="site-footer-link text-black">
            info@ecovitali.net
          </a>
        </p>
        <p class="footer-menu-item d-flex mt-2">
          <i class="bi-geo-alt me-2"></i>
          Ceibos Av. X calle X
        </p>
      </div>
    </div>
  </div>

  <div class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-12 mt-3">
          <p class="copyright-text">© 2023 <a href="/home" target="_blank" class="text-decoration-none">Ecovitali - Todos los derechos reservados.</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
