<app-header-black></app-header-black>

<div class="container-fluid mt-md-5 mt-2 pb-5" data-aos="fade-up">
  <div class="row justify-content-around align-items-center p-3">
    <div class="col-md-6 ps-md-5">
      <h2 class="fw-bold mb-3">TRABAJA CON NOSOTROS</h2>
      <form [formGroup]="trabajoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="mb-3">
              <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="*Nombre y Apellido" required>
              <div *ngIf="trabajoForm.get('nombre')?.invalid && (trabajoForm.get('nombre')?.dirty || trabajoForm.get('nombre')?.touched)">
                <small class="text-danger">Nombre y Apellido es obligatorio</small>
              </div>
            </div>
            <div class="mb-3">
              <input type="tel" class="form-control" id="telefono" formControlName="telefono" placeholder="*Teléfono" required>
              <div *ngIf="trabajoForm.get('telefono')?.invalid && (trabajoForm.get('telefono')?.dirty || trabajoForm.get('telefono')?.touched)">
                <small class="text-danger">Ingrese un número de teléfono</small>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="mb-3">
              <input type="text" class="form-control" id="ciudad" formControlName="ciudad" placeholder="*Ciudad" required>
              <div *ngIf="trabajoForm.get('ciudad')?.invalid && (trabajoForm.get('ciudad')?.dirty || trabajoForm.get('ciudad')?.touched)">
                <small class="text-danger">Ingrese una ciudad</small>
              </div>
            </div>
            <div class="mb-3">
              <select name="form-select" id="divisionSeleccionada" formControlName="divisionSeleccionada" (change)="seleccionarColor($event)" required>
                <option value="default" selected disabled>Seleccione una división:</option>
                <option value="plagas">División Control de Plagas</option>
                <option value="limpieza">División Limpieza y Desinfección</option>
                <option value="jardineria">División Prados y Jardines</option>
                <option value="desinfeccion">División Desinfección y Sanitización</option>
              </select>
              <div *ngIf="trabajoForm.get('divisionSeleccionada')?.invalid && (trabajoForm.get('divisionSeleccionada')?.dirty || trabajoForm.get('divisionSeleccionada')?.touched)">
                <small class="text-danger">División es obligatoria</small>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="*Correo electrónico" required>
            <div *ngIf="trabajoForm.get('email')?.invalid && (trabajoForm.get('email')?.dirty || trabajoForm.get('email')?.touched)">
              <small class="text-danger">Correo Electrónico no válido</small>
            </div>
          </div>
          <div>
            <textarea rows="3" class="form-control" id="comentario" formControlName="comentario" placeholder="*¿Por qué desea trabajar con nosotros?" required></textarea>
            <div *ngIf="trabajoForm.get('comentario')?.invalid && (trabajoForm.get('comentario')?.dirty || trabajoForm.get('comentario')?.touched)">
              <small class="text-danger">Mensaje es obligatorio y debe contener al menos 10 caracteres</small>
            </div>
          </div>

          <div class="my-3">
            <div class="input-group align-items-center mb-2">
              <input type="file" id="cv" name="cv" (change)="updateFileName($event)" formControlName="cv">
              <div type="button" class="btn btn-secondary" onclick="document.getElementById('cv').click()">Adjuntar CV</div>
              <span id="file-name" class="ms-2 align-items-center">{{ selectedFileName }}</span>
              <div *ngIf="trabajoForm.get('cv')?.invalid && (trabajoForm.get('cv')?.dirty || trabajoForm.get('cv')?.touched)">
                <small class="text-danger">Adjunta un archivo válido (PDF o Word)</small>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-dark w-100 py-3" [style.background]="divisionSeleccionada">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 mt-md-0 mt-3"><img src="assets/img/website/iconos/trabaja-con-ecovitali.svg" class="img-fluid" alt="Trabaja en Ecovitali"></div>
  </div>
</div>

<section class="mt-5">
  <app-footer></app-footer>
</section>
