<body>
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<a href="#" class="nav-brand"><img src="./assets/img/logo.jpg" class="logo-brand" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><img src="#">
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="serviciosDropdown" aria-haspopup="true" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="serviciosDropdown">
              <li><a class="dropdown-item" href="#servicio1">Residencial</a></li>
              <li><a class="dropdown-item" href="#servicio2">Emplesarial</a></li>
              <li><a class="dropdown-item" href="#servicio3">Tratamientos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="scroll nav-link" href="#quienes somos">Quienes somos</a>
          </li>
					<li class="nav-item">
						<a class="scroll nav-link" href="#servicios">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="scroll nav-link" href="#procesos">Nuestros Procesos</a>
					</li>
					<li class="nav-item">
            <a class="scroll nav-link" href="#contacto">Contactanos</a>
					</li>
          <li class="nav-item">
            <a class="scroll nav-link" href="#procesos">Noticias</a>
          </li>
				</ul>
			</div>
		</div>
	</nav>
