<section class="sticky-top">
  <header [ngClass]="{'colored-background': isNavbarColored}">
    <nav [ngClass]="{'navbar-colored': isNavbarColored}" class="navbar navbar-expand-lg shadow-lg">
      <div class="container">
        <a class="navbar-brand">
          <img *ngIf="isTextColored; else logoLight" src="assets/img/website/Logo-Ecovitali-Gris.webp" class="logo img-fluid" alt="Ecovitali Dark">
          <ng-template #logoLight>
            <img src="assets/img/website/Logo-Ecovitali-Blanco.webp" class="logo img-fluid" alt="Ecovitali Light">
          </ng-template>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Servicios</a>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item">Residencial</a></li>
                <li><a class="dropdown-item">Empresarial</a></li>
                <li><a class="dropdown-item">Base Fundamental</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll dropdown-toggle" id="navbarLightDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">¿Quiénes Somos?</a>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item">Menu</a></li>
                <li><a class="dropdown-item">Menu</a></li>
                <li><a class="dropdown-item">Menu</a></li>
                <li><a class="dropdown-item">Menu</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll dropdown-toggle" id="navbarLightDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" href="#section_2">Nuestras Divisiones</a>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item">División Control de Plagas</a></li>
                <li><a class="dropdown-item">División Limpieza y Desinfección</a></li>
                <li><a class="dropdown-item">División Prados y Jardines</a></li>
                <li><a class="dropdown-item">División Sanitización</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll">Certificaciones</a>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll">Contacto</a>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'colored-text': isTextColored}" class="nav-link click-scroll">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>
