<!-- BOTON DARKMODE -->
<div class="dark-mode-button">
  <div [ngClass]="{'svg-elements': darkMode}" (click)="toggleDarkMode()">
    <img [src]="darkMode ? './assets/img/website/darkMode-sol.svg' : './assets/img/website/darkMode-luna.svg'">
  </div>
</div>











<!-- PRIMER HEADER
<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 d-flex flex-wrap">
        <p class="d-flex me-4 mb-0">
          <i class="bi-geo-alt me-2"></i>
          Ecuador - Guayaquil
        </p>

        <p class="d-flex mb-0">
          <i class="bi-envelope me-2"></i>

          <a href="mailto:info@ecovitali.net">
            info@ecovitali.net
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
        <ul class="social-icon">
          <li class="social-icon-item">
            <a href="#" class="social-icon-link bi-twitter"></a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link bi-facebook"></a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link bi-instagram"></a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link bi-youtube"></a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link bi-whatsapp"></a>
          </li>
          <li class="social-icon-item">
            <button (click)="toggleDarkMode()">Modo oscuro</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

 NAVBAR

<nav class="navbar navbar-expand-lg bg-light shadow-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/img/logo.jpg" class="logo img-fluid" alt="Ecovitali">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link click-scroll dropdown-toggle" routerLink="servicios" id="navbarLightDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="residencial">Residencial</a></li>
            <li><a class="dropdown-item" routerLink="empresarial">Empresarial</a></li>
            <li><a class="dropdown-item" routerLink="base-fundamental">Base Fundamental</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link click-scroll dropdown-toggle" href="#section_1" id="navbarLightDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">Tratamientos</a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="residencial" href="residencial.html">Manejo Integral de Plagas</a>
            </li>
            <li><a class="dropdown-item" routerLink="desinsectacion">Desinsectación</a></li>
            <li><a class="dropdown-item" routerLink="desratización">Desratización</a></li>
            <li><a class="dropdown-item" routerLink="tratamiento-granos">Tratamiento de Granos</a></li>
            <li><a class="dropdown-item" routerLink="tratamiento-termitas">Tratamiento de Termitas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link click-scroll dropdown-toggle" href="#section_2" id="navbarLightDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#section_2">Nuestros Procesos</a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" href="M-Empresarial.html">Metodología Empresarial</a></li>
            <li><a class="dropdown-item" href="MIP.html">Metodología Empresarial - MIP</a></li>
            <li><a class="dropdown-item" href="M.I.P.html">Mecanismos y Medidas - M.I.P</a></li>
            <li><a class="dropdown-item" href="A.I.M.html">Metodología Empresarial - AIM</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="nosotros.html">Sobre Nosotros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="certificaciones.html">Certificaciones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="certificaciones.html">Blog</a>
        </li>

        <li class="nav-item ms-3">
          <a class="nav-link custom-btn custom-border-btn btn" routerLink="/contacto">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
