<app-header-black></app-header-black>
<div class="container mt-5">
  <h2 class="text-center mb-4">Preguntas Frecuentes</h2>
  <p class="text-center">También puedes revisar los siguientes temas para encontrar la información que buscas.</p>

  <div class="mb-3 d-flex justify-content-center">
    <input type="search" class="form-control p-3" placeholder="Buscar..." [(ngModel)]="terminoBusqueda">
  </div>


  <div class="accordion" id="accordionExample">
    <div *ngFor="let pregunta of filtrarPreguntas(); let i = index" class="accordion-item">
      <div class="accordion-header" id="heading{{ i }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
          [attr.aria-expanded]="false" [attr.aria-controls]="'collapse' + i">
          <h5>{{ pregunta.titulo }}</h5>
        </button>
      </div>
      <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
        [attr.aria-hidden]="true" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{ pregunta.respuesta }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
