<section class="sticky-top">
  <nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container">
      <a routerLink="/inicio" class="navbar-brand">
        <img src="assets/img/website/Logo-Ecovitali-Gris.webp" class="logo img-fluid" alt="Ecovitali Dark">
        <ng-template #logoLight>
          <img src="assets/img/website/Logo-Ecovitali-Blanco.webp" class="logo img-fluid" alt="Ecovitali Light">
        </ng-template>
      </a>
      <div class="mobile_btn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="main_menu">
        <ul>
          <li class="mega_menu_dropdown mega_menu_demo_2">
            <a href="#">Divisiones Empresariales<i class="fas fa-angle-down"></i></a>
            <div class="mega_menu sub_menu">
              <div class="mega_menu_item">
                <h3>División Control de Plagas</h3>
                <a href="#"></a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
              </div>
              <div class="mega_menu_item">
                <h3>Theme Elements</h3>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
                <a href="#">Mega menu item</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</section>
