<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <img src="" alt="">
      </div>
        <h3>SOLICITA UNA INSPECCIÓN</h3>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
        </form>

    </div>
  </div>
</div>

