<section class="" id="contacto">
  <div class="container">
      <div class="row">

          <div class="col-lg-5 col-12 ms-auto mb-5 mb-lg-0">
              <div class="contact-info-wrap">

                  <div class="contact-image-wrap d-flex flex-wrap">
                      <img src="./assets/img/op.ecovitali.png" class="img-fluid avatar-image" alt="Operador Ecovitali">

                      <div class="d-flex flex-column justify-content-center ms-3">
                          <p class="mb-0">Edgar Delgado</p>
                          <p class="mb-0"><strong>Asesor Comercial Ecovitali</strong></p>
                      </div>
                  </div>

                  <div class="contact-info">
                      <h5 class="mb-3">Información de Contacto</h5>

                      <p class="d-flex mb-2">
                          <i class="bi-geo-alt me-2"></i>
                          Guayaquil, Cdla. Ceibos, calle X No.415
                      </p>

                      <p class="d-flex mb-2">
                          <i class="bi-telephone me-2"></i>

                          <a href="tel: 0999999999">
                            0999999999
                          </a>
                      </p>

                      <p class="d-flex">
                          <i class="bi-envelope me-2"></i>

                          <a href="mailto:bzambrano@ecovitali.com.ec">
                              edelgado@ecovitali.net
                          </a>
                      </p>

                      <!-- <a href="#" class="btn custom-btn custom-border-btn">Maps <i class="bi-geo-alt me-2"></i></a> -->
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-12 mx-auto mb-5">
              <form class="custom-form contact-form" action="#" method="post" role="form">
                  <h2 class="text-center">Contacto</h2>

                  <p class="mb-4 text-center">O, simplemente puede enviar un e-mail a:
                    <a href="mailto:info@ecovitali.net">info@ecovitali.net</a>
                  </p>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" name="first-name" id="first-name" class="form-control" placeholder="Edgar" required>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Delgado" required>
                      </div>
                  </div>

                  <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="edelgado@gmail.com" required>

                  <textarea name="message" rows="5" class="form-control" id="message" placeholder="Tema a consultar?"></textarea>

                  <button type="submit" class="form-control">Enviar</button>
              </form>
          </div>

      </div>
  </div>
</section>
