<section class="section-padding">
  <div class="container cobertura-nacional d-flex justify-content-md-end justify-content-center">
    <div class="row align-items-center align-content-center col-lg-7 col-md-7 col-12 p-md-3 p-1">
      <h2 class="text-center fw-bold">Cobertura a Nivel Nacional</h2>
      <p>Sin importar donde se ubiquen sus instalaciones, dentro o fuera del casco urbano de cualquier ciudad del país, ECOVITALI es su mejor opción.</p>
      <div class="d-flex justify-content-center">
        <a routerLink="/contacto" class="btn btn-dark">Contáctenos</a>
      </div>
    </div>
  </div>
</section>
