.cobertura-nacional {
  width: 100%;
  height: 25em;
  background: url(src/assets/img/website/ECOVITALI-Banner_cobertura_nacional.png) center/cover no-repeat;
  position: relative;
  border-radius: 20px;
}

h2 {
  color:#14823A
}

.btn-dark {
  background: #14823A;
  border: none;
}

