<app-header></app-header>
<div class="section-padding">
  <div class="cta-section section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-7 col-lg-5 col-12">
          <h4 class="dark-mode text-start mt-2 p-4">No permita que las plagas tomen el control en ningún aspecto de su vida,
            contacte con nuestros asesores para conocer más y brindarle una solución real ya sea en su hogar o empresa.
          </h4>
        </div>
        <div class="col-xl-5 col-lg-5 col-12">
          <div class="flip-boton">
            <a (click)="redirectToInicio()">
              <div class="flip-boton-inner">
                <div class="flip-boton-front">
                  <p class="title2">Contacte a uno de nuestros asesores <svg xmlns="http://www.w3.org/2000/svg"
                      width="35" height="35" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                    </svg></p>
                </div>
                <div class="flip-boton-back">
                  <p class="title2">Click para regresar a Inicio</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
