<app-header-black></app-header-black>
<div class="container my-3" data-aos="fade-right" data-aos-delay="100">
  <div class="row d-flex justify-content-between">
    <div class="d-flex align-items-center col-lg-7 col-12 p-lg-0 p-3">
      <div class="d-flex flex-column align-items-center nuestros-certificados p-3">
        <h1 class="text-center">Nuestras Certificaciones</h1>
        <p class="">Es muy sencillo presumir ser el mejor pero en ECOVITALI no nos basta con decirlo sino que lo certificamos, con ello somos la primera empresa de nuestro sector en el Ecuador en contar una combinación de profesionalismo, calidad y seguridad certificada, de forma ininterrumpida y desde el año 2012 <b>ECOVITALI</b> ha sustentado su prestigio y sus valores en sistemas de gestión empresarial que pueden ser validados, auditados y evidenciados de forma continua y permanente. En <b>ECOVITALI</b> no solo lo garantizamos sino que lo certificamos.
        </p>
      </div>
    </div>
    <div class="d-none d-sm-flex col-lg-4 col-5 justify-content-end">
      <img src="assets/img/website/12años-certificados.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="mt-5">
  <div class="container" data-aos="fade-left" data-aos-delay="100">
    <div class="row justify-content-between">
      <div class="d-none d-sm-flex col-3">
        <img src="assets/img/website/garantia-img.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 col-12 align-items-center d-flex">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="5"></li>
            <li data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="6"></li>
          </ol>
          <!-- Contenido del Carrusel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/ISO.webp">
              <span class=""><b>Certificado ISO 9001</b></span>
              <p class="text-justify fw-normal">Nuestro certificado ISO 9001 2015 cubre todos los aspectos y fases de nuestra empresa, no es parcial o documental, sino que es integral; nuestro sistema de gestion de calidad tiene validaciones internacionales y permite a ECOVITALI ajustarse a los más estrictos procesos de nuestros clientes, volviéndonos los mejores asociados de negocios.</p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/MDA.webp" alt="">
              <span class="fw-bold">Compromiso Medioambiental</span>
              <p class="fw-normal">Nuestro compromiso con el medio ambiente es real y como tal contamos con nuestros permisos ambientales emitidos por el Ministerio del Ambiente del Ecuador que certifican nuestro compromiso con este y la sociedad.
              </p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/MSP.webp">
              <span class="fw-bold">Ministerio de Salud</span>
              <p class="fw-normal">Nuestro acuerdo social y compromiso por ser los mejores se sustenta con nuestra responsabilidad adquirida por los permisos otorgados por el Ministerio de Salud Pública del Ecuador.</p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/NPMA.webp">
              <span class="fw-bold">National Pest Management Association</span>
              <p class="fw-normal">Somos miembros activos internacionales de NPMA - National Pest Management Association, lo que nos permite mantenernos en constante capacitación y actualización sobre los desarrollos y avances del control de plagas a nivel internacional, que junto a alianzas privadas de la industria nos permite presumir de ser la mejor oferta del mercado.</p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/AGROCALIDAD.webp">
              <span class="fw-bold">Agrocalidad</span>
              <p class="fw-normal">Somos una empresa responsable con la sociedad, la normativa y las leyes, por ello operamos gracias a nuestra licencia profesional como aplicadores terrestres emitida por AGROCALIDAD, institución pública adscrita al ministerio de agricultura y Ganadería.</p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/AMCA.webp">
              <span class="fw-bold">American Mosquito Control Association</span>
              <p class="fw-normal">Somos miembros activos internaciones de AMCA - American Mosquito Control Association, lo que nos permite mantenernos en constante capacitacón y actualización sobre los desarrollos y avances del control de los misquitos a nivel internacional, que junto a alianzas privadas de la industria nos permite presumir de ser la mejor oferta del mercado.</p>
            </div>
            <div class="carousel-item">
              <img src="assets/img/ARCSA.webp">
              <span class="fw-bold">Asociación Ecuatoriana de Control de Plagas Urbanas</span>
              <p class="fw-normal">Somos miembros activos de AEUCPU - Asociación Ecuatoriana de Controladores de Plagas Urbanas, evidenciando que no somos solo una marca de prestigio sino también validada por los agentes de mercado locales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container mt-5">
  <div class="row">
    <div class="text-center col-12 mb-3 mt-5">
      <span class="text-center fw-bold btn-servicios">Datos extrapolados de última auditoría 2023</span>
    </div>
    <div class="col-lg-4 col-12 mt-3 d-flex align-items-center justify-content-center my-3">
      <img src="assets/img/website/iconos/Aplicaciones_Exitosas.svg" class="img-fluid">
      <div class="details text-center">
        <span class="fw-bold">Más de...</span> <br>
        <h2 class="fw-bold">
          <span class="fw-bold" data-cantidad-total="324"></span>.000
        </h2>
        <span class="fw-bold">Aplicaciones Existosas</span>
      </div>
    </div>
    <div class="col-lg-4 col-12 mt-3 d-flex align-items-center justify-content-center my-3">
      <img src="assets/img/website/iconos/Clientes_Satisfechos.svg" class="img-fluid">
      <div class="details text-center">
        <span class="fw-bold">Más de...</span><br>
        <h2 class="fw-bold">
          <span class="fw-bold" data-cantidad-total="700"></span>
        </h2>
        <span class="fw-bold">Clientes Satisfechos</span>
      </div>
    </div>
    <div class="col-lg-4 col-12 mt-3 d-flex align-items-center justify-content-center my-3">
      <img src="assets/img/website/iconos/Retencion_calidad.svg" class="img-fluid">
      <div class="details text-center">
        <span class="fw-bold">Más de...</span><br>
        <h2 class="fw-bold">
          <span class="fw-bold" data-cantidad-total="90">%</span>
        </h2>
        <span class="fw-bold">Colaboradores</span>
      </div>
    </div>
  </div>
</section>

<app-cobertura-nacional></app-cobertura-nacional>

<div class="my-5"></div>

<app-footer></app-footer>
