/* Estilo para las imágenes del carrusel */
.carousel-inner img {
  width: 60px; /* Ancho de las imágenes */
  height: 60px; /* Altura de las imágenes */
  margin-right: 1rem; /* Espacio entre la imagen y el texto */
}

.nuestros-certificados {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--shadow-box-shadow, 0px 20px 30px 0px rgba(0, 0, 0, 0.10));
}

h2 {
  color:#14823A
}

.btn-dark {
  background: #14823A;
  border: none;
}
