.card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente para el contenido */
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
  margin-bottom: 20px; /* Eliminamos el margen inferior por defecto */
  transition: margin-bottom 0.3s ease; /* Agregamos una transición */
}

.card-link {
  position: absolute;
  bottom: -60px; /* Inicialmente oculto */
  width: 100%;
  text-align: center;
  color: rgba(0, 123, 255, 0.7);
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  transition: bottom 0.3s ease;
  display: flex;
  padding-left: 40px;
  padding-bottom: 20px;
  box-shadow: 0px 18px 36px -18px rgba(0,0,0,0.1),0px 30px 45px -30px rgba(50,50,93,0.25);
}

.card:hover .card-link {
  bottom: 0;
}

.link-text {
  display: inline-block;
  margin-right: 10px;
  font-size: var(--p-font-size);
  font-weight: 600;
}
