.custom-btn-section-plagas {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.4s;
  padding: 15px;
  border-radius: 70px;
  background: #9bc31e;
  border: 1px solid transparent;
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
  display: inline-block;
}
.custom-btn-section-plagas:hover {
  background: #6eb32d;
  transform: translateY(10px);
}

.serv-colum1,
.serv-colum2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  flex-shrink: 0;
  flex-grow: 0;
}

.serv-colum2 {
  align-items: flex-end;
}

.serv-1,
.serv-2,
.serv-3,
.serv-4 {
  width: 100%;
  max-width: 280px;
  border-radius: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  margin: 16px;
}

.serv-1,
.serv-4 {
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.serv-2,
.serv-3 {
  height: 198px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
}


