<app-header-black></app-header-black>
<app-header2></app-header2>
<div class="container">
  <div class="row d-flex p-3 col-12">
    <div class="col-lg-5 col-12">
      <div class="container">
        <h1>Sobre Nosotros:</h1>
        <span class="fw-bold">Nuestra Misión:</span>
        <p class="">Ecovitali S.A. es una empresa que brinda el servicio de manejo y control integral de plagas urbanas, jardinería y desinfección aplicando técnicas profesionales que garantizan la calidad, seguridad y cumplimiento de los requerimientos del mercado, comprometidos con la mejora continua de los procesos que nos permitan innovar constantemente y mantener un entorno libre de plagas.</p>
        <span class="fw-bold">Nuestra Visión:</span>
        <p class="">Convertirse en referente del mercado, dar producto y servicio diferenciado a los clientes, logrando concientizarlos sobre la importancia del manejo integral de plagas, de tal manera lograr que un entorno controlado de las plagas a través de nuestros servicios prestados se convierta en parte de su vida personal y profesional cubriendo desde la residencia hasta sus empresas, tanto a nivel nacional como internacional.</p>
        <span class="d-flex w-50 justify-content-center custom-btn-section-plagas text-center">Cotiza tu servicio</span>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7 col-xl-7 d-flex justify-content-center">
      <div class="container-services img-fluid text-center float-xl-end">
        <div class="serv-colum-1">
          <div data-aos="fade-up"><img src="assets/img/website/andres.webp" class="serv-1 img-fluid transition" alt="Inspección"></div>
          <div data-aos="fade-up"><img src="assets/img/website/andres.webp" class="serv-2 img-fluid transition" alt="Inspección"></div>
        <div class="serv-colum-2">
          <div data-aos="fade-up"><img src="assets/img/website/andres.webp" class="serv-3 img-fluid transition" alt="Inspección"></div>
          <div data-aos="fade-up"><img src="assets/img/website/andres.webp" class="serv-4 img-fluid transition" alt="Inspección"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-padding">
  <app-certificaciones></app-certificaciones>
</div>
<div class="container">
  <div class="row d-flex col-lg-12 col-12">
    <div class="d-flex col-lg-5 col-md-8 p-3 justify-content-lg-center justify-content-md-center justify-content-center mt-5">
      <img src="assets/img/website/contacto-plagas.png" class="w-100 img-fluid" alt="Fumigador">
    </div>
    <div class="col-lg-7 col-12">
      <div class="container">
        <h2 class="text-center fw-semibold">Nos aseguramos de brindar el mejor servicio en base a nuestros valores empresariales</h2>
        <div class="row mt-5 space-bot d-flex justify-content-around">
          <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="featured-block d-flex justify-content-center align-items-center">
              <span class="featured-block-text">
              <img src="./assets/img/icono-fumigacion.webp" class="featured-block-image img-fluid" alt="">
              <span class="featured-block-text"><strong>Fumigación y Control 24/7</strong></span>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="featured-block d-flex justify-content-center align-items-center">
              <span class="featured-block-text">
                <img src="./assets/img/icono-asistencia.webp" class="featured-block-image img-fluid"
                  alt="Asistencia Inmediata">
                <span class="featured-block-text"><strong>Asistencia <br>Inmediata</strong></span>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="featured-block d-flex justify-content-center align-items-center">
              <span class="featured-block-text">
                <img src="./assets/img/icono-ecuador.webp" class="featured-block-image img-fluid"
                  alt="Cobertura a nivel nacional">
                <span class="featured-block-text"><strong>Cobertura a Nivel Nacional</strong></span>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="900">
            <div class="featured-block d-flex justify-content-center align-items-center">
              <span class="featured-block-text">
                <img src="./assets/img/icono-tratamientos.webp" class="featured-block-image img-fluid"
                  alt="Tratamiento ideal para el cliente">
                <span class="featured-block-text"><strong>Tratamiento ideal para el cliente</strong></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<section class="section-padding">
</section>

<app-footer></app-footer>
