h2 {
  color:white;
}
h5 {
  color:#70B62E;
}

.mision {
  width: 97%;
  height: 93%;
  position: relative;
  z-index: 2;
}
.rounded-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(112, 182, 46, 0.46);
  border-radius: 0px 0px 0px 23px;
  z-index: 1;
}

.vision {
  width: 97%;
  height: 93%;
  position: relative;
  z-index: 2;
}
.rounded-rectangle1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: rgba(112, 182, 46, 0.46);
  border-radius: 0px 0px 23px 0px;
  z-index: 1;
}

.line {
  width: 70%;
  height: 3px;
  background-color: #18191F;
}

[data-cantidad-total] {
  font-size: 2rem;
}

.bannerMisionPlagas{
  width: 100%;
  height: 40em;
  background: url(src/assets/img/website/Banner-mision-plagas.png) center/cover no-repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .line {
    width: 50%;
  }
}
