<app-header-black></app-header-black>
<div class="container">
  <div class="row d-flex p-3 col-12">
    <div class="col-lg-6 col-12 mt-4" data-aos="fade-up" data-aos-delay="100">
      <h5 class="fw-semibold">Sobre Nosotros:</h5>
      <h3 class="fw-semibold text-center mt-3">Misión:</h3>
      <p><b>Ecovitali S.A.</b> es una empresa que brinda soluciones integrales, comercializa servicios de manejo y control integral de plagas urbanas, limpieza y sanitización, desinfección de ambientes y, diseño de prados y jardines; aplicando técnicas profesionales que garantizan la calidad, seguridad y cumplimiento de los requerimientos del mercado y autoridades competentes, comprometidos con la mejora continua de los procesos permitiéndonos innovar constantemente.</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 col-12 d-flex justify-content-end position-relative" data-aos="fade-right" data-aos-delay="100">
      <img src="assets/img/website/Mision_Control_Plagas.png" class="img-fluid mision">
      <div class="rounded-rectangle"></div>
    </div>
  </div>
</div>
<div class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</div>
<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row d-flex p-3 col-12">
    <div class="col-lg-5 col-12 d-flex justify-content-start position-relative">
      <img src="assets/img/website/Vision_Control_Plagas.png" class="img-fluid vision">
      <div class="rounded-rectangle1"></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6 col-12 mt-5">
      <h3 class="fw-semibold text-center mt-3">Visión:</h3>
      <p>Ser líderes en innovación y diseño de los servicios prestados, ser en un referente en el mercado y franquiciar la marca en latinoamérica.</p>
    </div>
  </div>
</div>

<section class="section-padding">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-12">
        <h4 class="fw-semibold"> <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="me-2">POLÍTICA DE SEGURIDAD Y CALIDAD.</h4>
        <div class="card-seguridad p-md-4 p-3">
          <p class="fw-semibold px-3">Todas las empresas ofrecen las mismas variables mínimas requeridas para las plagas, desde su accesibilidad hasta la proliferación, pues estas requieren agua, temperatura ideal, fuentes de alimentación y refugio, la industria farmacéutica y sus canales de distribución no son la excepción, aunque se se puede creer que gracias a sus protocolos internos con instalaciones limpias y desinfectadas las plagas pueden ser evitadas, la realidad es que entre el intercambio de bienes, deterioro continuo de instalaciones aun cuando sean mínimas y el flujo de personas, entre otras variables de riesgo, las plagas siempre encontrarán la manera de contaminar un área, razón por la cual su control es un desafío ante los estrictos protocolos de tratamiento requeridos por las agencias de regulación y calidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-padding banner-valores">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white fw-semibold text-center mb-5">Nos aseguramos de brindar el mejor servicio en base a
          nuestros valores empresariales</h2>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="card m-1 col-lg-2 col-md-2 col-5">
        <img src="assets/img/website/iconos/cliente-importante.svg" alt="" class="mb-2">
        <span class="text-center text-white">El Cliente es lo más <br>Importante</span>
      </div>
      <div class="card m-1 col-lg-2 col-md-2 col-5">
        <img src="assets/img/website/iconos/servicio-calidad.svg" alt="" class="mb-2">
        <span class="text-center text-white">Servicio de Calidad con Personal Competente y Calificado</span>
      </div>
      <div class="card m-1 col-lg-2 col-md-2 col-5">
        <img src="assets/img/website/iconos/atencion-personalizada.svg" alt="" class="mb-2">
        <span class="text-center text-white">Atención <br>Personalizada</span>
      </div>
      <div class="card m-1 col-lg-2 col-md-2 col-5">
        <img src="assets/img/website/iconos/informes-trabajos.svg" alt="" class="mb-2">
        <span class="text-center text-white">Presentación de Informes de los Trabajos Realizados</span>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3">
      <a routerLink="/contacto" class="btn btn-dark mt-4 p-3">Cotiza tu servicio</a>
    </div>
  </div>
</section>
<div class="">
  <app-footer></app-footer>
</div>
