<app-header></app-header>

<div [@routeAnimation] class="animation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nosotros">
          <h2>Sobre Nosotros</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sed quas repellendus voluptatum quae molestiae
            voluptatem voluptas eum quasi fuga fugit fu
            quia fugiat quam molestias repellat voluptatibus voluptatum quas repellendus voluptatum quae molestiae
            voluptatum voluptas eum quasi
            fuga fugit fu quia fugiat quam molestias repellat voluptatibus voluptatum quas repellendus voluptatum quae
            molestiae voluptatum volup
            tas eum quasi fuga fugit fu quia fugiat quam molestias repellat voluptatibus voluptatum quas repellendus
            voluptatum quae molestiae
            voluptatum voluptas eum quasi fuga fugit fu quia fugiat quam molestias repellat voluptatibus voluptatum quas
            repellendus voluptatum
            quae molestiae voluptatum voluptas eum quasi fuga fugit fu quia fugiat quam molestias repellat voluptatibus
            voluptatum quas repell
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
