<div class="container">
  <div class="row align-content-center justify-content-center p-3">
    <div class="col-12">
      <h2 class="fw-bold text-center mb-4">Sistema Ecovitali en simples pasos</h2>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/1.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Creando un Plan de Trabajo</h5>
        <p>Contamos con un sistema de gestión que nos permite adaptar nuestro servicio a las necesidades específicas de
          cada cliente. Ofrecemos programas de asesoría, prevención y corrección que garantizan un control de plagas
          eficaz y seguro. Para ello, contamos con un equipo de profesionales capacitados, que utilizan equipos e
          insumos de última generación.</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/2.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Realizando obras de Mantenimineto y Exclusión</h5>
        <p>En ECOVITALI entendemos que no se trata solo de limpieza sino que entregamos un servicio profesional en la detección, corrección, reparación y documentación de los puntos críticos que suponen un riesgo de acceso o anidación de las plagas, de forma conjunta y continua con nuestros clientes.</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/3.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Controlando Insectos</h5>
        <p>Contamos con un sistema de gestión que nos permite adaptar nuestro servicio a las necesidades específicas de cada cliente. Ofrecemos programas de asesoría, prevención y corrección que garantizan un control de plagas eficaz y seguro. Para ello, contamos con un equipo de profesionales capacitados, que utilizan equipos e insumos de última generación.</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/4.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Controlando Roedores</h5>
        <p>Los roedores son un riesgo alto en el sector de alimentos y bebidas, pues pueden contaminar o destruir productos e inventario y transmitir enfermedades letales. En ECOVITALI los protegemos de esta plaga, con sistemas mecánicos y químicos según norma y área, repelentes orgánicos y medidas de exclusión, que crean una barrera ante los roedores.</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/5.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Limpieza Técnica</h5>
        <p>La limpieza técnica consiste en aplicar sistemas y tratamientos regulares para eliminar la grasa y la suciedad de los equipos de producción. Este tratamiento ecológico reduce los riesgos de artópodos rastreros y voladores. En ECOVITALI somos expertos en estas áreas y buscamos facilitar el mantenimiento y mejorar los protocolos de nuestros clientes.</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="assets/img/website/iconos/6.svg" class="card-img-top pasos-icon" alt="">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Cumpliendo Tratamientos Especiales</h5>
        <p>Los tratamientos especiales se refieren a las tareas de prevención y control de vectores menos comunes tal como las aves, murciélagos u otros animales, cada caso es tratado de forma independiente y se trabaja de forma coordinada con nuestros clientes para brindar un servicio seguro y amparado en el marco legal.</p>
      </div>
    </div>
  </div>
</div>
