<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <h2 class="fw-semibold text-center">Certificados y Avalados</h2>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="col-md-12 d-flex flex-wrap justify-content-around align-items-center">
      <!--============ CERTIFICACION ISO-9001 ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Certificación ISO-9001" data-bs-content="Nuestro certificado ISO 9001 2015 cubre todos los aspectos y fases de nuestra empresa, no es parcial o documental, sino que es integral; nuestro sistema de gestion de calidad tiene validaciones internacionales y permite a ECOVITALI ajustarse a los más estrictos procesos de nuestros clientes, volviéndonos los mejores asociados de negocios.">
        <img src="assets/img/ISO.webp" class="logos-certf d-flex justify-content-center" alt="Logo Certificación ISO-9001">
      </div>
      <!--============ BUSINESS ALLIANCE FOR SECURE ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Business Alliance for Secure" data-bs-content="Somos certificados BASC - Business Alliance for Secure Commerce y como tal formamos parte de una alianza empresarial internacional basada en el comercio seguro en cooperación con otros asociados, gobiernos y organismos internacionales. En ECOVITALI  no decimos que somos honestos sino que lo certificamos.">
        <img src="assets/img/BASC.webp" class="logos-certf d-flex justify-content-center" alt="Logo Business Alliance for Secure">
      </div>
      <!--============ MINISTERIO DE SALUD PUBLICA ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Ministerio de Salud Pública" data-bs-content="Nuestro acuerdo social y compromiso por ser los mejores se sustenta con nuestra responsabilidad adquirida por los permisos otorgados por el Ministerio de Salud Pública del Ecuador.">
        <img src="assets/img/MSP.webp" class="logos-certf d-flex justify-content-center" alt="Logo Ministerio de Salud Pública">
      </div>
      <!--============ ASOCIACIÓN ECUATORIANA DE CONTROL DE PLAGAS ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Asociación Ecuatoriana de Control de Plagas" data-bs-content="Somos miembros activos de AEUCPU - Asociación Ecuatoriana de Controladores de Plagas Urbanas, evidenciando que no somos solo una marca de prestigio sino también validada por los agentes de mercado locales.">
        <img src="assets/img/ARCSA.webp" class="logos-certf d-flex justify-content-center" alt="Logo Asociación Ecuatoriana de Control de Plagas">
      </div>
      <!--============ NATIONAL PEST MANAGEMENT ASSOCIATION ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="National Pest Management Association" data-bs-content="Somos miembros activos internacionales de NPMA - National Pest Management Association, lo que nos permite mantenernos en constante capacitación y actualización sobre los desarrollos y avances del control de plagas a nivel internacional, que junto a alianzas privadas de la industria nos permite presumir de ser la mejor oferta del mercado.">
        <img src="assets/img/NPMA.webp" class="logos-certf d-flex justify-content-center" alt="Logo National Pest Management Association">
      </div>
      <!--============ AMERICAN MOSQUITO CONTROL ASSOCIATION ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="American Mosquito Control Association" data-bs-content="Somos miembros activos internaciones de AMCA - American Mosquito Control Association, lo que nos permite mantenernos en constante capacitacón y actualización sobre los desarrollos y avances del control de los misquitos a nivel internacional, que junto a alianzas privadas de la industria nos permite presumir de ser la mejor oferta del mercado.">
        <img src="assets/img/AMCA.png" class="amca d-flex justify-content-center" alt="Logo American Mosquito Control Association">
      </div>
      <!--============ MINISTERIO DEL AMBIENTE ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Ministerio del Ambiente" data-bs-content="Nuestro compromiso con el medio ambiente es real y como tal contamos con nuestros permisos ambientales emitidos por el Ministerio del Ambiente del Ecuador que certifican nuestro compromiso con este y la sociedad.">
        <img src="assets/img/MDA.webp" class="logos-certf d-flex justify-content-center" alt="Logo Ministerio del Ambiente">
      </div>
      <!--============ AGROCALIDAD ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="AGROCALIDAD" data-bs-content="Somos una empresa responsable con la sociedad, la normativa y las leyes, por ello operamos gracias a nuestra licencia profesional como aplicadores terrestres emitida por AGROCALIDAD, institución pública adscrita al ministerio de agricultura y Ganadería.">
        <img src="assets/img/AGROCALIDAD.webp" class="logos-certf d-flex justify-content-center" alt="Logo AGROCALIDAD">
      </div>
      <!--============ ISSA ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="ISSA" data-bs-content="La certificación ISSA en nuestro servicio de limpieza garantiza estándares profesionales, competencia y conocimientos específicos. Demostramos un compromiso serio con la calidad y seguimos las mejores prácticas de la industria. Nuestros clientes confían en la eficiencia y calidad respaldada por esta certificación reconocida internacionalmente.">
        <img src="assets/img/ISSA.webp" class="issa d-flex justify-content-center" alt="Logo ISSA">
      </div>
    </div>
  </div>
</div>
