<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <h2 class="fw-semibold text-center">Certificados y Avalados</h2>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="col-md-12 d-flex flex-wrap justify-content-around">
      <!--============ CERTIFICACION ISO-9001 ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Certificación ISO-9001" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/ISO.webp" class="logos-certf d-flex justify-content-center" alt="Logo Certificación ISO-9001">
      </div>
      <!--============ BUSINESS ALLIANCE FOR SECURE ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Business Alliance for Secure" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/BASC.webp" class="logos-certf d-flex justify-content-center" alt="Logo Business Alliance for Secure">
      </div>
      <!--============ MINISTERIO DE SALUD PUBLICA ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Ministerio de Salud Pública" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/MSP.webp" class="logos-certf d-flex justify-content-center" alt="Logo Ministerio de Salud Pública">
      </div>
      <!--============ ASOCIAACIÓN ECUATORIOANA DE CONTROL DE PLAGAS ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Asociación Ecuatoriana de Control de Plagas" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/ARCSA.webp" class="logos-certf d-flex justify-content-center" alt="Logo Asociación Ecuatoriana de Control de Plagas">
      </div>
      <!--============ NATIONAL PEST MANAGEMENT ASSOCIATION ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="National Pest Management Association" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/NPMA.webp" class="logos-certf d-flex justify-content-center" alt="Logo National Pest Management Association">
      </div>
      <!--============ AMERICAN MOSQUITO CONTROL ASSOCIATION ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="American Mosquito Control Association" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/AMCA.png" class="amca d-flex justify-content-center" alt="Logo American Mosquito Control Association">
      </div>
      <!--============ MINISTERIO DEL AMBIENTE ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Ministerio del Ambiente" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/MDA.webp" class="logos-certf d-flex justify-content-center" alt="Logo Ministerio del Ambiente">
      </div>
      <!--============ AGROCALIDAD ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="AGROCALIDAD" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/AGROCALIDAD.webp" class="logos-certf d-flex justify-content-center" alt="Logo AGROCALIDAD">
      </div>
      <!--============ ISSA ============-->
      <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="ISSA" data-bs-content="Lorem ipsum dolor sit amet consectetur adipiscing elit urna litora, molestie hac magna non tellus himenaeos platea mus aliquam, tortor ullamcorper id pulvinar iaculis porttitor vestibulum senectus. Sociis facilisi est placerat suscipit diam cras eleifend leo, sollicitudin dictum neque himenaeos eu platea quam morbi viverra, feugiat">
        <img src="assets/img/ISSA.png" class="issa d-flex justify-content-center" alt="Logo ISSA">
      </div>
    </div>
  </div>
</div>
