<app-header></app-header>
<section class="video-background" id="portada">
  <div class="container-fluid px-0">
    <img src="assets/img/website/banner-jardineria.png" class="hero" alt="Portada-Ecovitali">
    <div class="video-background__content" data-aos="fade-up">
      <img src="assets/img/website/SVG-Icono-Division-13.svg" class="icon-jardineria" alt="Control de Plagas"><span class="text-light fw-semibold m-0 mb-3">Prados y Jardines</span>
      <h1 class="text-center text-light">Transformamos tus espacios<br> con Jardinería de calidad.</h1>
      <h5 class="text-center text-light fw-normal">El arte y la experiencia son nuestro respaldo.</h5>
      <div (click)="scrollToSection('sectores')" class="custom-btn-section mt-4"><img src="assets/img/website/flecha.svg">Conoce más sobre nuestra división</div>
    </div>
  </div>
</section>

<section class="section-padding" id="sectores">
  <div class="container-fluid" style="background: #FCF0E4;">
    <div class="row p-md-0 p-3">
      <div class="col-md-1"></div>
      <div class="col-md-6 col-sm-12 col-12 pe-md-5">
        <h1 class="mt-md-5 mt-3">Ciudamos de tus <br>Prados y Jardines</h1>
        <h4 class="mt-2 text-start">Asegurando un mantenimiento impecable <br>y saludable de tus áreas verdes.</h4>
        <div class="mt-2">
          <a href="https://api.whatsapp.com/send/?phone=%2B593992852299&text&type=phone_number&app_absent=0" class="btn-llama-profesional p-md-3 py-2 px-2 me-2"><img src="assets/img/website/iconos/call.svg" class="me-3 img-fluid" alt="Llama a un profesional de Ecovitali"><span class="fw-semibold">Llama a un profesional</span></a>
          <button routerLink="/certificaciones" class="btn-contratanos p-md-3 py-2 px-2 my-3"><img src="assets/img/website/iconos/pregunta.svg" class="me-3 img-fluid" alt="Porqué contratar a Ecovitali"><span class="fw-semibold">¿Por qué Contratarnos?</span></button>
        </div>
        <h4 class="fw-semibold mt-3">Certificados y Avalados</h4>
        <div class="col-md-5 d-flex flex-wrap justify-content-around">
          <!--============ CERTIFICACION ISO-9001 ============-->
          <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Certificación ISO-9001" data-bs-content="Nuestro certificado ISO 9001 2015 cubre todos los aspectos y fases de nuestra empresa, no es parcial o documental, sino que es integral; nuestro sistema de gestion de calidad tiene validaciones internacionales y permite a ECOVITALI ajustarse a los más estrictos procesos de nuestros clientes, volviéndonos los mejores asociados de negocios.">
            <img src="assets/img/ISO.webp" class="certificados d-flex justify-content-center" alt="Logo Certificación ISO-9001">
          </div>
          <!--============ BUSINESS ALLIANCE FOR SECURE ============-->
          <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Business Alliance for Secure" data-bs-content="Somos certificados BASC - Business Alliance for Secure Commerce y como tal formamos parte de una alianza empresarial internacional basada en el comercio seguro en cooperación con otros asociados, gobiernos y organismos internacionales. En ECOVITALI  no decimos que somos honestos sino que lo certificamos.">
            <img src="assets/img/BASC.webp" class="certificados d-flex justify-content-center" alt="Logo Business Alliance for Secure">
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-12 d-none d-sm-flex align-items-end mt-lg-0 mt-4 px-0">
        <img src="assets/img/website/hero-jardineria.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!--================= CATALOGO DE PRODUCTOS =================-->
<!-- <section class="section-padding" id="catalogo">
  <div class="container">
    <div class="text-center col-12">
      <span class="btn-servicios px-3">Catálogo de Productos</span>
      <h2 class="text-center">Conoce Nuestro Trabajo</h2>
      <p class="text-center">Modelos de Jardines</p>
      <div class="row justify-content-around">
        <div class="col-lg-3 col-md-6 col-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png" alt="Imágen Referencial del Producto">
            <div class="card-body">
              <h4 class="card-title text-start fw-semibold">Modelo XYZ</h4>
              <p class="text-start card-text">$80</p>
              <div class="d-flex justify-content-end">
                <button href="" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png" alt="Imágen Referencial del Producto">
            <div class="card-body">
              <h4 class="card-title text-start fw-semibold">Modelo XYZ</h4>
              <p class="text-start card-text">$80</p>
              <div class="d-flex justify-content-end">
                <button href="" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png" alt="Imágen Referencial del Producto">
            <div class="card-body">
              <h4 class="card-title text-start fw-semibold">Modelo XYZ</h4>
              <p class="text-start card-text">$80</p>
              <div class="d-flex justify-content-end">
                <button href="" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="assets/img/website/modelo-jardin.png" alt="Imágen Referencial del Producto">
            <div class="card-body">
              <h4 class="card-title text-start fw-semibold">Modelo XYZ</h4>
              <p class="text-start card-text">$80</p>
              <div class="d-flex justify-content-end">
                <button href="" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-proximamente">
    <h3 class="mt-4 fw-semibold" style="color: #ffffff;">¡Próximamente!</h3>
  </div>
</section> -->

<!--============================ TU BIENESTAR ES NUESTRA PRIORIDAD ============================-->
<section class="section-padding">
  <div class="container">
    <div class="row d-flex col-lg-12 col-12">
      <div class="col-lg-6 col-md-12 col-12">
        <img src="assets/img/website/jardineria-section.png" class="img-fluid" alt="Ecovitali, calidad en jardinería">
      </div>
      <div class="col-lg-6 col-md-12 col-12 px-5">
        <h2 class="fw-semibold my-3 mt-5">Tu Bienestar es Nuestra Prioridad</h2>
        <p class="mb-5 text-start">Priorizamos tu imagen empresarial y calidad de vida garantizando jardines estéticos y bien conservados en cada servicio, con  personal capacitado que garantizan resultados.</p>
        <div class="my-4" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/website/iconos/check-jardineria.svg"><span
            class="mx-3 fw-semibold">Comprometidos con tu Salud</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="200"><img src="assets/img/website/iconos/check-jardineria.svg"><span
            class="mx-3 fw-semibold">Profesionales de Confianza</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="250"><img src="assets/img/website/iconos/check-jardineria.svg"><span
            class="mx-3 fw-semibold">Trabajo Garantizado</span> </div>
      </div>
    </div>
  </div>
</section>


<!--================= CARDS DE CALIDAD, EXCELENCIA DE LA DIVISION DE JARDINERIA =================-->
<section class="section-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-12 img-jardines-container">
        <div class="img-jardines"></div>
      </div>
      <div class="col-lg-6 col-12 d-flex flex-wrap p-0 color-card">
        <div class="col-lg-6 col-sm-6 col-6 px-0 d-flex align-items-center justify-content-center">
          <div class="card-jardineria">
            <img src="assets/img/website/iconos/Calidad-jardines.svg" class="img-fluid icon-card">
            <h5 class="card-title text-center fw-bold">Calidad en <br>nuestro trabajo</h5>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 px-0 d-flex align-items-center justify-content-center">
          <div class="card-jardineria">
            <img src="assets/img/website/iconos/Excelencia-jardines.svg" class="img-fluid icon-card">
            <h5 class="card-title text-center fw-bold">Excelencia en <br>cada Detalle</h5>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 px-0 d-flex align-items-center justify-content-center">
          <div class="card-jardineria">
            <img src="assets/img/website/iconos/Protegiendo-jardines.svg" class="img-fluid icon-card">
            <h5 class="card-title text-center fw-bold">Protegiendo el <br>medio ambiente</h5>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 px-0 d-flex justify-content-center">
          <div class="card-jardineria">
            <img src="assets/img/website/iconos/Servicio-jardines.svg" class="img-fluid icon-card">
            <h5 class="card-title text-center fw-bold">Servicio <br>Garantizado</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/img/website/operador4-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-7">
        <h3 class="fw-bold" style="color: #EFA357;">INNOVAMOS EL</h3>
        <h3 class="fw-bold" style="color: #0F2435;">SERVICIO DE JARDINERÍA</h3>
        <h3>PARA AYUDAR A NUESTROS CLIENTES</h3>
        <p>Ahora ofrecemos la opción de tener a uno de nuestros operadores de planta en tu establecimiento, brindando un servicio continuo y eficiente. Más que un servicio, es una alianza para que mantengas tus jardines impecables en tus instalaciones.</p>
        <div class="container container-innovacion d-flex">
          <!-- Primera fila -->
          <div class="row ">
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Servicio Continuo</span>
              </div>
            </div>
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Monitoreo Constante</span>
              </div>
            </div>
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Optimización de Recursos</span>
              </div>
            </div>
          </div>

          <!-- Segunda fila -->
          <div class="row">
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Comunicación Directa</span>
              </div>
            </div>
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Soluciones Personalizadas</span>
              </div>
            </div>
            <div class="col-md-11 col-12 m-md-3 m-0">
              <div class="checks-innovacion">
                <img src="assets/img/website/iconos/check-jardineria.svg" class="img-fluid pe-2">
                <span class="fw-semibold">Atención Emergente</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contacto"></div>
</section>

<section class="section-padding banner-jardineria2 d-flex mb-5">
  <div class="container align-content-center align-items-center d-flex">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h4 class="text-white fw-semibold">Ingresa tu correo electrónico para recibir notificaciones sobre nuestras promociones</h4>
      </div>
      <div class="col-lg-6 col-12">
        <div class="input-group my-3">
          <input type="text" class="form-control" placeholder="Ingresa tu correo" aria-label="mail" aria-describedby="input-group-button-right">
          <button type="button" class="btn btn-success" id="input-group-button-right">Suscríbete</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5" data-aos="fade-up" data-aos-delay="100">
  <app-contactform divisionEmpresarial="Jardineria" imagenContacto="assets/img/website/contacto-jardineria.png" botonColor="#212529"></app-contactform>
</section>

<div class="mt-5">
  <app-footer></app-footer>
</div>
