.icon-jardineria {
  width: 6em;
  height: 6em;
}

.h1-cp {
  color: var(--white-color);
  letter-spacing: -1px;
}

.h2-cp {
  color: var(--white-color);
  line-height: 40px;
}

.sectores {
  height: 100vh;
}

.logos {
  width: 120px;
  height: 120px;
}

.btn-servicios {
  background-color: #dce0e7;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  border-radius: 20px;
  border: 5px solid transparent;
  margin-bottom: 10px;
}

.btn-contratanos {
  border-radius: 8px;
  border: 2px solid #130F26;
  background-color: transparent;
}

.btn-llama-profesional {
  background: #130F26;
  border-radius: 8px;
  width: auto;
  border: 2px solid #130F26;
  color: #ffffff;
}


.certificados {
  margin: auto;
  width: 100px;
  height: 100px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.certificados:hover {
  transform: scale(1.1); /* Escala el elemento al 110% en hover */
}

/* Estilo del contenido encima de la imagen de fondo */
.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.card {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: 0.5s ease-out;
}

.card-sectores:hover {
  transform: translate(1.1);
  border-color: #EF7912;
  box-shadow: 0 4px 18px 0 rgb(242, 138, 49);
}

.btn-primary {
  background: #337A5B;
  border-color: #337A5B;
  justify-items: end;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}

.flex-item {
  flex: 1; /* Hace que todos los elementos ocupen el mismo espacio vertical */
  display: grid;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  height: auto;
}

.card-jardineria {
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.color-card {
  background: #FFF3DB;
}

.icon-card {
  width: 60px;
  margin: 1em;
}

.card-text {
  color: #000000;
  font-size: 0.8em;
}

.form-control {
  background-color: transparent;
  border: 1px solid #ced4da; /* Color del borde */
  color: #ffffff; /* Color del texto */
}

.banner-jardineria2 {
  width: 100%;
  height: 30em;
  background: url(src/assets/img/website/banner-jardineria2.webp) center/cover no-repeat;
  position: relative;
}

.img-jardines-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.img-jardines {
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(src/assets/img/website/jardineria-calidad.webp) center/cover no-repeat;
}

.checks-innovacion {
  background: #FCF0E4;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 8px;
}

.container-innovacion {
  background: #FFFFFF;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
}

@media (max-width: 960px) {
  .img-jardines {
    display: none; /* Oculta la imagen en la vista responsive */
  }
}
