.carousel {
  width: 900px;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.carousel-track {
  display: flex;
  width: fit-content;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-button {
  position: absolute;
  top: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
