
<div class="carousel">
  <div class="carousel-track">
    <div class="carousel-item"><img src="./assets/img/website/SVG-Icono-Division-07.svg" alt="" /></div>
    <div class="carousel-item"><img src="./assets/img/website/SVG-Icono-Division-08.svg" alt="" /></div>
    <div class="carousel-item"><img src="./assets/img/website/SVG-Icono-Division-09.svg" alt="" /></div>
    <div class="carousel-item"><img src="./assets/img/website/SVG-Icono-Division-10.svg" alt="" /></div>
  </div>
  <button class="carousel-button prev">Prev</button>
  <button class="carousel-button next">Next</button>
</div>
