<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row align-items-center p-3">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">MANEJO INTEGRAL DE <br>PLAGAS EN HOSPITALES</h2>
      <p>Es suficiente con los riesgos asociados gérmenes, virus y bacterias, el sector de la salud requiere un servicio de control de plagas que ofrezca una solución integral y en ECOVITALI somos los mejores con un servicio de manejo integral de plagas - MIP sustentada en bases científicas y el soporte de nacional e internacional, con una metodología específica del control de plagas implementamos nuestro plan DD referente a tareas de desinsectación y desratización, que comprende el uso de medidas preventivas y correctivas, evitando la presencia de animales que pudieren constituir una plaga. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/hospitales.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/importancia-hospitales.png" class="img-fluid d-none d-md-block">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <h4 class="fw-semibold">¿POR QUÉ ES IMPORTANTE EL CONTROL DE PLAGAS EN CLINICAS Y HOSPITALES?</h4>
          <p class="">Las plagas son sumamente invasivas y peligrosas, logrando acceder y prosperar siempre que las áreas proporcionen refugio, agua y/o alimentos, pues más allá de los estrictos protocolos de limpieza y sanitización, una pequeña grieta supone un riesgo crítico. Las auditorías de agencias nacionales e internacionales ya sean públicas o privadas tienen un requisito muy amplio pero claro, <b>NO DEBE HABER PLAGAS</b> y en ECOVITALI contamos con un programa de protección y precisión para el sector de la salud, diseñado para cumplir y superar los requisitos contemplados en el marco nacional e internacional.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section>
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
