<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row align-items-center p-3">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">MANEJO INTEGRAL DE PLAGAS EN URBANIZACIONES</h2>
      <p>Cuando un bien es rentado el objetivo de uso cambia para su propietario y con ello su condición individual, convirtiéndolo en un empresario y el manejo del bien en un negocio; en ECOVITALI conocemos las diferencias técnicas y lo tratamos a nuestro cliente con sistemas integrados acorde a sus necesidades, gracias a nuestro sistema de gestión integrada de calidad, seguridad y distribución dinámico estamos en la capacidad de atender a nuestros clientes en todo el país.</p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/farmacias.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
