<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">MANEJO INTEGRAL DE <br>PLAGAS EN BODEGAS Y CENTROS DE DISTRIBUCIÓN</h2>
      <p>La alta exposición y riesgos asociados a las plagas en las bodegas y centros de distribución es permanentemente debido a las variables externas de cada sistema, en ECOVITALI lo tenemos claro y por ello que nos preparamos de forma permanente para brindar un servicio profesional y de alta calidad, desde el control de las áreas de forma preventiva con medidas de exclusión hasta el control de plagas sobre los productos almacenados, los sistemas de distribución cuentan con su propio sistema de control y trazabilidad, el MIP de ECOVITALI se sustenta sobre bases científicas y nuestra metodología es adaptable a las necesidades individuales de nuestros clientes. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12 mt-5">
      <img src="assets/img/website/bodegas.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/importancia-escuelas.png" class="img-fluid d-none d-md-block" alt="Importancial del Control de Plagas en las Escuelas">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <h4 class="fw-semibold">¿POR QUÉ ES IMPORTANTE EL CONTROL DE PLAGAS EN BODEGAS Y CENTROS DE DISTRIBUCIÓN?</h4>
          <p class="">El <b>MIP</b> es relevante en las bodegas y centros de distribución pues constituye un punto de partida a la contaminación de productos y con ello distribuir una plaga afectando a un producto y contaminando a otros asociados a su entorno directo e indirecto, esta fase es crítica y debe garantizar que los productos almacenados no se vean afectados por plagas minimizando el riesgo a personas o bienes, previniendo afectaciones a marcas y su prestigio. El MIP de ECOVITALI genera registros de situación inicial, datos de densidad de población de plagas, productos y equipos junto a su condición y características, capturas y proyecciones, entre otros, que permiten elevar cálculos estadísticos históricos y proyectados, muy aplicados y solicitados en auditorias y verificaciones de calidad de procesos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="mt-5">
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
