.contact-form {
  width: 100%;
  background-color: transparent;

}

.error-message {
  color: red; /* Color del texto de error */
  font-size: 14px; /* Tamaño de fuente del mensaje de error */
  margin-top: 5px; /* Espacio superior entre el campo y el mensaje de error */
  /* Agrega otros estilos de mensaje de error según tus preferencias */
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.icon-img {
  width: 87%;
  margin-bottom: 20px;
}

.social-icon {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: var(--site-footer-bg-color);
  font-size: var(--h4-font-size);
  display: block;
  text-align: center;
  line-height: 48px;
  background: transparent;
  width: inherit;
  height: inherit;
  line-height: inherit;
  margin-right: 23px;
}

.social-icon-link:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.site-header .social-icon {
  text-align: left;
  margin-top: 5px;
}

.social-share .tags-block {
  margin-bottom: 10px;
}


.custom-btn-section-plagas {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.4s;
  padding: 15px;
  width: 80%;
  border-radius: 1rem;
  background: #9bc31e;
  border: 1px solid transparent;
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
}
.custom-btn-section-plagas:hover {
  background: #6eb32d;
  transform: translateY(10px);
}
