<div class="container">
  <div class="row">
    <div class="col-md-5 col-12">
      <h4 class="fw-semibold">5 Puntos Clave que aseguran una auditoría Exitosa del Control de Plagas</h4>
      <img src="assets/img/website/iconos/auditoria-control-plagas.svg" class="img-fluid mt-4">
    </div>
    <div class="col-md-7 col-12 d-flex justify-content-center flex-column mt-lg-0 mt-5">
      <!-- DOCUMENTACION -->
      <div class="container-p-clave-auditorias p-lg-3 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/documentacion.svg" class="me-3 img-fluid img-p-clave" alt="Servicio de Excelencia">
        <div>
          <h5 class="fw-semibold text-white">Documentación:</h5>
          <p class="text-white">Nuestro sistema de gestión integrada documenta y respalda el servicio de control de plagas, basado en datos técnicos, matemáticos y estadísticos, y define los roles y responsabilidades de nuestro personal y de ECOVITALI como proveedor.</p>
        </div>
      </div>
      <!-- REGISTRO DE TRATAMIENTO APLICADOS -->
      <div class="container-p-clave-auditorias2 p-lg-3 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/registro-tratamientos.svg" class="me-3 img-fluid img-p-clave" alt="Servicio de Excelencia">
        <div>
          <h5 class="fw-semibold">Registro de Tratamientos Aplicados:</h5>
          <p class="">Con registros digitales de los tratamientos, evaluamos los resultados y la sostenibilidad y adaptabilidad de estos. Hacemos comparativos parciales del tratamiento por evaluaciones anuales o ciclos preestablecidos.</p>
        </div>
      </div>
      <!-- EVIDENCIA DE LAS CAPACITACIONES -->
      <div class="container-p-clave-auditorias p-lg-3 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/evidencia.svg" class="me-3 img-fluid img-p-clave" alt="Servicio de Excelencia">
        <div>
          <h5 class="fw-semibold text-white">Evidencia de las capacitaciones:</h5>
          <p class="text-white">En ECOVITALI capacitamos continuamente a nuestro talento humano, cumpliendo con la ley nacional y las normas de la industria. Capacitamos al talento humano de nuestros clientes y documentamos todo en nuestra plataforma digital de comunicación. Así, garantizamos veracidad de la información y las auditorías.</p>
        </div>
      </div>
      <!-- REPORTE DE NOVEDADES -->
      <div class="container-p-clave-auditorias2 p-lg-3 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/novedades.svg" class="me-3 img-fluid img-p-clave" alt="Servicio de Excelencia">
        <div>
          <h5 class="fw-semibold">Reporte de Novedades:</h5>
          <p class="">Las auditorías de procesos y análisis requieren informes de gestión con tendencias, relacionados con la inspección, evaluación y acciones correctivas. En ECOVITALI registramos toda actividad de plagas en informes mensuales o de continuidad, y en registros de observación si el cliente lo necesita, acorde con las acciones correctivas y preventivas.</p>
        </div>
      </div>
      <!-- REGISTRO DE INSUMOS Y EQUIPOS -->
      <div class="container-p-clave-auditorias p-lg-3 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/registro-insumos.svg" class="me-3 img-fluid img-p-clave" alt="Servicio de Excelencia">
        <div>
          <h5 class="fw-semibold text-white">Registro de Insumos y Equipos:</h5>
          <p class="text-white">En ECOVITALI no omitimos información crítica y registramos los equipos e insumos, verificando su uso, permisos, vigencia, calibración y mantenimiento. También registramos y documentamos todos los servicios prestados, incluyendo los insectos encontrados y las acciones correctivas.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<section class="section-padding"></section>
