.container-p-clave-auditorias {
  width: auto;
  height: auto;
  border-radius: 0;
  background: #285a43;
  position: relative;
  text-align: justify;
  font-size: 0.8em;
}
.container-p-clave-auditorias2 {
  width: auto;
  height: auto;
  border-radius: 0;
  background: #d9d9d9;
  position: relative;
  text-align: justify;
  font-size: 0.8em;
}

.img-p-clave {
  max-width: 60px;
}

p {
  margin-bottom: 0;
}
