<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
      <h4 class="fw-semibold">5 Puntos Clave que aseguran una auditoría Exitosa del Control de Plagas</h4>
      <img src="assets/img/website/iconos/auditoria-control-plagas.svg" class="img-fluid mt-4">
    </div>
    <div class="col-md-8 col-12 d-flex justify-content-center flex-column">
      <div class="container-ofr-servicios mb-2 p-lg-4 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/servicios-excelencia.svg" class="p-lg-3 p-3 img-fluid" alt="Servicio de Excelencia">
        <p><b>Ofrecemos un servicio de excelencia</b> gracias a la inversión constante en nuestro equipo y valores que respaldan nuestra misión de contribuir a un mundo mejor, justo e inclusivo, respetando el medio ambiente.</p>
      </div>
      <div class="container-ofr-servicios mb-2 p-lg-4 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/servicios-excelencia.svg" class="p-lg-3 p-3 img-fluid" alt="Servicio de Excelencia">
        <p><b>Ofrecemos un servicio de excelencia</b> gracias a la inversión constante en nuestro equipo y valores que respaldan nuestra misión de contribuir a un mundo mejor, justo e inclusivo, respetando el medio ambiente.</p>
      </div>
      <div class="container-ofr-servicios mb-2 p-lg-4 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/servicios-excelencia.svg" class="p-lg-3 p-3 img-fluid" alt="Servicio de Excelencia">
        <p><b>Ofrecemos un servicio de excelencia</b> gracias a la inversión constante en nuestro equipo y valores que respaldan nuestra misión de contribuir a un mundo mejor, justo e inclusivo, respetando el medio ambiente.</p>
      </div>
      <div class="container-ofr-servicios mb-2 p-lg-4 p-2 d-flex" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/iconos/servicios-excelencia.svg" class="p-lg-3 p-3 img-fluid" alt="Servicio de Excelencia">
        <p><b>Ofrecemos un servicio de excelencia</b> gracias a la inversión constante en nuestro equipo y valores que respaldan nuestra misión de contribuir a un mundo mejor, justo e inclusivo, respetando el medio ambiente.</p>
      </div>
    </div>
  </div>
</div>
<section class="section-padding"></section>
