<app-header></app-header>
<section class="desinfeccion">
  <div class="container py-5 text-center" data-aos="fade-up">
    <div class="d-block justify-content-center row mx-lg-5 mx-5">
      <div class="col-12 container-desinfeccion">
        <div class="mx-lg-5 mx-0 mt-2">
          <div class="d-block text-center">
            <img src="assets/img/website/SVG-Icono-Division-14.svg" class="icon-desinfeccion" alt="Desinfección y Sanitización">
            <p class="text-white fw-semibold text-center">Desinfección</p>
          </div>
          <h1 class="h1-cp">Desinfección de espacios, un mundo libre de virus.</h1>
          <h2 class="h2-cp d-none d-md-block mt-3">Tu salud es nuestra prioridad. Protegemos tus espacios de Covid-19 y otros virus</h2>
          <div (click)="scrollToSection('index')" class="custom-btn-section mt-4"><img
              src="assets/img/website/flecha.svg" class="align-content-center"><span class="px-2">Conoce más sobre
              nuestra división</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding" id="index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-5 col-12 pe-5 mt-4" data-aos="fade-up">
        <div class="d-flex align-items-center"><img src="assets/img/website/iconos/check-celeste.svg"><span class="p-2 text-celeste">Confiabilidad en tu hogar y tu empresa</span></div>
        <h1 class="mt-5">Desinfección Profesional a tu Alcance</h1>
        <p class="mt-2 text-start">Protegemos tu Bienestar lugar por lugar garantizando espacios limpios y seguros.</p><br>
        <div class="d-flex justify-content-lg-start justify-content-center">
          <button class="btn btn-dark mt-3 p-3">Conoce más sobre nosotros</button>
        </div>
      </div>
      <div class="col-lg-6 col-12 d-flex align-items-end mt-lg-0 mt-4 px-0" data-aos="fade-up">
        <img src="assets/img/website/desinfeccion-hero.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row d-flex col-lg-12 col-12">
      <div class="col-lg-6 col-md-12 col-12">
        <img src="assets/img/website/desinfeccion-section.png" class="img-fluid" alt="Limpieza de Interiores">
      </div>
      <div class="col-lg-6 col-md-12 col-12 px-5">
        <h2 class="fw-semibold my-3 mt-5">Tu Bienestar es Nuestra Prioridad</h2>
        <p class="mb-5">Priorizamos tu salud y calidad de vida garantizando entornos limpios y seguros en cada
          servicio, con personal capacitado que garantizan resultados.</p>
        <div class="my-4" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Comprometidos con tu Salud</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="200"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Profesionales de Confianza</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="250"><img src="assets/img/website/iconos/Check-limpieza2.svg"><span
            class="mx-3 fw-semibold">Trabajo Garantizado</span> </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-5"><app-certificados></app-certificados></section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <!-- Imagen 1 -->
      <div class="col-lg-6 col-12 order-lg-2 order-1 mb-3 mt-2" data-aos="fade-left">
        <img src="assets/img/website/desinfeccion-profesional.png" class="img-fluid" alt="Desinfección Profesional">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-6 col-12 order-lg-1 order-2 mb-3 mt-2" data-aos="fade-right">
        <div class="card-limpieza p-4 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Profesional</h2>
          <span class="text-start">Entendemos la importancia de mantener espacios seguros y libres de gérmenes. Nuestros servicios de desinfección profesional son la respuesta a tus necesidades de higiene. Utilizamos técnicas avanzadas y productos de calidad para eliminar de manera efectiva virus y bacterias, creando un ambiente saludable y seguro para ti, tu familia o tu equipo.
          </span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-6 col-12 order-lg-3 order-3 mt-2" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/LimpiezaProfunda.png" class="img-fluid" alt="Limpieza Profunda">
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-6 col-12 order-lg-4 order-4 mt-2" data-aos="fade-left" data-aos-delay="300">
        <div class="card-limpieza p-4 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Residencial</h2>
          <span class="text-start">Tu hogar es tu refugio, y su seguridad es nuestra prioridad. Nuestros servicios de desinfección residencial están diseñados para proteger a tu familia. Con enfoque en las áreas de mayor contacto, eliminamos gérmenes y virus, proporcionándote la tranquilidad que necesitas en tu espacio personal.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-garantia></app-garantia>
  </div>
  <div class="container">
    <div class="row">
      <!-- Imagen 1 -->
      <div class="col-lg-6 col-12 order-lg-2 order-1 mb-3 mt-2" data-aos="fade-left">
        <img src="assets/img/website/LimpiezaFinalObra.png" class="img-fluid" alt="Limpieza de Oficinas">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-6 col-12 order-lg-1 order-2 mb-3 mt-2" data-aos="fade-right">
        <div class="card-limpieza p-3 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Comercial</h2>
          <span class="text-start">Para las empresas, la higiene es fundamental, tanto para empleados como para clientes. Ofrecemos soluciones de desinfección comercial que se adaptan a tu horario y necesidades específicas. Mantén tu entorno de trabajo seguro y evita interrupciones con nuestros servicios confiables de desinfección.
          </span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-6 col-12 order-lg-3 order-3 mt-2" data-aos="fade-right" data-aos-delay="300">
        <img src="assets/img/website/LimpiezaIndustrial.png" class="img-fluid" alt="Limpieza Profunda">
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-6 col-12 order-lg-4 order-4 mt-2" data-aos="fade-left" data-aos-delay="300">
        <div class="card-limpieza p-3 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Calidad y Cumplimiento</h2>
          <span class="text-start">La calidad es nuestro sello distintivo. Todos nuestros servicios de desinfección cumplen con los estándares más altos de calidad y seguridad. Nuestros equipos altamente capacitados siguen rigurosos protocolos para garantizar la eficacia y el cumplimiento de las normativas vigentes.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="#contacto">
  <app-contactform imagenContacto="assets/img/website/contacto-desinfeccion.png" botonColor="#52A3D2"></app-contactform>
</section>
<app-footer></app-footer>
