.icon-desinfeccion {
  width: 6em;
  height: 6em;
}

.h1-cp {
  color: var(--white-color);
  letter-spacing: -1px;
}

.h2-cp {
  color: var(--white-color);
  line-height: 40px;
}

.btn-contratanos {
  border-radius: 8px;
  border: 2px solid #130F26;
  background-color: transparent;
}

.btn-llama-profesional {
  background: #130F26;
  border-radius: 8px;
  width: auto;
  border: 2px solid #130F26;
  color: #ffffff;
}


.certificados {
  margin: auto;
  width: 100px;
  height: 100px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.certificados:hover {
  transform: scale(1.1); /* Escala el elemento al 110% en hover */
}

.btn-servicios {
  background-color: #dce0e7;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  border-radius: 20px;
  border: 10px solid transparent;
}

.check-limpieza {
  top: 10%;
  position: relative;
  z-index: 2;
  width: 10em;
}

.card-limpieza {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: auto;
  height: auto;
}

.card-limpieza {
  height: 100%;
}

.title-desinfeccion {
  color: #1e81ad;
  text-align: center;
}
