<app-header></app-header>

<app-header></app-header>
<section class="video-background" id="portada">
  <div class="container-fluid px-0">
    <img src="assets/img/website/banner-desinfeccion.webp" class="hero" alt="Portada-Ecovitali">
    <div class="video-background__content" data-aos="fade-up">
      <img src="assets/img/website/SVG-Icono-Division-14.svg" class="icon-desinfeccion" alt="Desinfección"><span class="text-light fw-semibold m-0 mb-3">Desinfección</span>
      <h1 class="text-center text-light">Garantizamos ambientes<br> libre de microorganismos</h1>
      <h5 class="text-center text-light fw-normal">Utilizamos técnicas efectivas para crear espacios <br>saludables y seguros.</h5>
      <div (click)="scrollToSection('sectores')" class="custom-btn-section mt-4"><img src="assets/img/website/flecha.svg">Conoce más sobre nuestra división</div>
    </div>
  </div>
</section>

<section class="section-padding" id="sectores">
  <div class="container-fluid" style="background: #E4F0FF;">
    <div class="row p-md-0 p-3">
      <div class="col-md-1"></div>
      <div class="col-md-6 col-sm-12 col-12 pe-md-5">
        <h1 class="mt-md-5 mt-3">Tus ambientes <br>Totalmente Desinfectados</h1>
        <h4 class="mt-2 text-start">Protegemos y bienestar, garantizando <br>ambientes libres de gérmenes y saludables.</h4>
        <div class="mt-2">
          <a href="https://api.whatsapp.com/send/?phone=%2B593992852299&text&type=phone_number&app_absent=0" class="btn btn-llama-profesional p-md-3 py-2 px-2 me-2"><img src="assets/img/website/iconos/call.svg" class="me-3 img-fluid" alt="Llama a un profesional de Ecovitali"><span class="fw-semibold">Llama a un profesional</span></a>
          <a routerLink="/certificaciones" class="btn btn-contratanos p-md-3 py-2 px-2 my-3"><img src="assets/img/website/iconos/pregunta.svg" class="me-3 img-fluid" alt="Porqué contratar a Ecovitali"><span class="fw-semibold">¿Por qué Contratarnos?</span></a>
        </div>
        <h4 class="fw-semibold mt-3">Certificados y Avalados</h4>
        <div class="col-md-5 d-flex flex-wrap justify-content-around">
          <!--============ CERTIFICACION ISO-9001 ============-->
          <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Certificación ISO-9001" data-bs-content="Nuestro certificado ISO 9001 2015 cubre todos los aspectos y fases de nuestra empresa, no es parcial o documental, sino que es integral; nuestro sistema de gestion de calidad tiene validaciones internacionales y permite a ECOVITALI ajustarse a los más estrictos procesos de nuestros clientes, volviéndonos los mejores asociados de negocios.">
            <img src="assets/img/ISO.webp" class="certificados d-flex justify-content-center" alt="Logo Certificación ISO-9001">
          </div>
          <!--============ BUSINESS ALLIANCE FOR SECURE ============-->
          <div data-bs-toggle="popover" data-bs-tigger="click" data-bs-title="Business Alliance for Secure" data-bs-content="Somos certificados BASC - Business Alliance for Secure Commerce y como tal formamos parte de una alianza empresarial internacional basada en el comercio seguro en cooperación con otros asociados, gobiernos y organismos internacionales. En ECOVITALI  no decimos que somos honestos sino que lo certificamos.">
            <img src="assets/img/BASC.webp" class="certificados d-flex justify-content-center" alt="Logo Business Alliance for Secure">
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-12 d-none d-sm-flex align-items-end justify-content-end mt-lg-0 mt-4 px-0">
        <img src="assets/img/website/desinfeccion-hero2.webp" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-12">
        <img src="assets/img/website/desinfeccion-section.webp" class="img-fluid" alt="Limpieza de Interiores">
      </div>
      <div class="col-lg-6 col-md-12 col-12 px-md-5 px-3">
        <h2 class="fw-semibold my-3 mt-5">Tu Bienestar es Nuestra Prioridad</h2>
        <p class="mb-5">Priorizamos tu salud y calidad de vida garantizando entornos limpios y seguros en cada
          servicio, con personal capacitado que garantizan resultados.</p>
        <div class="my-4" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/website/iconos/Check-desinfeccion.svg"><span
            class="mx-3 fw-semibold">Comprometidos con tu Salud</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="200"><img src="assets/img/website/iconos/Check-desinfeccion.svg"><span
            class="mx-3 fw-semibold">Profesionales de Confianza</span> </div>
        <div class="my-4" data-aos="fade-up" data-aos-delay="250"><img src="assets/img/website/iconos/Check-desinfeccion.svg"><span
            class="mx-3 fw-semibold">Trabajo Garantizado</span> </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row m-md-4">
      <!-- Imagen 1 -->
      <div class="col-lg-5 col-12 mb-3 mt-2" data-aos="fade-up">
        <img src="assets/img/website/desinfeccion-profesional.webp" class="img-fluid" alt="Desinfección Profesional Ecovitali">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-7 col-12 mb-3 mt-2" data-aos="fade-up">
        <div class="card-desinfeccion p-4 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Profesional</h2>
          <span class="text-start">Entendemos la importancia de mantener espacios seguros y libres de gérmenes. Nuestros servicios de desinfección profesional son la respuesta a tus necesidades de higiene</span>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-7 col-12 mt-2 order-1 order-sm-1 order-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="card-desinfeccion p-4 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Residencial</h2>
          <span class="text-start">Tu hogar es tu refugio, y su seguridad es nuestra prioridad. Nuestros servicios de desinfección residencial están diseñados para proteger a tu familia.</span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-5 col-12 mt-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/website/desinfeccion-residencial.webp" class="img-fluid" alt="Desinfección Residencial">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row m-md-4">
      <!-- Imagen 1 -->
      <div class="col-lg-5 col-12 mt-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/website/desinfeccion-comercial.webp" class="img-fluid" alt="Desinfección Comercial">
      </div>
      <!-- Tarjeta 1 -->
      <div class="col-lg-7 col-12 mb-3 mt-2" data-aos="fade-up">
        <div class="card-desinfeccion p-3 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Desinfección Comercial</h2>
          <span class="text-start">Para las empresas, la higiene es fundamental, tanto para empleados como para clientes. Ofrecemos soluciones de desinfección comercial que se adaptan a tu horario y necesidades específicas.</span>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="col-lg-7 col-12 mt-2 order-1 order-sm-1 order-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="card-desinfeccion p-3 p-md-5">
          <h2 class="fw-bold title-desinfeccion">Calidad y Cumplimiento</h2>
          <span class="text-start">La calidad es nuestro sello distintivo. Todos nuestros servicios de desinfección cumplen con los estándares más altos de calidad y seguridad.</span>
        </div>
      </div>
      <!-- Imagen 2 -->
      <div class="col-lg-5 col-12 mt-2" data-aos="fade-up">
        <img src="assets/img/website/calidad-cumplimiento.webp" class="img-fluid" alt="Ecovitali calidad y cumplimiento">
      </div>
    </div>
  </div>
</section>


<section class="pt-5" data-aos="fade-up" data-aos-delay="100">
  <app-contactform divisionEmpresarial="Desinfección" imagenContacto="assets/img/website/contacto-desinfeccion.webp" botonColor="#212529"></app-contactform>
</section>

<div class="mt-5">
  <app-footer></app-footer>
</div>
