<app-header-black></app-header-black>

<div class="container" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3">
    <div class="col-lg-7 col-12 pe-md-5 mt-5">
      <h2 class="text-center fw-bold">Contáctenos</h2>
      <p>En <b>ECOVITALI</b> nos interesan las personas y estamos listos para asistir en todos los temas que se
        encuentren al alcance de nuestro servicio y capacidades empresariales, para ello hemos destinado varias ofertas
        y canales de contacto y hacer que nuestra comunicación con usted sea lo más versátil posible, con eficiencia y
        eficacia en cada paso. <br><b>En ECOVITALI es un placer atenderlo.</b>
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/contacto.png" class="img-fluid">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="card p-3">
      <img src="assets/img/website/iconos/Telefono.svg" class="img-fluid img-icon" alt="Linea Directa Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">Línea Directa</p>
        <p class="fw-semibold">(04)-6005464</p>
      </div>
    </div>
    <div class="card p-3">
      <img src="assets/img/website/iconos/Mails.svg" class="img-fluid img-icon" alt="Linea Directa Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">Correo Electrónico</p>
        <p class="fw-semibold">info@ecovitali.net</p>
      </div>
    </div>
    <div class="card p-3">
      <img src="assets/img/website/iconos/Whatsapp.svg" class="img-fluid img-icon" alt="Linea Directa Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">WhatsApp</p>
        <p class="fw-semibold">0992852299</p>
      </div>
    </div>
  </div>
</div>

<section class="section-padding">
  <div class="container">
    <!-- TABS TITULOS -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="tab1" data-toggle="tab" href="#formulario1">Atención al Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2" data-toggle="tab" href="#formulario2">Atención a Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab3" data-toggle="tab" href="#formulario3">Responsabilidad Social Empresarial</a>
      </li>
    </ul>
    <!-- CONTENIDO DE LAS TABS -->
    <div class="tab-content pt-2">
      <div class="tab-pane fade show active" id="formulario1" aria-labelledby="tab1">
        <!-- Formulario Personalizado -->
        <div class="row mt-3 justify-content-between">
          <div class="col-md-5">
            <p class="text-center py-3 fw-semibold">En ECOVITALI queremos atender sus necesidades de la mejor forma posible, por ello ponemos para vuestra consideración nuestra plataforma de servicio en línea.
            </p>
            <img src="assets/img/website/atencion-al-cliente.png" class="img-fluid" alt="Imagen de formulario">
            <div class="d-flex justify-content-center mt-4">
              <p class="bienestar-btn">SU BIENESTAR ES NUESTRA PRIORIDAD</p>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Formulario -->
            <form>
              <div class="form-group">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre y Apellido" required />
              </div>
              <!-- Agrega otros campos según tus necesidades -->
              <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-dark">Enviar Mensaje</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
