<app-header-black></app-header-black>

<div class="container" data-aos="fade-right" data-aos-delay="100">
  <div class="row p-3">
    <div class="col-lg-7 col-12 pe-md-5 mt-md-5 mt-2">
      <h2 class="text-center fw-bold">Contáctenos</h2>
      <p>En <b>ECOVITALI</b> nos interesan las personas y estamos listos para asistir en todos los temas que se encuentren al alcance de nuestro servicio y capacidades empresariales. Hemos destinado varias ofertas y canales de contacto para hacer que nuestra comunicación con usted sea lo más versátil posible, con eficiencia y eficacia en cada paso. <b>En ECOVITALI es un placer atenderlo.</b></p>
      <div class="d-flex justify-content-center mt-4">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12 d-flex justify-content-center">
      <img src="assets/img/website/contacto.png" class="img-fluid img-contacto" alt="Imagen de contacto">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="card p-3">
      <img src="assets/img/website/iconos/Telefono.svg" class="img-fluid img-icon" alt="Línea Directa Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">Línea Directa</p>
        <p class="fw-semibold">(04)-6005464</p>
      </div>
    </div>
    <a href="mailto:info@ecovitali.net" target="_blank" class="card p-3">
      <img src="assets/img/website/iconos/Mails.svg" class="img-fluid img-icon" alt="Correo Electrónico Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">Correo Electrónico</p>
        <p class="fw-semibold">info@ecovitali.net</p>
      </div>
    </a>
    <a href="https://wa.me/+593992852299" target="_blank" class="card p-3">
      <img src="assets/img/website/iconos/Whatsapp.svg" class="img-fluid img-icon" alt="WhatsApp Ecovitali">
      <div class="ms-3 d-flex flex-column justify-content-center">
        <p class="fw-bold">WhatsApp</p>
        <p class="fw-semibold">0992852299</p>
      </div>
    </a>
  </div>
</div>

<section class="my-5 pb-5">
  <div class="container" data-aos="fade-right">
    <div class="row justify-content-center">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="seleccionarFormulario('1')" [class.active]="formularioSeleccionado === '1'">Atención al Cliente</button>
        <button type="button" class="btn btn-secondary" (click)="seleccionarFormulario('2')" [class.active]="formularioSeleccionado === '2'">Atención Proveedores</button>
        <button type="button" class="btn btn-secondary" (click)="seleccionarFormulario('3')" [class.active]="formularioSeleccionado === '3'">Responsabilidad Social y Empresarial</button>
      </div>

      <!-- FORMULARIO ATENCION AL CLIENTE -->
      <div *ngIf="formularioSeleccionado === '1'">
        <form [formGroup]="formData1" (ngSubmit)="onSubmitForm1()" data-aos="fade-right">
          <div class="row justify-content-between p-3">
            <div class="col-md-6 mt-4">
              <p class="text-center fw-semibold mb-3">En ECOVITALI queremos atender tus necesidades de la mejor forma posible. Ponemos a tu consideración nuestra plataforma de servicio en línea.
              </p>
              <div class="d-flex justify-content-center">
                <img src="assets/img/website/atencion-al-cliente.webp" class="img-fluid p-3" alt="Imagen de formulario">
              </div>
              <div class="d-flex justify-content-center mt-4">
                <p class="bienestar-btn">Su bienestar es nuestra prioridad</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group my-3">
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="*Nombre y Apellido:" required>
                <div *ngIf="formData1.get('nombre')?.invalid && (formData1.get('nombre')?.dirty || formData1.get('nombre')?.touched)">
                  <small class="text-danger">Nombre y Apellido son obligatorios</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="tema" formControlName="tema" placeholder="*Tema a Consultar:" required>
                <div *ngIf="formData1.get('tema')?.invalid && (formData1.get('tema')?.dirty || formData1.get('tema')?.touched)">
                  <small class="text-danger">Tema a Consultar es obligatorio</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="*Correo Electrónico:" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                <div *ngIf="formData1.get('email')?.invalid && formData1.get('email')?.touched && !formData1.get('email')?.hasError('pattern')">
                  <small class="text-danger">El Correo Electrónico es obligatorio.</small>
                </div>
                <div *ngIf="(formData1.get('email')?.dirty || formData1.get('email')?.touched) && formData1.get('email')?.hasError('pattern')">
                  <small class="text-danger">Porfavor ingrese un correo válido</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="*Teléfono:" required pattern="^\d{10}$">
                <div *ngIf="formData1.get('telefono')?.invalid && (formData1.get('telefono')?.dirty || formData1.get('telefono')?.touched)">
                  <small class="text-danger">El teléfono es obligatorio</small>
                </div>
              </div>
              <div class="form-group my-3">
                <textarea type="text" class="form-control" id="comentario" formControlName="comentario" rows="4" placeholder="*Mensaje:" required minlength="10"></textarea>
                <div *ngIf="formData1.get('comentario')?.invalid && (formData1.get('comentario')?.dirty || formData1.get('comentario')?.touched)">
                  <small class="text-danger">El mensaje debe tener al menos 10 caracteres</small>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-dark px-5" [disabled]="formData1.invalid">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- FORMULARIO ATENCION A PROVEEDORES -->
      <div *ngIf="formularioSeleccionado === '2'">
        <form [formGroup]="formData2" (ngSubmit)="onSubmitForm2()" data-aos="fade-right">
          <div class="row justify-content-between p-3">
            <div class="col-md-6 mt-4">
              <p class="text-center fw-semibold mb-3">Si representa a una empresa y gusta ofrecer a <b>Ecovitali</b> sus
                productos, insumos, servicios, tecnología, equipos, o similar, por favor detállenos su oferta de la mejor
                manera posible.
              </p>
              <div class="d-flex justify-content-center">
                <img src="assets/img/website/Proveedores.webp" class="img-fluid p-3" alt="Imagen de formulario">
              </div>
              <div class="d-flex justify-content-center mt-4">
                <p class="bienestar-btn">Nuestros asociados de negocios son parte de nuestra fortaleza</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group my-3">
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="*Nombre y Apellido:" required>
                <div *ngIf="formData2.get('nombre')?.invalid && (formData2.get('nombre')?.dirty || formData2.get('nombre')?.touched)">
                  <small class="text-danger">Nombre y Apellido son obligatorios</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="tipo" formControlName="tipo" placeholder="*Tipo o categoría del producto:" required>
                <div *ngIf="formData2.get('tipo')?.invalid && (formData2.get('tipo')?.dirty || formData2.get('tipo')?.touched)">
                  <small class="text-danger">Tipo o categoría es obligatorio</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="*Correo Electrónico:" required>
                <div *ngIf="formData2.get('email')?.invalid && formData2.get('email')?.touched && !formData2.get('email')?.hasError('pattern')">
                  <small class="text-danger">El Correo Electrónico es obligatorio.</small>
                </div>
                <div *ngIf="(formData2.get('email')?.dirty || formData2.get('email')?.touched) && formData2.get('email')?.hasError('pattern')">
                  <small class="text-danger">Porfavor ingrese un correo válido</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="*Teléfono:" required>
                <div *ngIf="formData2.get('telefono')?.invalid && (formData2.get('telefono')?.dirty || formData2.get('telefono')?.touched)">
                  <small class="text-danger"> El teléfono es obligatorio</small>
                </div>
              </div>
              <div class="form-group my-3">
                <textarea type="text" class="form-control" id="comentario" formControlName="comentario" rows="4" placeholder="*Mensaje:"></textarea>
                <div *ngIf="formData2.get('comentario')?.invalid && (formData2.get('comentario')?.dirty || formData2.get('comentario')?.touched)">
                  <small class="text-danger">El mensaje debe tener al menos 10 caracteres</small>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-dark px-5" [disabled]="formData2.invalid">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- FORMULARIO RESPONSABILIDAD SOCIAL Y EMPRESARIAL -->
      <div *ngIf="formularioSeleccionado === '3'">
        <form [formGroup]="formData3" (ngSubmit)="onSubmitForm3()" data-aos="fade-right">
          <div class="row justify-content-between p-3">
            <div class="col-md-6 mt-4">
              <p class="text-center fw-semibold mb-3">Si usted representa a una fundación u organización social y gustaría contar con nuestros planes de responsabilidad social empresarial, le agradecemos nos envíe su información.
              </p>
              <div class="d-flex justify-content-center">
                <img src="assets/img/website/ResponsabilidadSocial.webp" class="img-fluid p-3" alt="Imagen de formulario">
              </div>
              <div class="d-flex justify-content-center mt-4">
                <p class="bienestar-btn">Una información precisa nos permite asistirlo</p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group my-3">
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="*Nombre de la Institución:" required>
                <div *ngIf="formData3.get('nombre')?.invalid && (formData3.get('nombre')?.dirty || formData3.get('nombre')?.touched)">
                  <small class="text-danger">Nombre de la institución es requerida</small>
                </div>
              </div>
              <!-- <div class="form-group my-3">
                <input type="text" class="form-control" id="tema" placeholder="*Nombre Cc:">
              </div> -->
              <div class="form-group my-3">
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="*Correo Electrónico:" required>
                <div *ngIf="formData3.get('email')?.invalid && formData3.get('email')?.touched && !formData3.get('email')?.hasError('pattern')">
                  <small class="text-danger">El Correo Electrónico es obligatorio.</small>
                </div>
                <div *ngIf="(formData3.get('email')?.dirty || formData3.get('email')?.touched) && formData3.get('email')?.hasError('pattern')">
                  <small class="text-danger">Porfavor ingrese un correo válido</small>
                </div>
              </div>
              <div class="form-group my-3">
                <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="*Teléfono:" required>
                <div *ngIf="formData3.get('telefono')?.invalid && (formData3.get('telefono')?.dirty || formData3.get('telefono')?.touched)">
                  <small class="text-danger">El teléfono es obligatorio</small>
                </div>
              </div>
              <div class="form-group my-3">
                <textarea type="text" class="form-control" id="comentario" formControlName="comentario" rows="4" placeholder="*Mensaje:"></textarea>
                <div *ngIf="formData3.get('comentario')?.invalid && (formData3.get('comentario')?.dirty || formData3.get('comentario')?.touched)">
                  <small class="text-danger">El mensaje debe tener al menos 10 caracteres</small>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-dark px-5" [disabled]="formData3.invalid">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
