<app-header-black></app-header-black>
<div class="container mt-4" data-aos="fade-right" data-aos-delay="100">
  <div class="row align-items-center p-3">
    <div class="col-lg-7 col-12 pe-md-5">
      <h2 class="text-center fw-bold">FARMACÉUTICA Y DISTRIBUCIÓN</h2>
      <p>La industria farmacéutica es excepcional, y aunque su profesionalismo destaque entre muchos, no está exenta de tener problemas relacionados a las plagas. nuestro sistema de gestión integrada nos permite brindar un servicio de alta precisión y nos vuelve sus mejores asociados de negocios con protocolos que no generen riesgos de contaminación hasta un trabajo conjunto con el talento humano de nuestro cliente. <br><b>En ECOVITALI no solo lo garantizamos sino que lo certificamos.</b>
      </p>
      <div class="d-flex justify-content-center">
        <span class="bienestar-btn">Su bienestar es nuestra prioridad</span>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <img src="assets/img/website/farmacias.png" class="img-fluid">
    </div>
  </div>
</div>
<section class="mt-5" data-aos="fade-up" data-aos-delay="100">
  <app-certificados></app-certificados>
</section>

<section>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-content-center align-items-center p-3">
      <div class="col-md-4 col-12">
        <img src="assets/img/website/testimonio-ecovitali.png" class="img-fluid">
      </div>
      <div class="col-md-8 col-12">
        <div class="card p-5">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-9">
        <h4 class="fw-semibold">¿PORQUÉ LO NECESITA?</h4>
        <div class="card p-4">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold px-3">La inocuidad y seguridad de los procesos de la industria de alimentos y bebidas comienza con la ciencia, en ECOVITALI tenemos un enfoque equivalente que ayuda a nuestros clientes a proteger entornos sensibles, al elegir a ECOVITALI, obtiene un programa diseñado específicamente para sus necesidades, información, documentación y soporte de auditorías cuando sea requerido. En ECOVITALI no sólo lo garantizamos sino que lo certificamos.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-5" data-aos="fade-up">
      <div class="col-10">
        <h4 class="fw-semibold">¿PORQUÉ EL CONTROL DE PLAGAS EN LA INDUSTRIA FARMACÉUTICA?</h4>
        <div class="card p-4">
          <img src="assets/img/website/iconos/check-verde-sinrelleno.svg" class="check-verde">
          <p class="fw-semibold px-3">Todas las empresas ofrecen las mismas variables mínimas requeridas para las plagas, desde su accesibilidad hasta la proliferación, pues estas requieren agua, temperatura ideal, fuentes de alimentación y refugio, la industria farmacéutica y sus canales de distribución no son la excepción, aunque se se puede creer que gracias a sus protocolos internos con instalaciones limpias y desinfectadas las plagas pueden ser evitadas, la realidad es que entre el intercambio de bienes, deterioro continuo de instalaciones aun cuando sean mínimas y el flujo de personas, entre otras variables de riesgo, las plagas siempre encontrarán la manera de contaminar un área, razón por la cual su control es un desafío ante los estrictos protocolos de tratamiento requeridos por las agencias de regulación y calidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mt-5">
  <app-pasos-sistema-ecovitali></app-pasos-sistema-ecovitali>
</section>

<section class="p-md-0 p-3">
  <app-cobertura-nacional></app-cobertura-nacional>
</section>

<section>
  <app-puntosclave-auditoria></app-puntosclave-auditoria>
</section>

<app-footer></app-footer>
