<!-- SECTORES PROFESIONALES DE TRABAJO // EMPRESARIALES-RESIDENCIALES
  AGREGAR TODOS LOS ELEMENTOS Y COLOCAR EL FORMULARIO DE CONTACTO
-->
<div class="container">
  <div>
    <h6>Procesadores de alimentos y bebidas</h6>
  </div>
  <div>
    <h6>Servicios de alimentos y bebidas</h6>
  </div>
  <div>
    <h6>Comercio por menor y por mayor</h6>
  </div>
  <div>
    <h6>Servicios hoteleros y complementarios</h6>
  </div>
  <div>
    <h6>industria de material de empaque</h6>
  </div>
  <div>
    <h6>Farmaceudica y distribución</h6>
  </div>
  <div>
    <h6>Urbanizaciones y edificios</h6>
  </div>
  <div>
    <h6>Instalaciones gubernamentales</h6>
  </div>
  <div>
    <h6>Centros de salud y hospitales</h6>
  </div>
  <div>
    <h6>Centros de educación y exposición</h6>
  </div>
  <div>
    <h6>Bodegas y centros de distribución</h6>
  </div>
  <div>
    <h6>Logistica y carga</h6>
  </div>
  <div>
    <h6>Instituciones financieras</h6>
  </div>
  <div>
    <h6>Otros sectores empresariales</h6>
  </div>
</div>
<div class="container">
  <div class="row">
    <img src="#" alt="casa">
  </div>
  <h3>Residencial</h3>
  <p>
    Proteja su hogar de las plagas y los daños que generan a su salud, nuestro personal esta altamente calificado, entrenado y certificado, eliminamos las plagas de su entorno sin afectaciones directas o indirectas, en tiempos inciertos escoja a profesionales y en ellos somos los mejores.
  </p>
</div>
