:root {
  --white-color: #ffffff;
  --primary-color: #5bc1ac;
  --secondary-color: #5a6f80;
  --section-bg-color: #f0f8ff;
  --site-footer-bg-color: #4b494a;
  --dark-color: #212529;
  --p-color: #000000;
  --border-color: #e9eaeb;
  --text-color: #000000;

  --body-font-family: 'Montserrat', sans-serif;

  --h1-font-size: 3em;
  --h2-font-size: 2.3em;
  --h3-font-size: 2em;
  --h4-font-size: 1.55em;
  --h5-font-size: 1.2em;
  --h6-font-size: 0.78em;
  --p-font-size: 1em;
  --btn-font-size: 1em;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
}

html, body {
  padding: 0;
  margin: 0;
  --text-color: #000000;
  font-family: var(--body-font-family);
  background-color: var(--bkg-color);
}

/* MODO OSCURO */
body.dark-mode {
  --text-color: #000000;
  background-color: #333;
}
/*---------------------------------------
TYPOGRAPHY
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
  letter-spacing: -1px;
}

h1 {
  color: var(--bkg-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -2px;
}

h2 {
  color: var(--bkg-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  color: var(--text-color);
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--p-font-size);
  color: var(--text-color);
  font-weight: 500;
  text-align: justify;
}

ul li {
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
SECTION
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

/*---------------------------------------
CUSTOM ICON COLOR
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}
.icon {
  color: var(--text-color);
  font-size: var(--h3-font-size)
}


/*---------------------------------------
CUSTOM LIST
-----------------------------------------*/
.custom-list {
  margin-bottom: 0;
  padding-left: 0;
}

.custom-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*---------------------------------------
CUSTOM TEXT BOX
-----------------------------------------*/
.custom-text-box {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  margin-bottom: 24px;
  padding: 40px;
}

.custom-text-box-image {
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-text-box-icon {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-size: var(--h6-font-size);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  line-height: 30px;
}

/*---------------------------------------
CUSTOM BUTTON
-----------------------------------------*/
.custom-btn-section {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  padding: 10px;
  border-radius: 70px;
  background: var(--white-color);
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
  display: inline-block;
  font-size: var(--h6-font-size);
  text-decoration: none;
  color: var(--text-color);
}

.custom-btn-section:hover {
  background: #e6e9eb;
  transform: translateY(10px);
  color: var(--text-color);
}


/* DARKMODE */
.darkMode .custom-btn-section {
  cursor: pointer;
  font-weight: 700;
  transition: all .4s;
  padding: 20px 7px;
  border-radius: 50px;
  background: #333;
  border: 1px solid transparent;
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
}
.card-space {
  margin-top: 180px;
}
.darkMode .custom-btn-section:hover {
  background: #8c9eab;
  transform: translateY(10px);
}


/*---------------------------------------
CONTACT
-----------------------------------------*/
.contact-section {
  background: var(--white-color);
}

.contact-form {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  padding: 40px;
}

.contact-info-wrap {
  padding-top: 40px;
}

.contact-image-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.featured-block {
  text-align: center;
  transition: all 0.5s ease;
  max-height: 250px;
  padding: 15px;
  text-decoration: none;
  margin: 20px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: var(--border-radius-medium);
  padding: 1rem;

}

.featured-block:hover {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.featured-block:hover .featured-block-image {
  transform: scale(0.75);
}

.featured-block-image {
  width: 50%;
  display: block;
  margin: auto;
  transition: all 0.5s;
}

.featured-block:hover .featured-block-text {
  margin-top: 0;
}

.featured-block-text {
  color: var(--dark-color);
  font-size: var(--h5-font-size);
  margin-top: 20px;
  transition: all 0.5s;
  text-decoration: none;
}

 .video-background {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
}

.video-background__inner {
  position: relative;
  width: 100%;
  height: auto;
}

.video-background__video {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
  position: absolute;
}

.video-background__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* Estilo para el carrusel */
.carousel-inner {
  border: 2px solid #c3c6ce; /* Borde del carrusel */
  border-radius: 20px; /* Borde redondeado */
  padding: 1.8rem; /* Espacio interno del carrusel */
  transition: 0.5s ease-out; /* Transición al hacer hover en el carrusel */
  overflow: visible;
}

/* Estilo para los indicadores del carrusel (círculos) */
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style: none; /* Elimina los marcadores de lista predeterminados */
}

.carousel-indicators li {
  background-color: #000000 !important; /* Fondo transparente para los indicadores */
  border: 2px solid #028537; /* Borde para los indicadores */
  border-radius: 50% !important; /* Hace que los indicadores sean círculos */
  width: 10px !important; /* Ancho fijo de los indicadores */
  height: 10px !important; /* Altura fija de los indicadores */
  margin: 0 5px; /* Espacio entre los indicadores */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para el fondo y el borde */
}

.carousel-indicators li.active {
  width: 10px !important; /* Ancho fijo de los indicadores */
  height: 10px !important; /* Altura fija de los indicadores */
  border-radius: 50% !important;
  background-color: #028537; /* Color de fondo del indicador activo */
}

/* Estilo para las imágenes del carrusel */
.carousel-inner img {
  width: 60px; /* Ancho de las imágenes */
  height: 60px; /* Altura de las imágenes */
  margin-right: 1rem; /* Espacio entre la imagen y el texto */
}

/* Estilo para el texto y el título de cada elemento del carrusel */
.carousel-inner span {
  font-weight: bold;
}

/* Efecto al hacer hover en el carrusel */
.carousel-inner:hover {
  border-color: #028537; /* Cambia el color del borde al hacer hover */
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25); /* Sombra al hacer hover */
}

/* Efecto del botón al hacer hover en el carrusel */
.carousel-inner:hover button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* Efecto de la línea debajo del título */
.text-title::after {
  content: "";
  position: absolute;
  bottom: 50px; /* Distancia desde la parte inferior del título */
  left: 0;
  width: 20%; /* Ancho de la línea */
  height: 4px;
  background-color: #00ab55;
  transform: scaleX(1); /* Inicialmente la línea está oculta */
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Efecto de la línea al hacer hover en el carrusel */
.carousel-inner:hover .text-title::after {
  transform: scaleX(2); /* Cuando se hace hover en el título, la línea se estira */
  background-color: #00ab55; /* Cambia el color a verde */
}

#carouselExampleAutoplaying {
  max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
  overflow: hidden; /* Oculta el contenido que se desborde */
}


/*---------------------------------------
RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .featured-block {
    min-height: inherit;
  }

  .volunteer-section::after {
    width: 450px;
    height: 450px;
  }

  .volunteer-image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 22px;
    }

    h5 {
      font-size: 20px;
    }

  }
}
