:root {
  --white-color: #f0f8ff;
  --primary-color: #5bc1ac;
  --secondary-color: #5a6f80;
  --section-bg-color: #f0f8ff;
  --site-footer-bg-color: #44525d;
  --dark-color: #212529;
  --p-color: #000000;
  --border-color: #e9eaeb;

  --body-font-family: 'Montserrat', sans-serif;

  --h1-font-size: 48px;
  --h2-font-size: 40px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 16px;
  --p-font-size: 20px;
  --btn-font-size: 18px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
}

body {
  --text-color: #212529;
  --bkg-color: #f0f8ff;
  transition: background-color 0.3s ease;
  font-family: var(--body-font-family);
}

/* MODO OSCURO */
body.dark-mode {
  --text-color: #f0f8ff;
  background-color: #333;
}

body {
  background: var(--bkg-color);
}


/*---------------------------------------
TYPOGRAPHY
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
  letter-spacing: -1px;
}

h1 {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: -2px;
}

h2 {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  color: var(--text-color);
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--p-font-size);
  color: var(--text-color);
  font-weight: 500;
}

ul li {
  color: var(--text-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
SECTION
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

/*---------------------------------------
CUSTOM ICON COLOR
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
CUSTOM LIST
-----------------------------------------*/
.custom-list {
  margin-bottom: 0;
  padding-left: 0;
}

.custom-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*---------------------------------------
CUSTOM TEXT BOX
-----------------------------------------*/
.custom-text-box {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  margin-bottom: 24px;
  padding: 40px;
}

.custom-text-box-image {
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-text-box-icon {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-size: var(--h6-font-size);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  line-height: 30px;
}

/*---------------------------------------
CUSTOM BUTTON
-----------------------------------------*/
.custom-btn-section {
  cursor: pointer;
  font-weight: 700;
  transition: all .4s;
  padding: 20px 7px;
  border-radius: 50px;
  background: var(--white-color);
  border: 1px solid transparent;
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
}

.custom-btn-section:hover {
  background: #e6e9eb;
  transform: translateY(10px);
}

/* DARKMODE */
.darkMode .custom-btn-section {
  cursor: pointer;
  font-weight: 700;
  transition: all .4s;
  padding: 20px 7px;
  border-radius: 50px;
  background: #333;
  border: 1px solid transparent;
  filter: drop-shadow(0px 2px 2px rgba(0.512499988079071, 0.512499988079071, 0.512499988079071, 0.25));
}

.darkMode .custom-btn-section:hover {
  background: #8c9eab;
  transform: translateY(10px);
}


/*---------------------------------------
CONTACT
-----------------------------------------*/
.contact-section {
  background: var(--white-color);
}

.contact-form {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  padding: 40px;
}

.contact-info-wrap {
  padding-top: 40px;
}

.contact-image-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
}


/*---------------------------------------
RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .featured-block {
    min-height: inherit;
  }

  .volunteer-section::after {
    width: 450px;
    height: 450px;
  }

  .volunteer-image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1170px) {
  #hero-slide .carousel-image {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 22px;
    }

    h5 {
      font-size: 20px;
    }

  }
}
