/*---------------------------------------
CUSTOM BUTTON
-----------------------------------------*/
.custom-btn{
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}


.custom-btn:hover {
  background: transparent;
  color: var(--primary-color);
}

.custom-border-btn {
  background: var(--primary-color);
  border-color: transparent;
  color: var(--white-color);
}


.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--white-color);
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--site-footer-bg-color);
}


.logos-certf {
  margin: auto;
  width: 130px;
  height: 130px;
  }


/* CSS DE LOS SECTORES */

.icon-sector {
  box-sizing: border-box;
  width: 130px;
  height: 160px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid green;
  box-shadow: 0 0 10px green;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin: auto;
}


.icon-sector:hover {
  border: 1px solid green;
  transform: scale(1.05);
}

.icon-sector:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.sectores-btn{
color: var(--custom-btn-bg-color);
margin-top: 0;
padding: 15px 90px;
}

.sectores-btn:hover {
background: var(--primary-color);
color: var(--white-color);
}

.sectores-btn-border {
background: transparent;
border: 2px solid var(--custom-btn-bg-color);
border-left: none;
color: var(--primary-color);
}

.border-empresarial{
  border: 2px solid var(--custom-btn-bg-color);
}


/* TARJETAS DE PLAGAS */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px;
  margin: auto;
}

.title {
  font-size: 2.2em;
  font-weight: 900;
  color: azure;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(91,193,172,1) 35%, rgba(53,154,80,1) 100%);
}

.flip-card-back {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(91,193,172,1) 35%, rgba(53,154,80,1) 100%);
  color: white;
  transform: rotateY(180deg);
}

@media screen and (min-width: 1600px) {
  .flip-card {
    min-height: inherit;
  }
}

/*---------------------------------------
                  ABOUT
-----------------------------------------*/
.about-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.custom-text-block {
  padding: 60px 20px 0px;
}


 /* BOTON DE CONTACTO CON ASESORES */

 .flip-boton {
  background-color: transparent;
  width: 400px;
  height: 100px;
  perspective: 1000px;
  margin: auto;
}

.title2 {
  font-size: 18px;
  font-weight: 600;
  color: azure;
  text-align: center;
  margin: 0;
}

.flip-boton-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-boton:hover .flip-boton-inner {
  transform: rotateY(180deg);
}

.flip-boton-front, .flip-boton-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-boton-front {
  background: linear-gradient(190deg, rgba(89,112,129,1) 0%, rgba(89,112,129,1) 35%, rgba(89,112,129,0.6474964985994398) 100%);
}

.flip-boton-back {
  background: linear-gradient(190deg, rgba(91,193,172,1) 0%, rgba(91,193,172,1) 35%, rgba(91,193,172,0.5046393557422969) 100%);
  color: white;
  transform: rotateY(180deg);
}

@media screen and (min-width: 1600px) {
  .flip-boton {
    min-height: inherit;
  }
}


