<!-- <div class="section-padding"></div>

<div class="container">
  <div class="row justify-content-start align-items-start">
    <div class="col-md-12 col-lg-5 col-xl-5 d-none d-sm-block">
      <h1 class="display-1 fw-bold text-left mt-5">Expertos en control de plagas</h1>
      <p class="mt-4">
        En ECOVITALI siempre estamos buscando las mejores opciones y con ello nuestra responsabilidad de siempre saber
        más, es por ello que somos apasionados por la ciencia, desde los más simples equipos y su calibración ideal,
        hasta evidenciar que los componentes e insumos que utilizamos para el servicio de nuestro cliente son los
        ideales.
      </p>
    </div>

    <div class="col-xl-6 col-lg-6 mt-xl-5 mt-lg-5 mt-md-5 mb-3">
      <div class="align-items-xl-end justify-content-end">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active justify-content-xl-end">
              <img src="./assets/img/portada2.webp" class="d-flex rounded img-fluid img-carousel"
                alt="Virus y Bacterias">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada3.webp" class="d-flex img-fluid img-carousel" alt="Control de Calidad">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada4.webp" class="d-flex img-fluid img-carousel" alt="Control de Plagas">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada5.webp" class="d-flex img-fluid img-carousel" alt="Control de Roedores">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-8 col-lg-7 col-md-12 align-items-center">
      <div class="col-lg-7 text-center">
        <a class="btn custom-btn custom-border-btn">Solicita nuestros servicios</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-5 col-xl-5 mt-5">
      <h1 class="display-4 fw-bold text-xl-start text-lg-start text-center mt-5">Nuestras Certificaciones</h1>
      <p>Contamos con el respaldo de profesionales que junto a sistemas de gestión certificados por firmas nacionales e
        internacionales como asociados de negocios, impulsamos de forma conjunta nuestro esfuerzo empresarial a la
        excelencia, con conciencia ambiental y social.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-5">
      <div class=" justify-content-center text-center mb-5 pt-5">
        <a href="certificaciones.html#">
          <img src="./assets/img/ISO.webp" class="logos-certf" alt="Certificación ISO-9001">
          <img src="./assets/img/MDA.webp" class="logos-certf" alt="Ministerio del Ambiente">
          <img src="./assets/img/AMCA.webp" class="logos-certf" alt="American Mosquito Control Association">
          <img src="./assets/img/ARCSA.webp" class="logos-certf" alt="Asociación Ecuatoriana de Control de Plagas">
          <img src="./assets/img/MSP.webp" class="logos-certf" alt="Ministerio de Salud Pública">
          <img src="./assets/img/NPMA.webp" class="logos-certf" alt="National Pest Management Association">
          <img src="./assets/img/AGROCALIDAD.webp" class="logos-certf" alt="Agrocalidad">
          <img src="./assets/img/BASC.webp" class="logos-certf" alt="Business Alliance for Secure">
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container section-padding">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <h1 class="display-4 fw-bold text-xl-center text-lg-center text-center">Nuestros Servicios</h1>
    </div>
  </div>
  <!-- CARTILLAS FUMIGACION, ASISTENCIA, COBERTURA, TRATAMIENTO -->

<div class="container">
  <div class="row mt-5 space-bot">
    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
      <div class="featured-block d-flex justify-content-center align-items-center">
        <a href="home.html" class="d-block">
          <img src="./assets/img/icono-fumigacion.webp" class="featured-block-image img-fluid" alt="">
          <p class="featured-block-text"><strong>Fumigación y Control 24/7</strong></p>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
      <div class="featured-block d-flex justify-content-center align-items-center">
        <a href="home.html" class="d-block">
          <img src="./assets/img/icono-asistencia.webp" class="featured-block-image img-fluid" alt="">
          <p class="featured-block-text"><strong>Asistencia <br>Inmediata</strong></p>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
      <div class="featured-block d-flex justify-content-center align-items-center">
        <a href="home.html" class="d-block">
          <img src="./assets/img/icono-ecuador.webp" class="featured-block-image img-fluid" alt="">
          <p class="featured-block-text"><strong>Cobertura a Nivel Nacional</strong></p>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
      <div class="featured-block d-flex justify-content-center align-items-center">
        <a href="home.html" class="d-block">
          <img src="./assets/img/icono-tratamientos.webp" class="featured-block-image img-fluid" alt="">
          <p class="featured-block-text"><strong>Tratamiento ideal para el cliente</strong></p>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- SECTORES PROFESIONALES DE TRABAJO // EMPRESARIALES-RESIDENCIALES
  AGREGAR TODOS LOS ELEMENTOS Y COLOCAR EL FORMULARIO DE CONTACTO
-->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-4 mb-lg-0 mb-md-4">
      <h1 class="text-center">Sectores Profesionales de Trabajo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt -3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-3">
      <div class="icon-sector">
        <div class="">
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg"
              viewBox="0 0 16 16">
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
          </a>
          <span>Procesadores de alimentos y bebidas</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DIFERENTES PLAGAS -->

< class="container section-padding">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-3">
      <h1 class="text-center">Diferentes Tipos de Plagas</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-5">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">INSECTOS VOLADORES</p>
            <div class="text-center mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
              </svg>
            </div>
          </div>
          <div class="flip-card-back">
            <a href="">
              <img src="./assets/img/mosca.png" width="425" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-5">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">INSECTOS RASTREROS</p>
            <div class="text-center mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
              </svg>
            </div>
          </div>
          <div class="flip-card-back">
            <img src="./assets/img/cucaracha1.png" width="400" alt="">
            <img src="./assets/img/garrapata.png" width="200" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-5">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">ROEDORES</p>
            <div class="text-center mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
              </svg>
            </div>
          </div>
          <div class="flip-card-back">
            <img src="./assets/img/rata.png" width="450" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-12 mt-xl-5 mt-5">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">OTROS SERVICIOS <br> - <br>PLAGAS MENOS COMUNES</p>
            <div class="text-center mt-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
              </svg>
            </div>
          </div>
          <div class="flip-card-back">
            <img src="./assets/img/rata.png" width="450" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="control-plagas">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h2 class="text-center display-1">Somos Expertos en Control de Plagas</h2>
      </div>
      <div class="col-12 col-md-5 col-lg-6 col-xl-4">
        <img src="./assets/img/op.ecovitali.png"
          class="about-image ms-lg-auto bg-light shadow-lg img-fluid align-items-center" alt="Operador">
      </div>
      <div class="col-xl-7 col-lg-6 col-md-7 col-12">
        <div class="custom-text-block">
          <p class="text-start">
            En ECOVITALI invertimos de forma regular y continua en la capacitación de nuestro personal, como parte de
            nuestro sistema de gestión certificado y nuestro compromiso con la calidad del servicio y nuestros
            clientes.
          </p>
        </div>
        <div class="px-4 justify-content-center">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="">
                  <img src="./assets/img/icono-entrenamiento-certificado.webp" width="60px" alt="">
                  <span><b>Entrenamiento Certificado</b></span>
                  <p class="text-justify">Nuestros técnicos con certificación no son sólo un argumento comercial,
                    estamos
                    realmente comprometidos con la excelencia, es por ello que nuestros técnicos son entrenados y
                    certificados con el respaldo de agencias de control nacional competente, contamos con el respaldo
                    de
                    profesionales que junto a sistemas de gestión certificados por firmas nacionales e internacionales
                    como asociados de negocios, impulsamos de forma conjunta nuestro esfuerzo empresarial a la
                    excelencia,
                    con conciencia ambiental y social.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="">
                  <img src="./assets/img/icono-entrenamiento-continuo.webp" width="60px" alt="">
                  <span><b>Entrenamiento Continuo</b></span>
                  <p class="text-justify">Somos los mejores pues jamás dejamos de aprender, como parte de nuestro plan
                    de
                    mejora continua incrementar nuestro conocimiento es un paso clave en la búsqueda del éxito, con
                    herramientas digitales de avanzada hasta la más simple técnica presencial con todos los cuidados
                    de
                    distanciamiento exigidos en nuestra nueva normalidad hasta el seguimiento al sitio de trabajo, en
                    ECOVITALI no descansamos hasta que nuestro cliente esté satisfecho.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="">
                  <img src="./assets/img/icono-entornos-controlados.webp" width="60px" alt="">
                  <span><b>Entrenamiento en Entornos Controlados</b></span>
                  <p>Nuestro sistema de entrenamiento no son simplemente clases sustentadas en textos, nuestros
                    técnicos
                    son entrenados en ambientes controlados que simulan un entorno específico, donde aprenden desde el
                    protocolo más básico hasta las más complejas técnicas de tratamiento, esto nos permite detectar
                    deficiencias de forma oportuna y fortalecer criterios que garanticen un servicio profesional y
                    resultados exitosos.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-section section-padding section-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-7 col-lg-5 col-12">
          <h4 class="text-start mt-2 p-4">No permita que las plagas tomen el control en ningún aspecto de su vida,
            contacte con nuestros asesores para conocer más y brindarle una solución real ya sea en su hogar o empresa.
          </h4>
        </div>
        <div class="col-xl-5 col-lg-5 col-12">
          <div class="flip-boton">
            <a href="">
              <div class="flip-boton-inner">
                <div class="flip-boton-front">
                  <p class="title2">Contacte a uno de nuestros asesores <svg xmlns="http://www.w3.org/2000/svg"
                      width="35" height="35" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                    </svg></p>
                </div>
                <div class="flip-boton-back">
                  <p class="title2">Gracias por preferirnos <svg xmlns="http://www.w3.org/2000/svg" width="35"
                      height="35" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z" />
                    </svg></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section-padding">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <h2 class="text-center mb-5">Apasionados por la Ciencia y el Conocimiento</h2>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 ">
        <div class="text-justify">
          <p>
            En ECOVITALI siempre estamos buscando las mejores opciones y con ello nuestra responsabilidad de siempre
            saber
            más, es por ello que somos apasionados por la ciencia, desde los más simples equipos y su calibración ideal,
            hasta evidenciar que los componentes e insumos que utilizamos para el servicio de nuestro cliente son los
            ideales.
            <br>
            Trabajamos de forma conjunta con asociados nacionales e internacionales expertos en materias relativas al
            control de plagas, desde técnicos con amplio conocimiento en entomología hasta aquellos que pueden aportar
            con
            su experiencia en distintas áreas, no dejamos nada al azar y de esta manera identificamos los errores y
            tomamos acciones correctivas inmediatas para continuar nuestro camino a la excelencia.
          </p>
        </div>
        <div class="col-lg-12 mt-4 mb-4 text-center">
          <a class="btn custom-btn custom-border-btn">Conozca más Acerca de Nosotros</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 d-flex align-items-md-center justify-content-md-center">
        <img src="./assets/img/cientifico.png" class="about-image bg-light shadow-lg img-fluid" alt="Cientifico">
      </div>
    </div>
  </div>
  -->
