.text
{
height:470px;
width:540px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.expertos-plagas
{
color:#18191f;
text-align:left;
vertical-align:text-top;
font-size:72px;
font-family:Inter;
line-height:98px;
border-style:hidden;
outline:none;
width:540px;
}
.nuestros-tecnicos
{
color:#18191f;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:32px;
border-style:hidden;
outline:none;
width:540px;
}
