<div class="container">
  <div class="row justify-content-start align-items-start gap-4">
    <div class="col-md-12 col-lg-5 col-xl-5 d-none d-sm-block">
      <h1 class="display-1 fw-bold text-left mt-5">Expertos en control de plagas</h1>
      <p class="mt-4">
        En ECOVITALI siempre estamos buscando las mejores opciones y con ello nuestra responsabilidad de siempre saber más, es por ello que somos apasionados por la ciencia, desde los más simples equipos y su calibración ideal, hasta evidenciar que los componentes e insumos que utilizamos para el servicio de nuestro cliente son los ideales.
      </p>
      <p class="d-none d-lg-block">
        Nuestros técnicos con certificación no son solo un argumento comercial, estamos realmente comprometidos con la excelencia, es por ello que nuestros técnicos son entrenados y certificados con el respaldo de agencias de control nacional competente.
      </p>
    </div>

    <div class="container col-lg-6 col-xl-6 ">
      <div class= "align-items-center justify-content-end">
        <img class="img-fluid float-end mt-3"  src="./assets/img/portada3.jpg" alt="carrusel">
      </div>
    </div>

    <div class="col-xl-6 col-lg-7 col-md-12 align-items-center">
      <div class="col-lg-7 text-center">
        <a class="btn custom-btn custom-border-btn mb-5">Solicita nuestros servicios</a>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-start align-items-start gap-4">
        <div class="col-md-12 col-lg-5 col-xl-5 d-none d-sm-block">
          <h1 class="display-1 fw-bold text-left mt-5">Nuestras Certificaciones</h1>
          <p class="">
          Contamos con el respaldo de profesionales que junto a sistemas de gestión certificados por firmas nacionales e internacionales como asociados de negocios, impulsamos de forma conjunta nuestro esfuerzo empresarial a la excelencia, con conciencia ambiental y social.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="certificados">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
          <img src="ministerio-del-ambiente..webp" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
