/*---------------------------------------
CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}


.custom-btn:hover {
  background: transparent;
  color: var(--primary-color);
}

.custom-border-btn {
  background: var(--primary-color);
  border-color: transparent;
  color: var(--white-color);
}


.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--white-color);
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--site-footer-bg-color);
}


.logos-certf {
  margin: auto;
  width: 130px;
  height: 130px;
  }


/* CSS DE LOS SECTORES */

.icon-sector {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background: rgba(217, 217, 217, 0.58);
  border: 4px solid green;
  box-shadow: 0 0 20px green;
  backdrop-filter: blur(6px);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.icon-sector:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.icon-sector:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.icon-sector{

}

.sectores-btn{
color: var(--custom-btn-bg-color);
margin-top: 0;
padding: 15px 90px;
}

.sectores-btn:hover {
background: var(--primary-color);
color: var(--white-color);
}

.sectores-btn-border {
background: transparent;
border: 2px solid var(--custom-btn-bg-color);
border-left: none;
color: var(--primary-color);
}

.border-empresarial{
  border: 2px solid var(--custom-btn-bg-color);
}









/* .sectores-grid{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(2000px, 1fr));
 grid-gap: 20px;
}

@media(max-width: 768px){
  parent{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 480px){
  parent{
    grid-template-columns: repeat(2, 1fr);
  }
} */
