<div class="container">
  <div class="row justify-content-start align-items-start gap-4">
    <div class="col-md-12 col-lg-5 col-xl-5 d-none d-sm-block">
      <h1 class="display-1 fw-bold text-left mt-5">Expertos en control de plagas</h1>
      <p class="mt-4">
        En ECOVITALI siempre estamos buscando las mejores opciones y con ello nuestra responsabilidad de siempre saber
        más, es por ello que somos apasionados por la ciencia, desde los más simples equipos y su calibración ideal,
        hasta evidenciar que los componentes e insumos que utilizamos para el servicio de nuestro cliente son los
        ideales.
      </p>
      <p class="d-none d-lg-block">
        Nuestros técnicos con certificación no son solo un argumento comercial, estamos realmente comprometidos con la
        excelencia, es por ello que nuestros técnicos son entrenados y certificados con el respaldo de agencias de
        control nacional competente.
      </p>
    </div>

    <div class="col-xl-6 col-lg-6  mt-5">
      <div class="align-items-xl-end justify-content-end">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/img/portada2.webp" class="d-flex rounded img-fluid img-carousel" alt="Virus y Bacterias">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada3.webp" class="d-flex img-fluid img-carousel" alt="Control de Calidad">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada4.webp" class="d-flex img-fluid img-carousel" alt="Control de Plagas">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/portada5.webp" class="d-flex img-fluid img-carousel" alt="Control de Roedores">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-7 col-lg-7 col-md-12 align-items-center mt-sm-3 ">
      <div class="col-lg-7 text-center">
        <a class="btn custom-btn custom-border-btn">Solicita nuestros servicios</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-5 col-xl-5">
        <h1 class="display-4 fw-bold text-xl-start text-lg-start text-center mt-5">Nuestras Certificaciones</h1>
        <p>Contamos con el respaldo de profesionales que junto a sistemas de gestión certificados por firmas nacionales e internacionales como asociados de negocios, impulsamos de forma conjunta nuestro esfuerzo empresarial a la excelencia, con conciencia ambiental y social.
        </p>
      </div>
      <div class="col-1"></div>
      <div class="col-12 col-md-12 col-lg-6 col-xl-6">
        <div class="justify-content-center justify-content-lg-end justify-content-xl-end align-items-xl-end">
          <a href="certificaciones.html#">
            <img src="./assets/img/ISO.webp" class="logos-certf" alt="Certificación ISO-9001">
            <img src="./assets/img/MDA.webp" class="logos-certf" alt="Ministerio del Ambiente">
            <img src="./assets/img/AMCA.webp" class="logos-certf" alt="American Mosquito Control Association">
            <img src="./assets/img/ARCSA.webp" class="logos-certf" alt="Asociación Ecuatoriana de Control de Plagas">
            <img src="./assets/img/MSP.webp" class="logos-certf" alt="Ministerio de Salud Pública">
            <img src="./assets/img/NPMA.webp" class="logos-certf" alt="National Pest Management Association">
            <img src="./assets/img/AGROCALIDAD.webp" class="logos-certf" alt="Agrocalidad">
            <img src="./assets/img/BASC.webp" class="logos-certf" alt="Business Alliance for Secure">
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- CARTILLAS FUMIGACION, ASISTENCIA, COBERTURA, TRATAMIENTO -->

<div class="container">
  <div class="row mt-5">
      <div class="col-lg-3 col-md-6  col-12 mb-4 mb-lg-0">
          <div class="featured-block d-flex justify-content-center align-items-center">
              <a href="home.html" class="d-block">
                  <img src="./assets/img/icono-fumigacion.webp" class="featured-block-image img-fluid" alt="">
                  <p class="featured-block-text"><strong>Fumigación y Control 24/7</strong></p>
              </a>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
          <div class="featured-block d-flex justify-content-center align-items-center">
              <a href="home.html" class="d-block">
                  <img src="./assets/img/icono-asistencia.webp" class="featured-block-image img-fluid" alt="">
                  <p class="featured-block-text"><strong>Asistencia Inmediata</strong></p>
              </a>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
          <div class="featured-block d-flex justify-content-center align-items-center">
              <a href="home.html" class="d-block">
                  <img src="./assets/img/icono-ecuador.webp" class="featured-block-image img-fluid" alt="">
                  <p class="featured-block-text"><strong>Cobertura a Nivel Nacional</strong></p>
              </a>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
          <div class="featured-block d-flex justify-content-center align-items-center">
              <a href="home.html" class="d-block">
                  <img src="./assets/img/icono-tratamientos.webp" class="featured-block-image img-fluid" alt="">
                  <p class="featured-block-text"><strong>Tratamiento ideal para el cliente</strong></p>
              </a>
          </div>
      </div>

  </div>
</div>
